{paypal_block.{
<div class="row wallet">
    <div class="col-xs-12">
        <div class="text-center">
            <div class="spacer-md m-t-0">
                <img style='max-width: 120px; position: relative; margin-bottom: -20px;' src="{%card_image%}"><br/>
                <strong><i style="color:#193881;">Pay</i><i style="color:#129ADA;">Pal</i> <small class="text-uppercase">checkout</small></strong>
                <div class="spacer-sm">PayPal is processing the payment, please wait...</div>
            </div>
        </div>
    </div>
</div>
{%paypal_ipn_form%}
}}