<div class="clearfix m-t-20">
    <h5 class="text-dark pull-left strong m-b-0">Top Posts</h5>
    <ul class="nav nav-tabs nav-right">
        <li><a href="">Answers</a></li>
        <li><a href="">Questions</a></li>
        <li class="active"><a href="">All</a></li>
    </ul>
    <div class="m-t-20">
        <div class="{[row]}">
            <div class="{[col(70)]}">
                <span class="label label-success strong m-r-10">209</span>
                <h5 class="display-inline">
                    <a href="">How to make facebook login button required to click?</a>
                </h5>
            </div>
            <div class="{[col(30)]} text-right">
                Mar 28' 18
            </div>
        </div>
    </div>
</div>