<h3>{%title%}</h3>
{success.{
<div class="alert alert-success">
    <div class="pull-left m-r-15"><i class="fas fa-check-circle fa-2x"></i></div>
    <div class="overflow-hide"><strong>{%title%}</strong><br/>{%description%}</div>
</div>
}}
{error.{
<div class="alert alert-warning">
    <div class="pull-left m-r-15"><i class="fas fa-exclamation-triangle fa-2x"></i></div>
    <div class="overflow-hide"><strong>{%title%}</strong><br/>{%description%}</div>
</div>
}}
<hr/>
<a href="{%back_link%}">{%back_title%}</a>
