{%opentable%}
{weblink_submit.{
    <div class='well spacer-xs'>{%guidelines%}</div>
    {%openform%}
    {%weblink_cat%}
    {%weblink_name%}
    {%weblink_url%}
    {%weblink_language%}
    {%weblink_description%}
    {%weblink_submit%}
    {%closeform%}
}}
{weblink_confirm_submit.{
    <div class='well text-center'>
        <p class='strong'>{%title%}</p>
        <p class='strong'>{%submit_link%}</p>
        <p class='strong'>{%index_link%}</p>
    </div>
}}
{weblink_no_submit.{
    <div class='well text-center'>{%text%}</div>
}}
{%closetable%}
