@font-face {
    font-family: 'phpfusion-icon';
    src: url('fonts/PHPFusion.eot?26517392');
    src: url('fonts/PHPFusion.eot?26517392#iefix') format('embedded-opentype'),
    url('fonts/PHPFusion.woff2?26517392') format('woff2'),
    url('fonts/PHPFusion.woff?26517392') format('woff'),
    url('fonts/PHPFusion.ttf?26517392') format('truetype'),
    url('fonts/PHPFusion.svg?26517392#phpfusion-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.php-fusion {
    font: normal normal normal 14px/1 'phpfusion-icon';
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.php-fusion:before {
    content: "\e800" !important;
}
