@font-face {
    font-family: 'phpfusion-icon';
    src: url('fonts/PHPFusion.eot?85080470');
    src: url('fonts/PHPFusion.eot?85080470#iefix') format('embedded-opentype'),
    url('fonts/PHPFusion.woff2?85080470') format('woff2'),
    url('fonts/PHPFusion.woff?85080470') format('woff'),
    url('fonts/PHPFusion.ttf?85080470') format('truetype'),
    url('fonts/PHPFusion.svg?85080470#phpfusion') format('svg');
    font-weight: normal;
    font-style: normal;
}

.phpfusion-icon {
    font: normal normal normal 14px/1 'phpfusion-icon';
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.phpfusion-icon:before {
    content: '\e800';
}
