.news-index .news-item .item-image {
    border-radius: 5px;
    max-height: 230px;
}

.news-index .news-item .item-thumbnail {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 230px;
    overflow: hidden;
    border-radius: 5px;
    transform: scale(1.2);
}

.news-index .news-item .img-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.news-index .news-item .post-title > a {
    color: #152035;
}

.news-index .news-item .post-meta {
    color: #889097;
    font-size: 12px;
}
