/* Standard Stock News */
.news-snippet {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    padding: 15px;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6);
    margin-top: -100%;
    color: #FFF !important;
    text-decoration: none !important;
}

.carousel-indicators > li {
    border: 1px solid #EEE;
}

.news-title {
    margin-top: 20px !important;
}

.news-text {
    word-break: break-all;
    word-wrap: break-word;
}

.news-footer > a {
    color: rgb(153, 153, 153);
    font-weight: 600;
}

.news-footer > a:hover, .news-footer > a:focus, .news-footer > a:active {
    color: rgb(21, 133, 212) !important;
}

.news-avatar {
    background-color: #FFF; position: relative; margin-bottom: 20px; margin-top: -15px; padding-top: 5px; padding-right: 5px; z-index: 100;
}

.news-profile-link {
    min-height: 70px;
}

#newscat > ul > li > a {
    width: auto !important;
    margin: 5px;
}

.image-header img {
    width: auto;
    min-height: 100%;
    max-width: inherit;
    margin: 0 auto;
    position: relative;
}
.comments-item {
    text-decoration: none !important;
}

.news-img-center {
    display: block;
    margin: 5px auto 30px;
}

.news-img-center > img {
    margin: 0 auto;
}

.panel-footer {
    position: relative;
    bottom: 0px;
}

#news-carousel img {
    width: 100%;
    margin-top: 0;
}

#news-carousel .item {
    max-height: 200px;
}

#news-carousel .carousel-caption {
    position: absolute;
    top: 30px;
    padding: 0;
}

#news-carousel .carousel-caption > div {
    min-height: 80px;
    width: 100%;
}

#news-carousel a {
    color: #FFF !important;
}

#news-carousel a:hover, #news-carousel a:focus {
    color: #FFF !important;
    text-decoration: underline !important;
}