
navigeringv1.ul, li {
	margin: 0;
	padding: 0;
	list-style:none;
	font-size: 10px;
}

.navigation-header
{
border-top-left-radius: 8px;
border-top-right-radius: 8px;
-moz-border-radius-topleft: 8px;
-moz-border-radius-topright: 8px;
-webkit-border-top-right-radius: 8px;
-webkit-border-top-left-radius: 8px;
text-align:center;
background-color: #F3F7F9;
height: 15px;
list-style-type: none;
color: #666;
font-weight: bold;
margin-bottom: 5px;
margin-top: 5px;
}


.navigeringv1 {
	font-size: 10px;
	height: auto;
	background-color: #F3F7F9;
	font-weight: bold;
}


.navigeringv1 .navigeringv1_liste li a {
	display:block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 4px;
	text-decoration:none;
	color: #3B5998;
	border-bottom: 1px solid #7A7A7C;
}
