/* Put anything non-bootstrap here */
/* Wrapper */
.body-wrap {
	background: #FFF;
	border: 1px solid #DDD;
	-webkit-box-shadow: 0 -1px 10px 2px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: 0 -1px 10px 2px rgba(0, 0, 0, 0.33);
	box-shadow: 0 -1px 10px 2px rgba(0, 0, 0, 0.33);
	margin-top: 40px;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}
.body-inner-wrap {
	border-top: 1px solid #FFF;
	padding: 10px 15px;
	background: #FFF;
	box-shadow: 0 10px 10px #C8C8C8 inset;
	text-decoration: none;
}
header .logo {
	float: left;
	margin-right: 10px;
	display: inline-block;
	margin-bottom: -30px;
	margin-top: -40px;
}
header > .tagline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #BABABA;
	padding-left: 26px;
	float: left;
	margin-left: 10px;
	display: inline;
	background-image: url(images/bg-slogan.gif);
	background-repeat: no-repeat;
	background-position: left -8px;
	height: 30px;
}
header .call-tag {
	float: right;
}
header .call-tag em > a {
	color: #5D9E42;
	font-style: normal;
	margin-right: 5px;
}
header .call-tag em > a:hover, header .call-tag em > a:focus {
	text-decoration: underline;
}
/* Home Page Lower Banner */
.lower-banner { width: 100%; overflow: hidden;
	padding: 16px 0 30px;
	background: #252525 no-repeat 0 100%;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	margin-bottom: 20px;
}
.lower-banner .holder { padding: 0 20px; overflow: hidden; position: relative; }
.lower-banner .col {
	color: #868685; font-size: 12px;
}
.lower-banner .col h2 { font-weight: normal; font-size: 18px; color: #FFF; margin-top: 0; margin-right: 0; margin-bottom: 9px; margin-left: 0; padding-top: 7px; padding-right: 40px; padding-bottom: 5px; padding-left: 0; }
.lower-banner .col h2 a { text-decoration: none; color: #FFF; }
.lower-banner .col p { line-height: 18px; margin-top: 0; margin-bottom: 18px; }
.lower-banner .more { color: #5D9E42; padding: 0 10px 0 0; background: url(images/arrow-more.gif) no-repeat 100% 6px; }
.lower-banner .more:hover { color: #FFF; text-decoration: none; }

/* Lower banner */
.lower-section { width: 100%; overflow: hidden; border-top: 1px solid #D8D8D8; clear: both; }
.lower-section-home { border: 0; }
.lower-section .col-holder { padding: 24px 25px 39px 30px; overflow: hidden; background: #F1F1F1 repeat-x 0 100%; border-bottom: 1px solid #FCFCFC; }
.lower-section-home .col-holder { background: #FFF repeat-x 0 100%; }
.lower-section .col-holder .holder { width: 1000px; overflow: hidden; position: relative; }
.lower-section .col-holder .col { float: left; width: 275px; margin-top: 0; margin-right: 38px; margin-bottom: 0; margin-left: 0; }
.lower-section .col-holder h3 { font-weight: normal; font-size: 18px; margin-top: 0; margin-right: 0; margin-bottom: 9px; margin-left: 0; padding-top: 2px; padding-right: 40px; padding-bottom: 5px; padding-left: 0; color: #323232; }
.lower-section .col-holder p { line-height: 18px; margin-top: 0; margin-right: 0; margin-bottom: 18px; margin-left: 0; }
.lower-section .col-holder a { color: #5D9E42; }
.lower-section .col-holder a:hover { color: #323232; text-decoration: none; }
.lower-section .bottom { background: #D7D7D7; height: 39px; overflow: hidden; padding: 0 15px 0 31px; }
.lower-section .bottom .txt-holder { overflow: hidden; color: #727272; font-size: 12px; padding: 11px 0 0; }
* html .lower-section .bottom .txt-holder { overflow: visible; height: 1%; }
.footer-nav a:hover { color: #323232; }
.more-dark { padding: 0 10px 0 0; background: url(images/arrow-more-dark.gif) no-repeat 100% 6px; }
.lower-section .bottom .txt-holder p { margin: 0 0 0; }
.lower-section .bottom a { color: #47842E; }
.lower-section .bottom a:hover { text-decoration: none; color: #323232; }

/*----- Home Banner Icons (32x32px) -----*/
.lower-banner h2.icon1 { background: url(images/home-icon1.gif) no-repeat 100% 0; }
.lower-banner h2.icon2 { background: url(images/home-icon2.gif) no-repeat 100% 0; }
.lower-banner h2.icon3 { background: url(images/home-icon3.gif) no-repeat 100% 0; }

