.idea
*.xml
*.iml
*.db
*.config
.DS_Store
.htaccess
config.php
config-copy.php
/home.php
/infusions/news/news_cats/
/includes/header_includes.php
/includes/footer_includes.php
/.github/
gateway/flood/
images/thumbs/
