.idea
*.xml
*.iml
*.db
*.config
.DS_Store
.tmb
/cache
/temp
.htaccess
config*.php
fusion_error_log.log
/includes/custom_includes.php
/includes/header_includes.php
/includes/footer_includes.php
/includes/gateway/flood/
#/includes/vendor/
/installer_*.log
.maintenance
/includes/plugins/twig/cache/
