# Autodetect text files
* text=auto

# Force LF for all text files
*.* text eol=lf

# Force images/audio/video/fonts to be handled as binaries
*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.png binary
*.psd binary
*.wbmp binary
*.webp binary
*.mp3 binary
*.wav binary
*.mp4 binary
*.mpeg binary
*.webm binary
*.swf binary
*.rar binary
*.zip binary
*.ttf binary
*.eot binary
*.otf binary
*.woff binary
*.woff2 binary

# Files and directories with the attribute export-ignore won't be added to archive files.
.gitattributes export-ignore
.gitignore export-ignore
