[submodule "infusions/gallery"]
	path = infusions/gallery
	url = https://github.com/php-fusion/ci-Gallery.git
	branch = Babylon
[submodule "infusions/news"]
	path = infusions/news
	url = https://github.com/php-fusion/ci-News.git
	branch = Babylon
[submodule "infusions/weblinks"]
	path = infusions/weblinks
	url = https://github.com/php-fusion/ci-Weblinks.git
	branch = Babylon
