[submodule "infusions/forum"]
	path = infusions/forum
	url = https://github.com/php-fusion/ci-Forum.git
	branch = master
[submodule "infusions/gallery"]
	path = infusions/gallery
	url = https://github.com/php-fusion/ci-Gallery.git
	branch = master
[submodule "infusions/news"]
	path = infusions/news
	url = https://github.com/php-fusion/ci-News.git
	branch = master
