/*Aer Theme for PHP-Fusion 7 by Max "Matonor" Toball*/

/*General*/
html {font-size: 75%;}
body {
	background: #3a3a3a;
	color: #fff;
}
* html body{
	width: 100%;
	overflow: hidden;
}
#body2 {
	background: #fff;
	color: #3d3d3d;
}
* {
	font-family: Verdana, Arial, Sans, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
}
ul, ol, dl {margin: 0.5em 1em}
li {margin-left: 1.5em; line-height: 1.5em;}
option {padding-left: 0.75em}
#subheader ul, #subheader li, #userbar ul, #userbar li, #navigation ul, #navigation li {
	margin: 0;
	line-height: inherit;
}

/*Links*/
a {text-decoration: none;}
a:hover {text-decoration: underline;}
#subheader a, #links a{
	color: #fff;
	text-decoration: none;
}
#subheader a{
	display: block;
	float: left;
	color: #242424;
	margin-right: 0.75em;
	margin-bottom: -2px;
	background: #e5e5e5 url(images/tabbg.png) repeat-x top right;
}
* html #subheader a {margin: 0 0.2em;}
#subheader a span{
	display: block;
	float:left;
	height: 2em;
	line-height: 2em;
	padding: 0 0.5em;
	background: transparent url(images/tabl.png) no-repeat top left;
}
#subheader a:hover, #subheader .active a, #subheader .current-link a{
	background: #fff url(images/tabhbg.png) repeat-x top right;
}
#subheader .current-link a:hover{
	background: #fff url(images/tabbg.png) repeat-x top right;
}
#subheader a:hover span, #subheader .active a span, #subheader .current-link a span{
	background-image: url(images/tabhl.png);
}
#subheader .current-link a:hover span{
	background-image: url(images/tabl.png);
}
#links a{
	line-height: 1.6em;
	height: 1.6em;
	font-size: 0.9em;
	margin-right: 0.3em;
}
#links a:hover {
	color: #ccc;
}
#footer a {
	color: #aaa;
}
#anchors a {
	line-height: 1.6em;
	font-size: 1em;
	color: #444;
	margin-left: 0.5em;
}
#anchors a:active, #anchors a:focus, #anchors a:hover{color: #fff;}


/*Structure*/
#subheader {
	background: url(images/subheadbg.png) repeat-x;
	padding-top: 0.7em;
	padding-left: 1em;
	overflow: hidden;
	height: 1.8em;
}
#subheader ul {
	display: table;
	white-space: nowrap;
	right: 0 !important;
	padding: 0 !important;
}
#subheader li {
	display: table-cell;
}
#mainheader {
	padding: 0 1em 1em 1em;
}
#switcher {
	width: 220px;
	padding-right: 55px;
}
#userbar{
	height: 1.8em;
	position: relative;
	font-family: "Trebuchet MS", "Lucida Grande", sans-serif;
}
#userbar ul li, #subheader ul li {
	float: left;
	list-style: none;
}
#links {
	position: absolute;
	right: 0.5em;
	top: 0;
}
#tab {
	position: absolute;
	right: -13px;
	bottom: 0;
	margin-top: 0.1em;
	width: 210px;
	height: 23px;
	background: transparent url(images/tab_l.gif) repeat-x bottom left;
}
#tab_r {
	height: 23px;
	line-height: 23px;
	padding: 0 1em;
}
#footer {
	color: #888;
	margin: -1em auto 0 auto;
	padding: 1em;
	font-size: 0.8em;
}
#subfooter {
	margin: 0 auto;
	padding: 1em;
	color: #888;
	font-size: 0.75em;
}
#closer {
	background: url(images/closer.png) repeat-x top;
	height: 1em;
}
.resized {
	padding: 0 38px;
}
#cont_l {
	padding-left: 45px;
	background: url(images/shadowl.png) repeat-y left;
}
#cont_r {
	padding-right: 45px;
	background: url(images/shadowr.png) repeat-y right;
}
#main-bg {
	line-height: 1.45em;
	padding: 0.5em 0.25em;
	z-index: 3;
}
#side-border-left {
	width: 16.75em;
	max-width: 16.75em;
	padding: 0.5em 0 0 0.5em;
	z-index: 1;
	float: left;
	display: inline;
}
#side-border-right {
	width: 16.75em;
	max-width: 16.75em;
	padding: 0.5em 0.5em 0 0;
	z-index: 2;
	float: right;
	display: inline;
}
.side-both #main-bg {margin: 0 17em;}
.side-left #main-bg {margin: 0 0.5em 0 17em;}
.side-right #main-bg {margin: 0 17em 0 0.5em;}


/*Navigation Panel*/
#navigation {margin: 0 -0.45em 0 -0.45em;}
#navigation h2, .side-label {
	color: #444;
	font-size: 1.1em;
	padding: 0.25em;
	margin-bottom: 1px;
	font-weight: 700;
}
#navigation ul {
	margin: 0;
	display: block;
	list-style-type: none;
	line-height: 1.2em;
}
#navigation .bullet {display: none;}
* html #navigation ul li, #navigation a {height: 1%;}
#navigation a {
	background: #f0f0f0 url(images/navbg.jpg) repeat-x center right;
	display: block;
	text-decoration : none;
	margin-bottom: 1px;
}
#navigation a span{
	display: block;
	height: 1.7em;
	line-height: 1.7em;
	padding: 0 0.5em;
}
#navigation a:hover {
	background-image: url(images/navhbg.jpg);
}
#navigation li.current-link a {
	background-image: url(images/navhbg.jpg);
}
#navigation li.current-link a:hover {
	background-image: url(images/navbg.jpg);
}


/*Misc Styles*/
.comment-avatar {
	padding-right: 6px;
	float: left;
}
.pagenav {padding: 0.4em;}
.pagenav span, .pagenav a, .pagenav a:hover {
	color: #ccc;
	border: 1px solid #ccc;
	padding: 0.2em 0.4em 0.2em 0.4em;
	margin: 0.2em;
	text-decoration: none;
}
.pagenav a {
	color: #333;
}
.switcherbutton {
	height: 16px;
	width: 16px;
}
.textbox, .button {
	color: #555;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 1em;
	margin-top: 0.1em;
	padding: 0.25em;
}
.textbox:focus {
	color: #333;
	border-color: #999;
}
.button{
	color: #aaa;
}
.bbcode{
	background: #fff;
	border: 1px solid #ddd;
}
.news-category {
	float: left;
	margin: 0.2em 0.5em 0 0;
}
.news-footer-img {vertical-align: middle;}
.panelcap {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 1.2em;
	padding-bottom: 0.25em;
	display: block;
	font-weight: 500;
}
.panelbody{
	padding: 0 0.5em;
}
#side-border-right .panelbody {
	border-right: 3px solid #ccc;
}
#side-border-left .panelbody {
	border-left: 3px solid #ccc;
}
.lbg {background: url(images/lbg.png) repeat-y left;}
.rbg {background: url(images/rbg.png) repeat-y right;}
.tbg {background: url(images/tbg.png) repeat-x top;}
.bbg {background: url(images/bbg.png) repeat-x bottom;}
.ctl {background: url(images/ctl.png) no-repeat top left;}
.cbl {background: url(images/cbl.png) no-repeat bottom left;}
.ctr {background: url(images/ctr.png) no-repeat top right;}
.cbr {
	background: url(images/cbr.png) no-repeat bottom right;
	height: 1%;
	padding: 0.95em 0.95em;
}
#side-border-right .ctr {background: url(images/ctr2.png) no-repeat top right;}
#side-border-right .ctl, #main-bg .ctl {background: url(images/ctl2.png) no-repeat top left;}
#side-border-right .cbl {background: url(images/cbl2.png) no-repeat bottom left;}
#side-border-right .cbr, #main-bg .cbr {
	background: url(images/cbr2.png) no-repeat bottom right;
	padding-left: 0.75em;
}
.code_bbcode div{
	border: 1px solid #ddd;
	border-left: 3px solid #ccc;
}
.code_bbcode div.tbl2{border-bottom: none;}
.quote,.admin-message {
	border: 1px solid #ddd;
	border-left: 3px solid #ccc;
	background: #f3f3f3;
	margin: 0 2em;
	padding: 3pt;
}
.admin-message{
	color: #999;
	padding: 0.5em;
	margin: 1em auto;
	width: 80%;
}
code, pre {
	font-family: monospace;
	font-size: 1.1em;
}
.poll {
	height: 1em;
	border: 1px solid #ccc;
	background: #f5f5f5;
}
.comment-name {font-weight: 700;}

.small,.small2,.side-small {font-size: 0.9em;}
.tbl-border{
	background: #f0f0f0;
	border: 1px solid #f5f2eb;
}
.tbl,.tbl1,.tbl2,.forum-caption {padding: 3pt;}
.forum-caption {
	color: #666;
	font-variant: small-caps;
	font-weight: 700;
	background: #eee;
}
.tbl1 {background: #f6f6f6;}
.tbl2 {background: #f2f2f2;}

div.emulated-fieldset {
	position: relative;
	margin: 20px 0px 10px 0px;
	border: 1px solid #ccc;
	width: 320px;
	background: inherit;
}
div.emulated-fieldset span.emulated-legend {
	display: inline;
	position: absolute;
	top: -12px;
	margin: 0 5px;
	padding: 4px;
	background: inherit;
}
div.emulated-fieldset div.attachments-list {
	padding: 10px 3px 3px 3px;
	width: 320px;
}
hr {
	border: solid #ccc 1pt;
	height: 1pt;
}
.setuser_body{
	background: #3a3a3a;
	color: #333;
}
.news-footer {
	padding: 0.5em;
	font-size: 0.9em;
	text-align:right;
}
.panelbutton{
	float: right;
	margin: 0.15em -0.25em 0 0;
}
h1,h2,h3,h4,h5,h6 {font-size: inherit;}


/*Helpers*/
.center {margin: 0 auto;}
.content_center {text-align: center;}
.flleft {float: left !important;}
.flright {float: right !important;}
.clear {clear: both;}
.inline {display:inline;}

#container{
	width: 100%;
	overflow-x: auto;
	overflow-y: visible;
}

/*IE Fixes*/
* html #main-bg {
	height: 1%;
	width: auto;
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */
.floatfix {overflow:hidden;}
* html .floatfix {width:100%;}
.center, *[align="center"] {margin: 0 auto;}

/* TinyMCE specific rules */
body.mceContentBody {
	background: #FFFFFF;
	color: #000000;
}
