a {
	color: #6f9228;
	text-decoration: none;
}

a:hover {
	color: #6f9228;
	text-decoration: underline;
}

a:hover.side {
	color: #6f9228;
	text-decoration: underline;
}

.button:focus, .button:hover {
	background-position: 0 -281px;
	background-color: #D84743;
	border-color: #6f9228;
}

.button:active, .button.active {
	background-position: 0 -321px;
	background-color: #A5211E;
	border-color: #6f9228;
}

.sub-header {
	border-bottom: 2px solid #6f9228;
}

.sub-header ul li.current-link a {
	background-color: #6f9228;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#83ae2c),color-stop(100%,#6f9228));
    background-image: -webkit-linear-gradient(#83ae2c,#6f9228);
    background-image: -moz-linear-gradient(#83ae2c,#6f9228);
    background-image: -o-linear-gradient(#83ae2c,#6f9228);
    background-image: linear-gradient(#83ae2c,#6f9228);
}

.sub-footer-top {
	background-color: #6f9228;
}

.scapmain {
	background-color: #6f9228;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#83ae2c),color-stop(100%,#6f9228));
    background-image: -webkit-linear-gradient(#83ae2c,#6f9228);
    background-image: -moz-linear-gradient(#83ae2c,#6f9228);
    background-image: -o-linear-gradient(#83ae2c,#6f9228);
    background-image: linear-gradient(#83ae2c,#6f9228);
}

.capmain {
	background-color: #6f9228;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#83ae2c),color-stop(100%,#6f9228));
    background-image: -webkit-linear-gradient(#83ae2c,#6f9228);
    background-image: -moz-linear-gradient(#83ae2c,#6f9228);
    background-image: -o-linear-gradient(#83ae2c,#6f9228);
    background-image: linear-gradient(#83ae2c,#6f9228);
}

::selection { color: #fff; background: #6f9228; }
::-moz-selection { color: #fff; background: #6f9228; }
div.highlightBlue::selection { color: #fff; background: #6f9228; }
div.highlightBlue::-moz-selection { color: #fff; background: #6f9228; }

.news_info ul li.date { background: url(../images/icons/date.png) 0 -24px no-repeat; }
.news_info ul li.author { background: url(../images/icons/author.png) 0 -24px no-repeat; }
.news_info ul li.comments { background: url(../images/icons/comments.png) 0 -24px no-repeat; }

#navigation li.current-link a {
	background-color: #6f9228;
}
