.header {
    height: 85px;
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

header .navbar-brand img {
    max-width: 150px;
}

.header, .bg-dark {
    background-color: #272930 !important;
}

.navbar.bg-dark ul.nav.navbar-nav > li > a {
    color: #FFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    padding: 6px 8px 7px;
    margin-top: 27px;
    display: inline-block;
}

.navbar.bg-dark ul.nav.navbar-nav > li > a {
    -moz-transition: border .20s linear,color .20s linear,background-color .20s linear;
    -webkit-transition: border .20s linear,color .20s linear,background-color .20s linear;
    -o-transition: border .20s linear,color .20s linear,background-color .20s linear;
    transition: border .20s linear,color .20s linear,background-color .20s linear;
}

.horizon-container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

