:root {
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

body {
    background: #F2F2F2;
    font-size:17px;
}

.header-dark {
    position: relative;
}

.header {
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

header .navbar-brand img {
    max-width: 170px;
}

footer,
.header, .bg-dark {
    background-color: #1A1C23 !important;
    display: flex;
    align-self: center;
    width: 100%;
}

.navbar-dark ul.navbar-nav .nav-link {
    color: #FFF;
    padding: 6px 8px 7px;
}

.navbar-dark ul.navbar-nav .nav-link:hover {
    background-color: #1a1c21;
}

.navbar-dark ul.navbar-nav .active .nav-link {
    font-weight: 700;
}

.navbar-dark .language-icon {
    width: 24px;
    height: 24px;
    margin-right: 7px;
}

.navbar-dark ul.navbar-nav .nav-link {
    -moz-transition: border .20s linear, color .20s linear, background-color .20s linear;
    -webkit-transition: border .20s linear, color .20s linear, background-color .20s linear;
    -o-transition: border .20s linear, color .20s linear, background-color .20s linear;
    transition: border .20s linear, color .20s linear, background-color .20s linear;
}

@media (max-width: 978px) {
    .container-fluid {
        padding: 0;
    }
}

footer {
    padding: 100px 0 0;
    color: #7c7f85;
    display: block;
}

footer .top-footer {
    padding-bottom: 40px;
}

footer .brand {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

footer .brand > div {

}

footer .icon {
    width: 52px;
    height: 52px;
    margin-right: 20px;
}

footer h6 {
    color: #fff;
    font-weight: 700;
}

footer a {
    color: #7c7f85;
}

a.profile-link:hover,
a.profile-link:focus,
footer a:hover {
    color: var(--primary);
}

footer .copyright-footer {
    border-top: 1px solid #262a34;
    font-size: 0.9rem;
    padding: 30px 0;
    text-align: center;
}

.btn-to-top {
    position: absolute;
    right: 30px;
}

a.profile-link {
    color: #7c7f85;
    font-weight: 700;
    font-size: 0.85rem;
}

.horizon-content .content {
    height: 100%;
}

.horizon-content .contentLeft {
    font-size: .95rem;
}

/* News Infusion */
#newsMenu {
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
    background: transparent !important;
    padding: 0;
}

#newsMenu .navbar-nav {
    margin: 0 !important;
    width: 100%;
}

#newsMenu li {
    width: 100%;
    display: block;
}

#newsMenu li a {
    border-radius: 5px;
    transition: background-color .3s ease-in-out;
    width: 100%;
    font-size: .90rem;
}

#newsMenu li.active a,
#newsMenu li a:hover,
#newsMenu li a:focus {
    background: #e6e7e8;
}

@media only screen and (max-width: 992px) {
    .news-main .media {
        flex-direction: column;
    }
    .news-main img {
        width:100%;
    }
    .news-main div {
        margin: 10px 0 !important;
    }

}
