@primary-alt-color: #1c84c6;
@primary-alt-hcolor: #1a7bb9;

@info-alt-color:#23c6c8;
@info-alt-hcolor: #21b9bb;

@danger-alt-color: #ed5565;
@danger-alt-hcolor: #ec4758;

button:focus {
    outline: 0 !important;
}

.float-e-margins .btn {
    margin-bottom: 5px;
}

.btn-toggle {
    color: #999c9e;

    svg {
        color: #787B7D;
    }

    &:hover svg, &:hover, &:focus {
        color: #fff;
    }
}


.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.btn.active,
.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}


.btn-default {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default.active:hover,
.btn-default.active:focus {
    color: inherit;
    border: 1px solid #d2d2d2;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}

.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active,
.btn-default.active[disabled],
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
    color: #cacaca;
}

.btn-link {
    color: inherit;
    &:hover, &:focus, &:active, &.active &.dropdown-toggle {
        color: #1ab394;
        text-decoration: none;
    }
    &:active, &.active, &.dropdown-toggle {
        background-image: none;
        box-shadow: none;
    }
    &.disabled, &:hover, &:focus, &:active, &.active, &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled]:active, &.active[disabled] {
        color: #cacaca;
    }
}


fieldset[disabled] .btn-link,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:focus,
fieldset[disabled] .btn-link:active,
fieldset[disabled] .btn-link.active {
    color: #cacaca;
}
.btn + .btn, a + .btn, .btn + a {
    margin-left:10px;
}

.btn {
    font-size: 14px;
    line-height: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), color-stop(25%, #fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#fff, #fff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #fff, #fff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#fff, #fff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#fff, #fff 25%, #e6e6e6);
    background-image: linear-gradient(#fff, #fff 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6e6e6',GradientType=0);
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: .1s linear all;
    -moz-transition: .1s linear all;
    -ms-transition: .1s linear all;
    -o-transition: .1s linear all;
    transition: .1s linear all;

    &.outline {
        background: transparent !important;
    }

    &:focus {
        box-shadow: none;
    }

    /** Sizing */

    &.btn-xs {
        font-size: 0.7rem;
        padding: 0.2rem 0.4rem;
    }

    &.btn-group-sm, &.btn-sm {
        font-size: 0.8rem;

        & > .btn {
            font-size: 0.8rem;
        }
    }

    &.btn-w-m {
        min-width: 120px;
    }

    /** Colors */
    @primary-default-color: #0064cd;
    @primary-default-hcolor: #049cdb;
    @primary-default-dcolor: #003f81;
    @success-default-color: #57a957;
    @success-default-hcolor: #62c462;
    @success-default-dcolor: #3d773d;
    @danger-default-color: #c43c35;
    @danger-default-hcolor: #c43c35;
    @danger-default-dcolor: #882a25;
    @info-default-color: #339bb9;
    @info-default-hcolor: #5bc0de;
    @info-default-dcolor: #22697d;
    @warning-alt-color: #f89406;
    @warning-alt-hcolor: #f89406;
    @warning-alt-dcolor: #ad6704;

    @inverse-default-color: #444;
    @inverse-default-hcolor: #222;
    @inverse-default-dcolor: #000;


    .btncolor(@color, @hcolor, @dcolor) {
        color: #fff;
        background-color: @color;
        background-repeat: repeat-x;
        background-image: -khtml-gradient(linear, left top, left bottom, from(@hcolor), to(@color));
        background-image: -moz-linear-gradient(top, @hcolor, @color);
        background-image: -ms-linear-gradient(top,@hcolor,@color);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@hcolor), color-stop(100%,@color));
        background-image: -webkit-linear-gradient(top, @hcolor,@color);
        background-image: -o-linear-gradient(top, @hcolor,@color);
        background-image: linear-gradient(top, @hcolor, @color);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb',endColorstr='#0064cd',GradientType=0);
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        border-color: @color @color @dcolor;
    }

    &.btn-primary {
        .btncolor(@primary-default-color, @primary-default-hcolor, @primary-default-dcolor);

        &:hover, &:focus, &.focus {
            background-position: 0 -15px;
            text-decoration: none;
        }

        &.btn-outline {
            color: @primary-default-color;
            background-color: transparent;
        }

        &.disabled, &:disabled {
            color: #fff;
            background-color: @primary-default-color;
            border-color: @primary-default-color;
        }

        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active,
        &.dropdown-toggle {
            color: #fff;
            background-color: @primary-default-color;
            border-color: @primary-default-color;
        }

        &:not(:disabled):not(.disabled):active:focus,
        &:not(:disabled):not(.disabled).active:focus,
        &.dropdown-toggle:focus {
            -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        }
    }
    &.btn-success {
        .btncolor(@success-default-color, @success-default-hcolor, @success-default-dcolor);

        &:hover, &:focus, &.focus {
            background-position: 0 -15px;
            text-decoration: none;
        }

        &.btn-outline {
            color: @success-default-color;
            background-color: transparent;
        }

        &.disabled, &:disabled {
            color: #fff;
            background-color: @success-default-color;
            border-color: @success-default-color;
        }

        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active,
        &.dropdown-toggle {
            color: #fff;
            background-color:@success-default-color;
            border-color: @success-default-color;
        }

        &:not(:disabled):not(.disabled):active:focus,
        &:not(:disabled):not(.disabled).active:focus,
        &.dropdown-toggle:focus {
            -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        }
    }
    &.btn-danger {
        .btncolor(@danger-default-color, @danger-default-hcolor, @danger-default-dcolor);

        &:hover, &:focus, &.focus {
            background-position: 0 -15px;
            text-decoration: none;
        }

        &.btn-outline {
            color:  @danger-default-color;
            background-color: transparent;
        }

        &.disabled, &:disabled {
            color: #fff;
            background-color:  @danger-default-color;
            border-color:  @danger-default-color;
        }

        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active,
        &.dropdown-toggle {
            color: #fff;
            background-color:  @danger-default-color;
            border-color:  @danger-default-color;
        }

        &:not(:disabled):not(.disabled):active:focus,
        &:not(:disabled):not(.disabled).active:focus,
        &.dropdown-toggle:focus {
            -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        }
    }
    &.btn-info {
        .btncolor(@info-default-color, @info-default-dcolor, @info-default-hcolor);

        &:hover, &:focus, &.focus {
            background-position: 0 -15px;
            text-decoration: none;
        }

        &.btn-outline {
            color: @info-default-color;
            background-color: transparent;
        }

        &.disabled, &:disabled {
            color: #fff;
            background-color: @info-default-color;
            border-color: @info-default-color;
        }

        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active,
        &.dropdown-toggle {
            color: #fff;
            background-color: @info-default-color;
            border-color: @info-default-color;
        }

        &:not(:disabled):not(.disabled):active:focus,
        &:not(:disabled):not(.disabled).active:focus,
        &.dropdown-toggle:focus {
            -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        }
    }
    &.btn-warning {
        .btncolor(@warning-alt-color, @warning-alt-hcolor, @warning-alt-dcolor);

        &:hover, &:focus, &.focus {
            background-position: 0 -15px;
            text-decoration: none;
        }

        &.btn-outline {
            color: @warning-alt-color;
            background-color: transparent;
        }

        &.disabled, &:disabled {
            color: #fff;
            background-color: @warning-alt-color;
            border-color: @warning-alt-color;
        }

        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active,
        &.dropdown-toggle {
            color: #fff;
            background-color: @warning-alt-color;
            border-color: @warning-alt-color;
        }

        &:not(:disabled):not(.disabled):active:focus,
        &:not(:disabled):not(.disabled).active:focus,
        &.dropdown-toggle:focus {
            -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        }
    }
    &.btn-inverse {
        .btncolor(@inverse-default-color, @inverse-default-dcolor, @inverse-default-hcolor);

        &:hover, &:focus, &.focus {
            background-position: 0 -15px;
            text-decoration: none;
        }

        &.btn-outline {
            color: @inverse-default-color;
            background-color: transparent;
        }

        &.disabled, &:disabled {
            color: #fff;
            background-color: @inverse-default-color;
            border-color: @inverse-default-color;
        }

        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active,
        &.dropdown-toggle {
            color: #fff;
            background-color: @inverse-default-color;
            border-color: @inverse-default-color;
        }

        &:not(:disabled):not(.disabled):active:focus,
        &:not(:disabled):not(.disabled).active:focus,
        &.dropdown-toggle:focus {
            -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        }
    }


}



.btn-white {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white,
.btn-white:active:focus,
.btn-white:active:hover,
.btn-white.active:hover,
.btn-white.active:focus {
    color: inherit;
    border: 1px solid #d2d2d2;
}

.btn-white:active,
.btn-white.active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}

.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    background-image: none;
}

.btn-white.disabled,
.btn-white.disabled:hover,
.btn-white.disabled:focus,
.btn-white.disabled:active,
.btn-white.disabled.active,
.btn-white[disabled],
.btn-white[disabled]:hover,
.btn-white[disabled]:focus,
.btn-white[disabled]:active,
.btn-white.active[disabled],
fieldset[disabled] .btn-white,
fieldset[disabled] .btn-white:hover,
fieldset[disabled] .btn-white:focus,
fieldset[disabled] .btn-white:active,
fieldset[disabled] .btn-white.active {
    color: #cacaca;
}
