{forum_admin.{
{%adm_openside%}
<ul>
	<div class="pull-left m-t-5">{%user_avatar%}</div>
	<div class="overflow-hide">
		<div class="display-block strong">{%user_profil%}</div>
		<span class="text-lighter">{%user_title%}</span>
	</div>
</ul>
{%adm_closeside%}
}}
{forum_member.{
{%memb_openside%}
<ul>
	<div class="pull-left m-t-5">{%user_avatar%}</div>
	<div class="overflow-hide">
		<div class="display-block strong">{%user_profil%}</div>
		<span class="text-lighter">{%user_title%}</span>
	</div>
</ul>
{%memb_closeside%}
}}
{no_forum.{
	<div class='spacer-xs text-center'>{%message%}</div>
}}
