{forum_admin.{
    {%adm_openside%}
        <div>
            <div class="pull-left m-t-5">{%user_avatar%}</div>
            <div class="overflow-hide">
                <div class="display-block strong">{%user_profil%}</div>
                <span class="text-lighter">{%user_title%}</span>
            </div>
        </div>
    {%adm_closeside%}
}}
{forum_member.{
    {%memb_openside%}
        <div>
            <div class="pull-left m-t-5">{%user_avatar%}</div>
            <div class="overflow-hide">
                <div class="display-block strong">{%user_profil%}</div>
                <span class="text-lighter">{%user_title%}</span>
            </div>
        </div>
    {%memb_closeside%}
}}