/* coloring */
/*Grid breakpoint*/
/* Mixins */
body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  color: #e8ebed;
  overflow: auto;
  overflow-x: hidden;
  font-size: 15px;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.expanded {
  line-height: 2;
}
[class^='col-'] {
  padding: 5px 15px;
}
a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
}
p {
  color: #aeb5bc;
}
h4 {
  color: #fff;
}
h6 {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-weight: 500;
  padding: 12px 0;
  color: #fff;
}
.pf-admin {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(135deg, #fff, #f4f4f4);
}
.pf-admin .form-group {
  max-width: 100%;
}
.pf-admin .input-group {
  position: relative;
  display: block;
  width: 100%;
}
.pf-admin .input-group .input-group-addon {
  display: flex;
  min-width: fit-content;
  align-items: center;
}
.pf-admin .input-group .input-group-btn {
  position: absolute;
  right: 0;
  top: 0;
  display: table;
}
.pf-admin .input-group .input-group-btn button {
  color: #abb4be;
  position: absolute;
  border: 0;
  border-left: 1px solid #c5c7c8;
  border-radius: 0;
  display: flex;
  align-items: center;
  height: 30px;
  top: 5px;
  right: 0;
  padding: 10px;
}
/* Modals */
.modal {
  /* Why is the form control white in color? */
}
.modal .form-control[disabled],
.modal .form-control[readonly] {
  background: #0F0F10;
  color: #515457;
  border: 1px solid #1c1e21;
}
.modal .form-control[disabled]:focus,
.modal .form-control[readonly]:focus {
  background: #0F0F10;
  border: 1px solid #1c1e21 !important;
}
.pf-app,
.pf-viewport {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-height: 100%;
}
.pf-login-viewport {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
  padding-bottom: 8vh;
}
.pf-login-viewport .login {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  color: #7c8b9a;
  text-align: center;
  font-size: 1.9rem;
  line-height: 1.5em;
  font-weight: 300;
}
.pf-login-viewport .login h1 {
  font-size: 4.1rem;
  letter-spacing: -0.025em;
  line-height: 1.15em;
  font-weight: 700;
  color: #15171a;
  max-width: 620px;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
.pf-login-viewport .login .control-label {
  display: block;
  color: #15171a;
  font-size: 1.3rem;
  font-weight: 500;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.pf-login-viewport .login form[name="loginfrm"] {
  text-align: left;
}
.pf-login-viewport .login .form-group {
  text-align: left;
}
.pf-login-viewport .login .form-group .form-control {
  background: #fff;
  color: #111213;
}
.pf-login-viewport .login .form-group .input-group-append {
  position: absolute;
  top: 9px;
  right: 11px;
  border-left: 1px solid #c5c7c8;
  border-radius: 0;
}
.pf-login-viewport .login input[name="admin_password"] {
  padding: 12px 16px;
  height: 54px;
  border-radius: 8px;
  font-size: 1.8rem;
}
.pf-login-viewport .login button {
  height: 54px;
}
.pf-login-viewport .login button[name="admin_login"] {
  font-size: 18px;
  line-height: 37px !important;
  height: 54px;
  border-radius: 8px;
  margin-top: 40px;
  max-width: unset;
  font-weight: 300;
  transition: all 0.4s ease;
  -webkit-font-smoothing: subpixel-antialiased;
  background: #15171A;
  color: #fff;
  width: 100%;
}
.pf-login-viewport .login button[name="admin_login"]:hover {
  opacity: 0.9;
}
::selection {
  background: rgba(55, 59, 67, 0.99);
  color: #aeb5bc;
}
.pf-viewport {
  color: #e8ebed;
}
.pf-viewport button {
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
  box-shadow: none;
  line-height: inherit;
}
.pf-viewport .pf-nav {
  background: #151719;
  position: relative;
  z-index: 800;
  flex: 0 0 320px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  transform: translateX(0);
  border-right: 1px solid #272a30;
  transition: flex-basis 0.25s;
  overflow: hidden;
}
.pf-viewport .pf-nav.nav-content {
  flex: 0 0 420px;
}
.pf-viewport .pf-nav.nav-content .nav-body h6 {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 0 16px 4px;
  padding: 8px 16px;
  color: #fafafb;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3em;
  text-decoration: none;
  text-transform: none;
}
.pf-viewport .pf-nav.nav-content .nav-body .pf-side {
  background: #151719;
  font-weight: 500;
  padding: 0;
}
.pf-viewport .pf-nav.nav-content .nav-body .pf-side-header {
  display: flex;
  flex-grow: 1;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  padding: 7px 32px;
  color: #f1f2f4;
  font-weight: 400;
  font-size: 1.45rem;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out;
}
.pf-viewport .pf-nav.nav-content .nav-body .pf-side-header:hover {
  background: #212326;
}
.pf-viewport .pf-nav.nav-content .nav-body .pf-side-header i {
  margin-right: 16px;
}
.pf-viewport .pf-nav.nav-content .nav-body .pf-side-header .side-header-title {
  font-weight: 500;
}
.pf-viewport .pf-nav.nav-content .nav-body .pf-side-body {
  padding: 24px 32px 16px;
  background: #212326;
  border-radius: 0 0 3px 3px;
  margin: 0;
}
.pf-viewport .pf-nav.nav-content .nav-body .pf-side-body .control-label {
  font-weight: 600;
  font-size: 1.3rem;
}
.pf-viewport .pf-nav.nav-content .nav-body .pf-side-body small {
  display: block;
  line-height: 1.4em;
  color: #aeb5bc;
  letter-spacing: 0.3px;
  font-size: 1.3rem;
  font-weight: 400;
  margin: 4px 0 12px;
}
.pf-viewport .pf-nav .brand img {
  display: block;
  height: 44px;
}
.pf-viewport .pf-nav .title {
  margin-left: 10px;
}
.pf-viewport .pf-nav .pf-nav-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.pf-viewport .pf-nav .pf-nav-column header {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  height: 96px;
  padding: 32px;
}
.pf-viewport .pf-nav .pf-nav-column header .pf-nav-details {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-right: 10px;
  min-width: 0;
}
.pf-viewport .pf-nav .pf-nav-column header .pf-nav-details .logo {
  flex-shrink: 0;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-size: 32px;
  border-radius: 6px;
}
.pf-viewport .pf-nav .pf-nav-column header .pf-nav-details .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.5rem;
  line-height: 1.3em;
  font-weight: 700;
  color: #fafafb;
}
.pf-viewport .pf-nav .pf-nav-column header .pf-nav-search button {
  padding: 8px 8px 5px;
  width: 36px;
  height: 36px;
  border-radius: 999px;
  margin: 2px -8px 0 0;
  color: #fff;
}
.pf-viewport .pf-nav .pf-nav-column .nav-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  overflow-y: auto;
  padding: 0;
}
.pf-viewport .pf-nav .pf-nav-column .nav-body ul {
  margin: 32px 0 0;
  padding: 0;
  list-style: none;
  font-size: 1.4rem;
  line-height: 1.6em;
}
.pf-viewport .pf-nav .pf-nav-column .nav-body ul li {
  line-height: 1.4em;
  position: relative;
}
.pf-viewport .pf-nav .pf-nav-column .nav-body ul li:hover i,
.pf-viewport .pf-nav .pf-nav-column .nav-body ul li:focus i {
  text-decoration: none;
}
.pf-viewport .pf-nav .pf-nav-column .nav-body ul li:hover a,
.pf-viewport .pf-nav .pf-nav-column .nav-body ul li:focus a {
  transition: color 0.2s ease-in-out;
}
.pf-viewport .pf-nav .pf-nav-column .nav-body ul li:hover a:hover,
.pf-viewport .pf-nav .pf-nav-column .nav-body ul li:focus a:hover,
.pf-viewport .pf-nav .pf-nav-column .nav-body ul li:hover a:focus,
.pf-viewport .pf-nav .pf-nav-column .nav-body ul li:focus a:focus {
  color: #e8ebed;
  background: #1c1e21;
}
.pf-viewport .pf-nav .pf-nav-column .nav-body ul li a {
  position: relative;
  color: #80868e;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 7px 32px 7px 39px;
  font-size: 1rem;
  margin: 0;
  border-radius: 0;
  box-sizing: border-box;
  transition: color 0.2s ease-in-out;
}
.pf-viewport .pf-nav .pf-nav-column .nav-body ul li a.section-view {
  display: flex;
  align-items: center;
  padding-left: 8px;
  height: 16px;
  position: absolute;
  left: 10px;
  top: 16px;
  z-index: 99999;
  opacity: 1;
}
.pf-viewport .pf-nav .pf-nav-column .nav-body ul li a.section-view .ico {
  font-size: 15px;
}
.pf-viewport .pf-nav .pf-nav-column .nav-body ul li a.section-view:hover,
.pf-viewport .pf-nav .pf-nav-column .nav-body ul li a.section-view:focus {
  background: transparent;
  text-decoration: none;
}
.pf-viewport .pf-nav .pf-nav-column .nav-body ul li a.section-menu {
  display: flex;
  align-items: center;
  transition: none;
  font-weight: 500;
  padding: 7px 32px 7px 39px;
  font-size: 1.2rem;
  margin: 0;
  border-radius: 0;
  box-sizing: border-box;
}
.pf-viewport .pf-nav .pf-nav-column .nav-body ul li a.section-menu:hover {
  background: transparent;
}
.pf-viewport .pf-nav .pf-nav-column .nav-body ul li a:hover {
  text-decoration: none;
}
.pf-viewport .pf-nav .pf-nav-column .nav-body ul li a.active {
  color: #fafafb;
  font-weight: 700;
}
.pf-viewport .pf-nav .pf-nav-column .nav-body ul li a i {
  line-height: 1.5;
  margin-right: 10px;
  font-size: 17px;
}
.pf-viewport .pf-nav .pf-nav-column .nav-body ul li .menu-container {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}
.pf-viewport .pf-nav .pf-nav-column .nav-body ul li .menu-container li a {
  padding-left: 60px;
  transition: color 0.2s ease-in-out;
}
.pf-viewport .pf-nav .pf-nav-column .nav-bottom .nav-bottom-wrapper {
  margin: 0;
  padding: 32px;
}
.pf-viewport .pf-nav .pf-nav-column .nav-bottom .nav-bottom-wrapper .nav-bottom-items {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
}
.pf-viewport .pf-nav .pf-nav-column .nav-bottom .nav-bottom-wrapper .nav-bottom-items .status-badge {
  border: 1px solid #fff;
  width: 12px;
  height: 12px;
  top: 0;
  right: -5px;
  position: absolute;
  display: inline-block;
  border-radius: 100%;
}
.pf-viewport .pf-nav .pf-nav-column .nav-bottom .nav-bottom-wrapper .nav-bottom-items .status-badge.on {
  background-color: #30cf43;
}
.pf-viewport .pf-nav .pf-nav-column .nav-bottom .nav-bottom-wrapper .nav-bottom-items .pf-admin-settings {
  background: #1c1e21;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  padding: 10px;
  border-radius: 999px;
  width: 40px;
  height: 40px;
  line-height: 1;
  color: #e8ebed;
}
.pf-viewport .pf-nav .pf-nav-column .nav-bottom .nav-bottom-wrapper .nav-bottom-items .pf-admin-settings:hover {
  text-decoration: none;
}
.pf-viewport .pf-nav .pf-nav-column .nav-bottom .nav-bottom-wrapper .nav-bottom-items .pf-admin-flex {
  position: relative;
  border-radius: 999px;
  padding: 4px 8px 4px 4px;
  margin: -4px -8px -4px -4px;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.pf-viewport .pf-nav .pf-nav-column .nav-bottom .nav-bottom-wrapper .nav-bottom-items .pf-admin-flex .pf-admin-avatar {
  position: relative;
  display: flex;
  flex: auto;
  min-width: 0;
  min-height: 0;
  margin-right: 10px;
}
.pf-viewport .pf-nav .pf-nav-column .nav-bottom .nav-bottom-wrapper .nav-bottom-items .pf-admin-flex .pf-admin-avatar .pf-nav-avatar {
  position: relative;
  flex-shrink: 0;
  display: block;
  width: 34px;
  height: 34px;
  margin: 0 8px 0 0;
  background-position: 50%;
  background-size: cover;
  border-radius: 100%;
  border: 1px solid #1c1e21;
}
.pf-viewport .pf-nav .pf-nav-column .nav-bottom .nav-bottom-wrapper .nav-bottom-items .pf-admin-flex i {
  font-size: 1.7rem;
  color: #e8ebed;
}
.pf-viewport .pf-nav .pf-nav-column .nav-bottom .nav-bottom-wrapper .nav-bottom-items .pf-admin-flex:hover {
  background: #1c1e21;
}
@media (max-width: 1240px) {
  .pf-viewport .pf-nav {
    flex-basis: 280px;
  }
}
@media (max-width: 800px) {
  .pf-viewport .pf-nav {
    top: 0;
    left: 0;
    bottom: 0;
    width: 260px;
    position: absolute;
    transition: transform 0.4s cubic-bezier(0.1, 0.7, 0.1, 0.1);
    transform: translate3d(-280px, 0, 0);
  }
}
.pf-viewport .pf-main {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: #151719;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.pf-viewport .pf-main .pf-grid {
  display: grid;
  grid-auto-rows: minmax(72px, auto);
  border-radius: 0.5rem;
  grid-gap: 24px;
  margin: 24px 0 96px;
}
@media (max-width: 1000px) {
  .pf-viewport .pf-main .pf-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 680px) {
  .pf-viewport .pf-main .pf-grid {
    grid-template-columns: 1fr;
  }
}
.pf-viewport .pf-main .pf-grid .pf-settings-group {
  display: flex;
  color: #e8ebed;
  min-height: 72px;
  text-align: left;
}
.pf-viewport .pf-main .pf-grid .pf-settings-group:hover,
.pf-viewport .pf-main .pf-grid .pf-settings-group:focus {
  text-decoration: none;
}
.pf-viewport .pf-main .pf-grid .pf-settings-group span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background: #fafafb;
  width: 48px;
  height: 48px;
  min-width: 48px;
  border-radius: 999px;
  color: #fff;
}
.pf-viewport .pf-main .pf-grid .pf-settings-group span i {
  font-size: 1.6em;
}
.pf-viewport .pf-main .pf-grid .pf-settings-group div {
  margin-left: 14px;
  flex-shrink: 1;
}
.pf-viewport .pf-main .pf-grid .pf-settings-group h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 4px 0 2px;
}
.pf-viewport .pf-main .pf-grid .pf-settings-group p {
  color: #80868e;
  margin: 4px 0 0;
  padding: 0;
  line-height: 1.4em;
}
.pf-viewport .pf-main .pf-canvas {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  flex-grow: 1;
  padding: 0 48px 48px;
  margin: 0 auto;
  max-width: 1320px;
  /* Master form-control */
}
.pf-viewport .pf-main .pf-canvas.w-100 {
  max-width: 100%;
  width: 100%;
}
.pf-viewport .pf-main .pf-canvas .form-control {
  background: #2B2D31;
  color: #fff;
  border: 2px solid #2B2D31;
}
.pf-viewport .pf-main .pf-canvas .form-control[disabled],
.pf-viewport .pf-main .pf-canvas .form-control[readonly] {
  color: #787e87;
}
.pf-viewport .pf-main .pf-canvas .form-control:focus {
  border: 2px solid #30cf43;
  background: #111213;
}
.pf-viewport .pf-main .pf-canvas .input-group {
  display: flex;
  flex: 1 1 0;
}
.pf-viewport .pf-main .pf-canvas .input-group .form-control.appended {
  padding-right: 30px;
}
.pf-viewport .pf-main .pf-canvas .input-group .form-control.prepended {
  padding-left: 30px;
}
.pf-viewport .pf-main .pf-canvas .input-group.date .input-group-append {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 36px;
}
.pf-viewport .pf-main .pf-canvas header {
  height: 95px;
  position: relative;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -48px;
  padding: 0 48px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 700;
  border-bottom: 1px solid;
  border-color: transparent;
  background: #151719;
}
.pf-viewport .pf-main .pf-canvas header h2 {
  display: block;
  align-items: center;
  margin: -3px 0 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 2.1rem;
  line-height: 1.3em;
  font-weight: 700;
  letter-spacing: 0;
  min-height: 35px;
  color: #fafafb;
  width: 60%;
  height: 42px;
}
.pf-viewport .pf-main .pf-canvas header h2 a,
.pf-viewport .pf-main .pf-canvas header h2 a:hover,
.pf-viewport .pf-main .pf-canvas header h2 a:focus {
  color: #fafafb;
  text-decoration: none;
}
.pf-viewport .pf-main .pf-canvas header h2 span {
  display: inline-block;
  height: 100%;
  vertical-align: baseline;
}
.pf-viewport .pf-main .pf-canvas header h2 span svg {
  width: 0.5em;
  height: 0.5em;
  margin: 0 10px;
}
.pf-viewport .pf-main .pf-canvas .admin-buttons {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.pf-viewport .pf-main .pf-canvas .admin-buttons .form-group {
  margin: 0;
}
.pf-viewport .pf-main .pf-canvas .admin-buttons .btn {
  margin-right: 10px;
}
.pf-viewport .pf-main .pf-canvas .dropdown-menu {
  min-width: 300px;
}
.pf-viewport .pf-main .pf-view-container {
  position: relative;
  flex-grow: 1;
  padding-top: 0;
  color: #80868e;
}
.pf-viewport .pf-main .pf-view-container .pf-view-notices {
  display: block;
}
.pf-viewport .pf-main .pf-view-container .intro {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.8;
  color: #e8ebed;
}
.pf-viewport .pf-main .pf-view-container hr {
  display: block;
  margin: 3.2em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #37393f;
}
.pf-viewport .pf-main .btn-group {
  margin: 0 24px;
}
.pf-viewport .pf-admin-dropup {
  display: none;
  bottom: 90px;
  left: 25px;
  margin: 10px 0 0;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.08), 0 2.1px 2.2px -5px rgba(0, 0, 0, 0.011), 0 5.1px 5.3px -5px rgba(0, 0, 0, 0.016), 0 9.5px 10px -5px rgba(0, 0, 0, 0.02), 0 17px 17.9px -5px rgba(0, 0, 0, 0.024), 0 31.8px 33.4px -5px rgba(0, 0, 0, 0.029), 0 76px 80px -5px rgba(0, 0, 0, 0.04);
  min-width: 290px;
  padding: 6px 0;
  position: absolute;
  background: #212326;
  float: left;
  background-clip: padding-box;
  border-radius: 3px;
  list-style: none;
  text-align: left;
  text-transform: none;
  font-size: 1.4rem;
  font-weight: 400;
  z-index: 1024;
}
.pf-viewport .pf-admin-dropup li {
  margin: 0;
}
.pf-viewport .pf-admin-dropup li.divider {
  margin: 6px 0;
  background: #edeeef;
  height: 1px;
  overflow: hidden;
  opacity: 0.1;
}
.pf-viewport .pf-admin-dropup li a {
  color: #e8ebed;
  display: flex;
  align-items: center;
  clear: both;
  padding: 6px 14px;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  font-size: 1.3rem;
  line-height: 1.4em;
  font-weight: 400;
  transition: none;
}
.pf-viewport .pf-admin-dropup li a:hover {
  color: #fff;
  background: #18191b;
  text-decoration: none;
}
.pf-viewport .pf-admin-dropup .group-heading {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 24px;
}
.pf-viewport .pf-admin-dropup .user-info {
  margin-left: 10px;
}
.pf-viewport .pf-admin-dropup .user-info h4 {
  padding: 0;
  word-break: break-all;
  line-height: 1.2em;
  max-width: 160px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  margin: 1px 0 0;
  font-size: 1.5rem;
  font-weight: 600;
}
.pf-viewport .pf-admin-dropup .user-info span.email {
  margin: 4px 0 0;
  font-size: 1.3rem;
  font-weight: 400;
  color: #aeb5bc;
  padding: 0;
  word-break: break-all;
  line-height: 1.2em;
  max-width: 160px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
.pf-viewport .pf-admin-dropup .pf-nav-avatar {
  width: 44px;
  height: 44px;
  flex-basis: 44px;
  margin: 0;
  padding: 0;
  position: relative;
  flex-shrink: 0;
  display: block;
  border-radius: 100%;
  border: 1px solid #1c1e21;
}
.pf-viewport .pf-side {
  background: #1c1e21;
  border-radius: 3px;
  border-bottom: 1px solid #111213;
  padding: 18px 24px;
  margin: 0;
}
.pf-viewport .pf-side.editing .well {
  opacity: 0.1;
}
.pf-viewport .pf-side .pf-side-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pf-viewport .pf-side .pf-side-header .checkbox-switch {
  text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0;
}
.pf-viewport .pf-side .pf-side-header .checkbox-switch > div {
  width: auto;
  margin-left: auto;
  margin-bottom: 0;
}
.pf-viewport .pf-side .pf-side-header .side-header-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #fafafb;
  margin: 0;
  padding: 0;
}
.pf-viewport .pf-side .pf-side-header .side-header-title small {
  display: block;
  margin: 0;
  padding: 0;
  color: #80868e;
  font-size: 0.95rem;
  font-weight: 400;
}
.pf-viewport .pf-side .pf-side-header .side-header-btn {
  --radius: 0.375rem;
  display: inline-block;
  outline: none;
  background: #2b2d31;
  color: #e8ebed;
  text-decoration: none !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  fill: #2b2d31;
  font-weight: 500;
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  transition: all 0.2s ease;
  transition-property: color, border-color, background, width, height, box-shadow;
  -webkit-font-smoothing: subpixel-antialiased;
}
.pf-viewport .pf-side .pf-side-header .side-header-btn span {
  display: block;
  overflow: hidden;
  padding: 0 14px;
  height: 34px;
  font-size: 1rem;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.2px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pf-viewport .pf-side .pf-side-header .side-header-btn:hover {
  background: #373b43;
}
.pf-viewport .pf-side .pf-side-body {
  position: relative;
  background: linear-gradient(#1c1e21, #17191b);
  margin: 18px -24px -17px;
  padding: 0 24px 20px;
  display: none;
}
.pf-viewport .pf-side .pf-side-body .form-group.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px;
  width: 100%;
  gap: 0;
}
.pf-viewport .pf-side .pf-side-body .form-group.row .control-label {
  padding: 0;
  white-space: normal;
  width: 100%;
}
.pf-viewport .pf-side .pf-side-body .form-group.row [class*="col-"] {
  padding: 0;
}
.pf-viewport .pf-side .pf-side-body .form-group.row .col-lg-9 {
  padding: 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.pf-viewport .pf-side .pf-side-body .form-group .tip i {
  text-decoration: none;
  color: #787e87;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.pf-viewport .pf-side .pf-side-body .btn-group {
  margin: 0 !important;
}
.pf-viewport .pf-side .pf-side-body .checkbox-switch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px;
  width: 100%;
  gap: 0;
}
.pf-viewport .pf-side .pf-side-body .checkbox-switch .control-label {
  width: 100% !important;
}
.pf-viewport .pf-side .pf-side-body .checkbox-switch .col-xs-12 {
  width: auto;
  padding: 0;
}
.pf-viewport .pf-side .pf-side-body:first-of-type {
  background: transparent;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fafafb;
  margin: 0;
  padding: 0;
}
.pf-viewport .pf-admin-buttons {
  margin: 20px 0;
}
.pf-viewport .pf-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  border: 1px solid #1c1e21;
  border-radius: 3px;
}
.pf-viewport .pf-content-box .not-defined {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  color: #80868e;
  padding: 48px 0;
}
.pf-viewport .pf-content-box .not-defined .icon {
  font-size: 80px;
  color: #515457;
}
.pf-viewport .pf-content-box h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #aeb5bc;
}
/* Table using divs */
.pf--post-list {
  display: table;
  list-style: none;
  width: 100%;
  border-bottom: 1px solid #1c1e21;
  padding: 0;
}
.pf--post-list li.pf--post-list-row {
  margin-bottom: 10px;
  line-height: 1.4em;
  display: table-row;
}
.pf--post-list li.pf--post-list-row .pf--post-list-item {
  display: table-cell;
  vertical-align: middle;
  padding: 16px 20px;
  border-top: 1px solid #1c1e21;
  transition: none !important;
}
.pf--post-list li.pf--post-list-row .pf--post-list-item:not(.btn) {
  color: #fafafb;
}
.pf--post-list li.pf--post-list-row .pf--post-list-item p {
  font-size: 1.3rem;
  margin: 2px 0 0;
  overflow-wrap: break-word;
  color: #aeb5bc;
}
.pf--post-list li.pf--post-list-row .pf--post-list-item h4 {
  font-size: 15px;
}
.pf--post-list li.pf--post-list-row .pf--post-list-item h4,
.pf--post-list li.pf--post-list-row .pf--post-list-item h5 {
  margin-bottom: 0.5rem;
}
.pf--post-list li.pf--post-list-row .pf--post-list-item small {
  color: #80868e;
  font-size: 13px;
}
.pf--post-list li.pf--post-list-row .pf--post-list-item:first-child {
  padding-top: 0;
}
.pf--post-list li.pf--post-list-row:first-of-type div.post-list-item {
  border-top: 0;
}
.pf--post-list li.pf--post-list-row:not(.pf--post-header):hover {
  background: #1c1e21;
}
.pf--post-list li.pf--post-header .pf--post-list-header {
  border-bottom: 1px solid #1c1e21;
  font-size: 12px;
  font-weight: 500;
  color: #fafafb;
  padding: 10px 20px;
  text-transform: uppercase;
  white-space: nowrap;
}
.pf--post-list li.pf--post-header > div {
  display: table-cell;
}
/* Form input*/
.form-group {
  position: relative;
  width: 100%;
  max-width: 620px;
  margin-bottom: 1.6em;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.form-group .input-group .input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  border-radius: 4px;
  background: #1C1E21;
  border: 1px solid #2b2d31;
}
.form-group .input-group .input-group-addon .input-group-text {
  font-size: 13px;
  font-weight: 600;
  color: #80868e;
}
.form-group .control-label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #e8ebed;
  margin-bottom: 4px;
  user-select: none;
}
.form-group.row {
  display: flex;
  gap: 15px;
}
.form-group.check-group .radio .control-label {
  display: inline-block;
  font-size: 1.5rem;
}
.form-group.check-group .radio .control-label small {
  display: block;
  color: #80868e;
}
.admin-ico {
  font-size: 22px;
}
.form-label {
  font-size: 1rem;
  font-weight: 500;
}
.nav.navbar-default {
  background: #111213;
}
.nav.navbar-default li a:hover {
  color: #fff;
}
.nav.navbar-default li.active a {
  border-bottom: 3px solid;
}
.form-control,
select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 6px 12px;
  border: 1px solid #2b2d31;
  font-size: 1rem;
  font-weight: 400;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  border-radius: 3px;
  -webkit-appearance: none;
  color: #e8ebed;
  background: #2b2d31;
}
.form-control:focus,
select:focus {
  outline: none;
  outline: 0;
  border-color: #30cf43 !important;
  box-shadow: inset 0 0 0 1px #30cf43;
  background: #111213;
}
.input-tip {
  display: block;
  margin: 4px 0 0;
  color: #6e747c;
  font-size: 1.25rem;
  font-weight: 400;
}
.input-tip .fusion-count {
  font-weight: 800;
}
.input-tip .fusion-wordcount {
  font-weight: 800;
  color: #30cf43;
}
.colorpicker-element .input-group-addon {
  padding: 2px;
  background: #2B2D31;
  border: 1px solid #2B2D31;
}
.colorpicker-element .input-group-addon .colorpicker-input-addon {
  height: 32px;
  width: 32px;
}
.btn-modal.btn-file {
  border: 0;
  padding: 0;
  background: #2b2d31;
  color: #fafafb;
  display: inline-block;
  width: auto;
  transition: background-color 0.3s cubic-bezier(0.1, 0.1, 1, 1);
}
.btn-modal.btn-file:hover {
  background: #212326;
}
.file-input {
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
}
.file-input .fileinput-remove {
  right: 0 !important;
  top: 0 !important;
  visibility: visible;
  border-radius: 50%;
  font-size: 1.5rem;
  display: inline-block;
}
.file-input:hover .avatar-fileinput .btn-file {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35%;
}
.file-input:hover .avatar-fileinput .btn-file span {
  height: 100%;
  display: flex;
  align-items: center;
}
.file-input:hover .avatar-fileinput .btn-file span i {
  margin: 0;
}
.file-input .avatar-fileinput {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}
.file-input .avatar-fileinput .btn-file {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 88;
}
.file-input .avatar-fileinput ~ .file-drop-disabled {
  position: absolute;
  width: 100%;
  height: 100%;
}
.file-input .avatar-fileinput ~ .file-drop-disabled .file-preview-thumbnails {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.file-input .avatar-fileinput ~ .file-drop-disabled .file-preview-thumbnails .file-preview-frame {
  margin: 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
}
.file-input .avatar-fileinput ~ .file-drop-disabled .file-preview-thumbnails .file-preview-frame .kv-file-content {
  width: 100% !important;
}
.file-input .krajee-default.file-preview-frame {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  box-shadow: none !important;
  border: 0 !important;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  background-image: url(/images/mosaic.svg);
}
.file-input .krajee-default.file-preview-frame .file-thumbnail-footer {
  display: none;
}
.file-input .krajee-default.file-preview-frame .kv-file-content {
  height: auto !important;
}
.file-input .krajee-default.file-preview-frame .kv-zoom-cache {
  display: none;
}
.file-input.file-thumb-loading {
  background: none !important;
}
.file-input .file-preview-status {
  display: none !important;
}
.file-input .fileinput-remove {
  position: absolute;
  z-index: 1;
  right: 15px;
  top: 55px;
  height: 30px;
  width: 30px;
  background: #2B2D31;
  color: #fff;
  text-shadow: none !important;
  font-weight: 400;
  opacity: 0;
}
.file-input .fileinput-remove.placeholder {
  top: 25px;
  z-index: 99;
}
.file-input:hover .fileinput-remove {
  opacity: 0.9;
}
/* switch */
.checkbox-switch input[type=checkbox] {
  background-color: #2b2d31 !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
  border: 0 !important;
}
.checkbox-switch input[type=checkbox]:focus {
  box-shadow: none !important;
  border: none !important;
}
.checkbox-switch input[type=checkbox]:checked {
  background-color: #30cf43 !important;
}
.tiptap-wrapper .tiptap-editor .tiptap {
  background: #2b2d31;
  border-radius: 0.595rem;
  padding: 2rem 0.5rem 0.5rem;
  border: 2px solid transparent;
  color: #fff;
  font-size: 16px;
}
.tiptap-wrapper .tiptap-editor .tiptap p {
  color: #fff;
  font-size: 16px;
}
.tiptap-wrapper .tiptap-editor .tiptap a {
  color: #30cf43;
  font-size: 16px;
}
.tiptap-wrapper .tiptap-editor .tiptap.ProseMirror-focused {
  background: #111213;
  border-color: #30cf43 !important;
  box-shadow: inset 0 0 0 1px #30cf43;
}
.tiptap-wrapper > .tiptap-editor .tiptap {
  background: #2b2d31;
  border-radius: 0.595rem;
  padding: 6px 12px !important;
  border: 2px solid transparent;
  color: #fff;
}
/* Buttons */
.btn {
  display: inline-block;
  outline: none;
  background: #1c1e21;
  color: #e8ebed;
  text-decoration: none !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  fill: #111213;
  font-weight: 500;
  height: 46px;
  border-radius: 3px;
  transition: all 0.2s ease;
  transition-property: color, border-color, background, width, height, box-shadow;
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 0;
}
.btn.disabled {
  opacity: 0.1;
}
.btn span {
  display: block;
  overflow: hidden;
  padding: 0 14px;
  height: 34px;
  font-size: 1rem;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.2px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.btn span.text-danger {
  color: #fb2d8d !important;
}
.btn span.text-success {
  color: #30cf43 !important;
}
.btn.btn-default {
  border: 1px solid #0f0f0f;
  background: transparent;
  fill: transparent;
}
.btn.btn-default:hover,
.btn.btn-default:focus {
  background: #fafafb;
  color: #111213;
}
.btn.btn-default.bordered {
  border: 0;
  color: #80868e;
}
.btn.btn-default.active {
  background: #2b2d31;
  color: #e8ebed;
}
.btn.btn-danger {
  border: 1px solid #f50b23;
  background: rgba(245, 11, 35, 0.2);
  fill: rgba(245, 11, 35, 0.2);
}
.btn.btn-danger:hover,
.btn.btn-danger:focus {
  background: #f50b23;
  fill: #f50b23;
}
.btn.btn-inverse {
  background: #2b2d31;
  color: #e8ebed;
}
.btn.btn-inverse:hover,
.btn.btn-inverse:focus {
  background: #373B43;
}
.btn.btn-inverse.active {
  background: #373B43;
}
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  color: #111213;
  fill: #111213;
  background: #fafafb;
}
.btn.btn-primary.active,
.btn.btn-primary:hover.active,
.btn.btn-primary:focus.active {
  background: #373B43 !important;
  color: #fafafb !important;
  fill: #fafafb !important;
}
.btn.btn-success,
.btn.saving {
  color: #fafafb;
  fill: #fafafb;
  background: #30cf43;
  opacity: 1;
}
.btn.btn-success:hover,
.btn.saving:hover,
.btn.btn-success:focus,
.btn.saving:focus {
  background: #2cbe3e;
}
.btn.btn-link {
  color: #30cf43;
}
.btn.danger {
  color: #fafafb;
  fill: #fafafb;
  background: #f50b23;
  font-weight: 500;
}
.btn.danger:hover,
.btn.danger:focus {
  background: #e20920 !important;
}
.btn-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
}
.btn-group .btn-default {
  background: #2b2d31;
  fill: #2b2d31;
  color: #fafafb;
  border: 0;
}
.btn-group .btn-default span {
  transition: none;
}
.btn-group .btn-default:hover,
.btn-group .btn-default:focus {
  border: 0;
  outline: 0;
  box-shadow: none;
  background: transparent;
}
.btn-group .btn-default:hover span,
.btn-group .btn-default:focus span {
  color: #fafafb !important;
  background: #2b2d31 !important;
}
.btn-group .btn-default.active > span {
  background: #373B43 !important;
  color: #fafafb !important;
  fill: #fafafb !important;
}
.error-img {
  width: 48px;
  height: 48px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.error-img.default {
  border: 2px dotted #777;
}
.error-img.default:before {
  content: "?";
  color: #777;
}
.sys-icon {
  max-width: 48px;
}
.sys-icon.lg {
  max-width: 60px;
}
/* List */
.list-group {
  background: none;
}
.list-group .list-group-item {
  background: transparent;
  border: 0;
  border-top: 1px solid #272a30;
}
.list-group .list-group-item:hover {
  background: #1c1e21;
}
/* Badges*/
.badge {
  font-weight: 400;
  line-height: 1.5;
  background: #212326;
}
.badge.success {
  color: #30cf43;
  background: rgba(48, 207, 67, 0.2);
}
/* Select2 */
.select2-container .select2-choice {
  background: #2B2D31;
  border: 1px solid #2B2D31;
  border-radius: 4px;
  font-size: 1.5rem;
  height: 37px !important;
  color: #e8ebed;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: none;
}
.select2-container .select2-choice .select2-arrow {
  background: transparent;
  border: 0;
}
.select2-container.select2-dropdown-open.select2-container-active .select2-choice {
  border-color: #43464c;
}
.select2-container-multi .select2-choices {
  background: #2B2D31;
  border-color: #2B2D31;
  min-height: 38px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  /* Tag element*/
}
.select2-container-multi .select2-choices .select2-search-choice {
  font-size: 13px;
  background: #111213;
  color: #fafafb;
  border: 1px solid #111213;
  box-shadow: none;
  padding: 8px 22px 8px 8px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close {
  right: 3px;
  top: 7px;
  left: auto;
}
.select2-container-multi.select2-container-active .select2-choices {
  border-color: #2B2D31;
  background: #111213;
}
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}
.select2-container[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right;
  margin-left: 5px;
  margin-right: auto;
}
.select2-container[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder {
  float: right;
}
.select2-container[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right;
}
.select2-container[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}
.select2-drop {
  color: #e8ebed;
  background: #2b2d31;
  border: 1px solid #43464c;
  border-top: 0;
}
.select2-drop .select2-results .select2-disabled {
  color: #80868e;
  background: transparent;
}
.select2-drop .select2-results .select2-highlighted {
  background: #30cf43 !important;
  color: #fff;
}
.select2-drop.select2-drop-multi .select2-results .select2-highlighted {
  background: #18191B !important;
  color: #fff;
}
.select2-search input {
  color: #e8ebed;
  background: #2b2d31;
}
.select2-results .select2-ajax-error,
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  color: #e8ebed;
  background: #2b2d31;
  display: list-item;
  padding-left: 5px;
}
/* Alerts, dismissables and attentions */
.alert.alert-danger {
  background: rgba(245, 11, 35, 0.2);
  color: #f50b23;
  border-color: #f50b23;
}
.alert.alert-info {
  background: #2b2d31;
  color: #fff;
  border-color: #51bbf6;
}
.alert.alert-dismissable button.close {
  top: -6px !important;
}
.alert.alert-warning {
  background: #111213;
  color: #30cf43;
  border: 0;
}
.alert.alert-warning a {
  color: #fff;
}
.alert.alert-warning a:hover {
  text-decoration: underline;
}
.fusion-pro-logo svg {
  width: 100%;
  height: 100%;
  visibility: hidden;
}
/* Theme browser */
.theme-preview-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 3px !important;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.02), 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
}
.theme-preview-container .browser,
.theme-preview-container .browser.desktop {
  background: #1c1e21;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.theme-preview-container .browser .browser-elem,
.theme-preview-container .browser.desktop .browser-elem {
  display: flex;
  align-items: center;
  padding: 16px 13px;
}
.theme-preview-container .browser .browser-elem div,
.theme-preview-container .browser.desktop .browser-elem div {
  width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: -7px 6px -15px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  background: #2B2D31;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.theme-preview-container .browser .browser-elem div span.favicon,
.theme-preview-container .browser.desktop .browser-elem div span.favicon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
.theme-preview-container .browser .browser-elem div span.site-title,
.theme-preview-container .browser.desktop .browser-elem div span.site-title {
  color: #fff;
  font-weight: 500;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.theme-preview-container .browser .browser-elem ul,
.theme-preview-container .browser.desktop .browser-elem ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.theme-preview-container .browser .browser-elem ul li,
.theme-preview-container .browser.desktop .browser-elem ul li {
  display: block;
  padding: 0;
  margin: 0 10px 0 0;
  background: #2b2d31;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.theme-preview-container .browser .browser-frame,
.theme-preview-container .browser.desktop .browser-frame {
  display: flex;
  flex-grow: 1;
  position: relative;
}
.theme-preview-container .browser .browser-frame .frame,
.theme-preview-container .browser.desktop .browser-frame .frame {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  transform: translateZ(0);
}
.theme-preview-container .browser .browser-frame .frame .email-preview-frame,
.theme-preview-container .browser.desktop .browser-frame .frame .email-preview-frame {
  display: flex;
  flex-direction: column;
  padding: 32px;
  overflow: hidden;
  background: #212326;
  height: 100%;
  overflow-y: scroll;
}
.theme-preview-container .browser .browser-frame .frame .email-preview-frame .email-wrapper,
.theme-preview-container .browser.desktop .browser-frame .frame .email-preview-frame .email-wrapper {
  background: #fff;
  border-radius: 4px 4px 3px 3px;
  padding: 0;
  margin: 32px auto;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.02), 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.03), 0 12.5px 10px rgba(0, 0, 0, 0.04), 0 22.3px 17.9px rgba(0, 0, 0, 0.04), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
  color: #151719;
  cursor: auto;
  width: 100%;
  max-width: 700px;
}
.theme-preview-container .browser .browser-frame .frame .email-preview-frame .email-header,
.theme-preview-container .browser.desktop .browser-frame .frame .email-preview-frame .email-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  height: 78px;
  padding: 0 24px;
  border-bottom: 1px solid #1c1e21;
  background: #111213;
  border-radius: 3px 3px 0 0;
}
.theme-preview-container .browser .browser-frame .frame .email-preview-frame .email-header p,
.theme-preview-container .browser.desktop .browser-frame .frame .email-preview-frame .email-header p {
  margin: 0;
  padding: 0;
  color: #515457;
}
.theme-preview-container .browser .browser-frame .frame .email-preview-frame .email-header p span,
.theme-preview-container .browser.desktop .browser-frame .frame .email-preview-frame .email-header p span {
  font-size: 15px;
  font-weight: 500;
  color: #aeb5bc;
}
.theme-preview-container .browser .browser-frame .frame .email-preview-frame .email-body,
.theme-preview-container .browser.desktop .browser-frame .frame .email-preview-frame .email-body {
  padding: 0 50px;
  margin: 0 20px;
}
.theme-preview-container .browser .browser-frame .frame .iframe-100,
.theme-preview-container .browser.desktop .browser-frame .frame .iframe-100 {
  position: relative;
  width: 100%;
  height: 100%;
}
.theme-preview-container .browser.mobile,
.theme-preview-container .browser.tablet {
  margin: 4vmin auto 4rem;
  width: 320px;
  height: 657px;
  border-radius: 40px;
  display: flex;
  background: #1c1e21;
  position: relative;
  flex-direction: column;
  border: 10px solid;
  overflow: hidden;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.02), 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
}
.theme-preview-container .browser.mobile .browser-elem,
.theme-preview-container .browser.tablet .browser-elem {
  display: flex;
  align-items: center;
  padding: 16px 13px;
}
.theme-preview-container .browser.mobile .browser-elem div,
.theme-preview-container .browser.tablet .browser-elem div {
  width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: -7px 6px -15px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  background: #2B2D31;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.theme-preview-container .browser.mobile .browser-elem div span.favicon,
.theme-preview-container .browser.tablet .browser-elem div span.favicon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
.theme-preview-container .browser.mobile .browser-elem div span.site-title,
.theme-preview-container .browser.tablet .browser-elem div span.site-title {
  color: #fff;
  font-weight: 500;
}
.theme-preview-container .browser.mobile .browser-elem ul,
.theme-preview-container .browser.tablet .browser-elem ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.theme-preview-container .browser.mobile .browser-elem ul li,
.theme-preview-container .browser.tablet .browser-elem ul li {
  display: block;
  padding: 0;
  margin: 0 10px 0 0;
  background: transparent;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.theme-preview-container .browser.mobile .browser-frame,
.theme-preview-container .browser.tablet .browser-frame {
  display: flex;
  flex-grow: 1;
  position: relative;
}
.theme-preview-container .browser.mobile .browser-frame .frame,
.theme-preview-container .browser.tablet .browser-frame .frame {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  transform: translateZ(0);
}
.theme-preview-container .browser.mobile .browser-frame .frame .iframe-100,
.theme-preview-container .browser.tablet .browser-frame .frame .iframe-100 {
  position: relative;
  width: 100%;
  height: 100%;
  zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
}
.theme-preview-container .browser.tablet {
  width: 800px !important;
}
.theme-preview-container .browser iframe {
  border: 0;
}
.label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 0 9px;
  width: auto;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 999px;
}
.label.label-success {
  background: rgba(48, 207, 67, 0.2);
  color: #30cf43;
}
.label.label-default {
  background: #212326;
  color: #787e87;
}
.label.label-danger {
  background: rgba(245, 11, 35, 0.2);
  color: #fb2d8d;
}
.table thead > tr > th {
  border-bottom: 2px solid #151719;
}
.table tbody > tr > td {
  border-top: 0;
  border-bottom: 1px solid #151719;
  color: #80868e;
}
.table tbody > tr > td span {
  color: #60666c;
  font-weight: 400;
}
.table tbody > tr > td span.emphasis {
  color: #fff;
}
.table tbody > tr > td::before {
  display: none !important;
}
.table tbody > tr > td a {
  color: #fff;
}
.table tbody > tr > td > .flex {
  max-width: 70%;
}
.table tbody > tr > td .btn {
  background: #2B2D31;
  border: 0;
  box-shadow: none;
}
.table tbody > tr > td .btn:hover,
.table tbody > tr > td .btn:focus,
.table tbody > tr > td .btn:active {
  color: #fff;
  background: #151719;
}
/* Table */
table.dataTable thead th[data-is-resizable=true] {
  border-right: 2px dashed #151719 !important;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control {
  padding: 15px 10px !important;
}
.dataTables_length select {
  font-size: 1.3rem;
  padding: 0 15px;
}
.dataTables_paginate {
  display: flex;
}
.dataTables_paginate .pagination {
  display: flex;
  margin-left: auto !important;
}
.dataTables_paginate .pagination li a {
  background: #2B2D31;
  border: 0;
  color: #80868e;
}
.dataTables_paginate .pagination li a:hover {
  background: #fafafb;
  color: #111213;
}
.dataTables_paginate .pagination li.active a {
  background: #fafafb;
  color: #111213;
}
.dataTables_paginate .pagination li.active a:hover {
  background: #fafafb;
  color: #111213;
}
table.dataTable > tbody > tr.child ul.dtr-details {
  display: block !important;
}
table.dataTable > tbody > tr.child ul.dtr-details > li {
  padding: 10px 0 !important;
  border-bottom: 1px solid #151719 !important;
  display: flex;
  gap: 15px;
}
.well {
  background: #151719;
  border: none;
}
.nav-tabs {
  border-bottom: 1px solid #272a30;
}
.nav-tabs li a {
  color: #80868e;
  margin: 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid transparent;
  padding: 10px 15px !important;
}
.nav-tabs li a:hover {
  margin: 0 !important;
  color: #fff;
  background: none;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #30cf43;
  padding: 10px 15px !important;
}
.nav-tabs li.active a {
  background: none;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 3px solid #30cf43;
  color: #fff;
  font-weight: 600;
}
.nav-tabs li.active a:hover {
  color: #fff;
  background: none;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 3px solid #30cf43;
}
.dropdown-menu {
  background: #212326;
}
.dropdown-menu li a {
  color: #fafafb;
}
.dropdown-menu li a.flex {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  gap: 10px;
}
.dropdown-menu li a.flex small {
  display: block;
}
.dropdown-menu li:hover a {
  background-color: #18191B;
  color: #fafafb;
}
/* Modal */
.modal.in {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}
.modal.in h1,
.modal.in h2,
.modal.in h3,
.modal.in h4,
.modal.in h5,
.modal.in h6 {
  margin: 0;
}
.modal.in .modal-content {
  background: #1c1e21;
  padding: 22px;
}
.modal.in .modal-content .modal-body {
  border: 0;
  padding: 0;
}
.modal.in .modal-content .modal-header {
  position: relative;
  margin-bottom: 22px;
  border: 0;
  padding: 0;
}
.modal.in .modal-content .modal-footer {
  border: 0;
  padding: 20px 0 0 0;
}
code {
  background-color: #1c1e21;
  border: 1px solid #2b2d31;
  padding: 0.2rem 0.3rem 0.1rem;
  border-radius: 2px;
  color: #fb2d8d;
  vertical-align: middle;
  white-space: pre-wrap;
  font-size: 0.8em;
  line-height: 1em;
}
.codebox {
  background: #111213;
  border: 1px solid #2b2d31;
  margin: 10px 0;
}
.codebox > .heading {
  font-size: 13px;
  font-weight: 400;
  padding: 10px 15px;
  background: #1C1E21;
}
code {
  background: none;
  color: #aeb5bc;
}
pre.language-php {
  background: none;
  border: none;
  font-weight: 500;
}
.avatar {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  overflow: hidden;
}
/*Utils*/
.flex {
  display: flex;
}
.flex.gap-10 {
  gap: 10px;
}
.flex.gap-15 {
  gap: 15px;
}
.flex > .form-group {
  width: 30px;
}
.flex.column {
  flex-direction: column;
}
.flex.ac,
.row.equal-height.ac,
.flex .ac,
.row.equal-height .ac {
  align-items: center;
}
.flex.acs,
.row.equal-height.acs,
.flex .acs,
.row.equal-height .acs {
  align-items: flex-start;
}
.flex.ace,
.row.equal-height.ace,
.flex .ace,
.row.equal-height .ace {
  align-items: flex-end;
}
.flex.jc,
.row.equal-height.jc,
.flex .jc,
.row.equal-height .jc {
  justify-content: center;
}
.flex.jb,
.row.equal-height.jb,
.flex .jb,
.row.equal-height .jb {
  justify-content: space-between;
}
.flex.je,
.row.equal-height.je,
.flex .je,
.row.equal-height .je {
  justify-content: flex-end;
}
.infusion-module {
  background: #212326;
  padding: 24px;
  border-radius: 3px;
}
dl {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
dl dt {
  float: left;
  width: 30%;
  font-weight: 400;
}
dl dd {
  width: 70%;
  float: left;
  color: #fff;
  font-weight: 600;
}
dl dt,
dl dl {
  line-height: 2;
}
@media (max-width: 768px) {
  dl dt,
  dl dd {
    width: 100%;
  }
}
@media (max-width: 992px) {
  dl dt {
    width: 20%;
  }
  dl dd {
    width: 80%;
  }
}
@media (max-width: 1400px) {
  dl dt {
    width: 15%;
  }
  dl dd {
    width: 75%;
  }
}
/* Member admin */
#view-filter {
  background: #212326;
  padding: 15px;
}
#view-filter .filter-row {
  display: grid;
  grid-template-columns: 34% 24% 34% 4%;
  gap: 10px;
}
#view-filter .filter-row .btn {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#view-filter .filter-row .btn .fas,
#view-filter .filter-row .btn .far {
  margin: 0;
}
.move-handle {
  padding: 6px 16px 0 0;
  width: 16px;
  text-indent: -4px;
  cursor: move;
}
.move-handle > svg {
  width: 16px;
  height: 16px;
  fill: #a8adb2;
}
.ui-sortable {
  min-height: 50px;
}
.ui-sortable li.pdisabled {
  background: transparent !important;
}
.ui-sortable li.pdisabled .ui-handle-meta {
  background: #151719;
}
.ui-sortable li.pdisabled .btn-group a.btn {
  pointer-events: none;
  background: #151719;
}
.ui-sortable li.pdisabled .btn-group a.btn i {
  color: #515457 !important;
}
.ui-sortable li .ui-sortable-handle {
  display: flex;
  margin-bottom: 10px;
}
.ui-sortable li .ui-sortable-handle .btn-group a.btn {
  height: 100%;
  align-items: center;
  display: flex;
}
.ui-sortable li .ui-sortable-handle .dropdown-toggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ui-sortable li .ui-handle-meta {
  background: #2b2d31;
  border-radius: 5px;
  width: 100%;
  padding: 5px 15px;
}
.ui-sortable .ui-sortable-helper {
  max-width: 400px !important;
}
.ui-sortable#panel-side0 {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
@media (min-width: 992px) and (max-width: 1600px) {
  .ui-sortable li.pdisabled .ui-sortable-handle .btn-group {
    background: #151719;
  }
  .ui-sortable li .ui-sortable-handle {
    display: grid;
    grid-template-columns: 10px auto;
    column-gap: 5px;
  }
  .ui-sortable li .ui-sortable-handle .move-handle {
    grid-area: 1/1 / span 2/2;
    align-items: unset;
    padding-top: 25px;
  }
  .ui-sortable li .ui-sortable-handle .ui-handle-meta {
    border-radius: 10px 10px 0 0;
  }
  .ui-sortable li .ui-sortable-handle .ui-handle-meta a {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .ui-sortable li .ui-sortable-handle .btn-group {
    grid-column: 2/-1;
    grid-row: 2;
    display: flex;
    background: #2b2d31;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    border-top: 1px solid #0f0f0f;
  }
  .ui-sortable li .ui-sortable-handle .btn-group a.btn {
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
  }
  .ui-sortable li .ui-sortable-handle .btn-group a.btn:first-of-type {
    border-left: 0;
  }
}
.user-cover {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 300px;
  margin: 0 0 30px;
  background: #fafafa no-repeat 50%;
  background-size: cover;
}
.user-cover .change-cover {
  position: absolute;
  left: 20px;
  top: 20px;
}
.user-avatar {
  position: absolute;
  top: 236px;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0 auto;
  padding: 0;
  width: 120px;
  height: 120px;
  border-radius: 9999px;
  border: 4px solid #111213;
  text-align: center;
  background-size: cover;
}
.user-avatar.member-edit {
  position: relative;
  top: 0;
  left: 0;
}
.user-avatar img {
  display: block;
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
  border-radius: 9999px;
}
.user-avatar .change-avatar,
.user-avatar .change-avatar:hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 9999px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 100px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.user-avatar:hover .change-avatar {
  opacity: 1;
}
.user-cover-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  max-width: 100%;
  min-height: 130px;
  overflow: hidden;
  margin: 1.6em 0;
  color: #54585e;
  text-align: center;
  border-radius: 3px;
  margin: 0 auto;
  line-height: 0;
}
.user-cover-modal .btn-remove {
  position: absolute;
  right: 20px;
  top: 20px;
  background: #111213;
}
.admin-flex-2 {
  display: grid;
  grid-template-columns: auto 80px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
/* Uploader */
.pf--uploader {
  background: #292a2d;
  margin: 0 0 20px;
}
.pf--uploader .upload-form {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.pf--uploader .upload-form input[type=file] {
  width: 1px;
  height: 0;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}
.pf--uploader .upload-form label {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-height: 130px;
  overflow: hidden;
  margin: 1.6em 0;
  color: #54585e;
  text-align: center;
  border-radius: 3px;
}
.pf--uploader .upload-form .preview {
  display: none;
  width: 100%;
}
.pf--uploader .upload-form .preview .btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 300;
  display: flex;
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.2);
}
.pf--uploader .upload-form .progress-wrapper {
  display: none;
  min-height: 150px;
  width: 100%;
  align-items: center;
  padding: 0 10%;
}
.pf--uploader .upload-form .progress-wrapper .progress {
  height: 8px;
  width: 100%;
}
.text-info {
  color: #51bbf6;
}
.text-success {
  color: #30cf43;
}
.text-warning {
  color: #ffb41f;
}
.text-danger {
  color: #fb2d8d;
}
.text-inverse {
  color: #515457;
}
table {
  height: 1%;
}
tr,
th,
td {
  height: 100%;
}
td > div {
  height: 100%;
}
td > a.single-cell {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.pf--uf-list .navbar-default {
  margin-top: 30px !important;
}
.pf--app-wrapper {
  background: #151719;
  margin-bottom: 30px;
}
.pf--app-wrapper .pf--app-body {
  padding: 15px;
  display: grid;
  gap: 10px;
  grid-template-columns: 32px 1fr;
  margin-bottom: 20px;
  height: 110px;
}
.pf--app-wrapper .pf--app-body img {
  max-width: 32px;
}
.pf--app-wrapper .pf--app-body h4 {
  margin-top: 0;
}
.pf--app-wrapper .pf--app-body .pf--app-description {
  font-size: 1.3rem;
}
.pf--app-wrapper .pf--app-footer {
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  background: #212326;
}
.form-group.pf--pagination-input {
  display: inline-block;
  width: auto;
  margin-right: 10px;
}
input ~ .input-group-text {
  padding: 0;
  padding-right: 0.5rem;
  border: 0;
}
input ~ .input-group-text .btn {
  padding: 0 0.5rem;
}
.password-toggle {
  border-radius: 0.375rem;
  height: 26px;
  border: 0;
}
/*# sourceMappingURL=acp_styles.css.map */