@import url('../../includes/fonts/PHPFusion/font.css');

/* Default PHP-Fusion CSS3 Class */
.label-danger {
    margin-top: 5px;
}

/* positioning - these works on containers that has display:absolute or display:fixed only  */
.top-0 {
    top: 0 !important;
}

.top-10 {
    top: 10px !important;
}

.top-20 {
    top: 20px !important;
}

.top-30 {
    top: 30px !important;
}

.top-40 {
    top: 40px !important;
}

.top-50 {
    top: 50px !important;
}

.bottom-0 {
    bottom: 0 !important;
}

.bottom-10 {
    bottom: 10px !important;
}

.bottom-20 {
    bottom: 20px !important;
}

.bottom-30 {
    bottom: 30px !important;
}

.bottom-40 {
    bottom: 40px !important;
}

.bottom-50 {
    bottom: 50px !important;
}

.left-0 {
    left: 0 !important;
}

.left-10 {
    left: 10px !important;
}

.left-15 {
    left: 15px !important;
}

.left-20 {
    left: 20px !important;
}

.left-30 {
    left: 30px !important;
}

.left-40 {
    left: 40px !important;
}

.left-50 {
    left: 50px !important;
}

.right-0 {
    right: 0 !important;
}

.right-10 {
    right: 10px !important;
}

.right-15 {
    right: 15px !important;
}

.right-20 {
    right: 20px !important;
}

.right-30 {
    right: 30px !important;
}

.right-40 {
    right: 40px !important;
}

.right-50 {
    right: 50px !important;
}

/** Alignments */
.center-margin-x {
    margin: 0 auto;
}

/**
Grids
 */
/** adding .flexbox class to .row will equalize all child column height */
.row.flexbox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

/** adding .flexbox and .auto_width to .row will euqalize all child column height AND clumn width **/
.row.flexbox.auto_width > div {
    flex: 1;
}
/** Need to used inside a block type div and height width specify **/
.center-y {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center-x {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.center-xy {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.align-top, .vt {
    vertical-align: top !important;
    display: table-cell;
}

.align-middle, .va {
    vertical-align: middle !important;
    display: table-cell;
}

.align-bottom, .vb {
    vertical-align: bottom !important;
    display: table-cell;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/* Floats */
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

/*spacers family*/
.spacer-xs {
    margin: 15px 0;
}

.spacer-sm {
    margin: 20px 0;
}

.spacer-md {
    margin: 40px 0;
}

.spacer-lg {
    margin: 80px 0;
}

.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: 1px !important;
}

.m-2 {
    margin: 2px !important;
}

.m-3 {
    margin: 3px !important;
}

.m-5 {
    margin: 5px !important;
}

.m-10 {
    margin: 10px !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-b-50 {
    margin-bottom: 50px !important;
}

.m-t-0 {
    margin-top: 0 !important;
}

.m-t-3 {
    margin-top: 3px !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-l-0 {
    margin-left: 0 !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.m-l-20 {
    margin-left: 20px !important;
}

.m-l-30 {
    margin-left: 30px !important;
}

.m-r-0 {
    margin-right: 0 !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-r-15 {
    margin-right: 15px !important;
}

.m-r-20 {
    margin-right: 20px !important;
}

.m-r-30 {
    margin-right: 30px !important;
}

.m-auto {
    margin: 0 auto !important;
}

.m-l--15 {
    margin-left: -15px !important;
}

.m-r--15 {
    margin-right: -15px !important;
}

/*padding family*/
.p-0 {
    padding: 0 !important;
}

.p-5 {
    padding: 5px !important;
}

.p-10 {
    padding: 10px !important;
}

.p-15 {
    padding: 15px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-25 {
    padding: 25px !important;
}

.p-t-0 {
    padding-top: 0 !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-t-15 {
    padding-top: 15px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

.p-l-0 {
    padding-left: 0 !important;
}

.p-l-10 {
    padding-left: 10px !important;
}

.p-l-15 {
    padding-left: 15px !important;
}

.p-l-20 {
    padding-left: 20px !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.p-r-5 {
    padding-right: 5px !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.p-r-15 {
    padding-right: 15px !important;
}

.p-r-20 {
    padding-right: 20px !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.p-b-15 {
    padding-bottom: 15px !important;
}

.p-b-20 {
    padding-bottom: 20px !important;
}

/* display family */
.overflow-hide {
    overflow: hidden !important;
}

.display-none {
    display: none !important;
}

.display-block {
    display: block !important;
    width: 100%;
}

.display-inline {
    display: inline !important;
}

.display-inline-block {
    display: inline-block !important;
}

.display-table {
    display: table !important;
}

.display-table-cell {
    display: table-cell !important;
}

.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}

.transition {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.no-shadow {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

/* borders */
.bbr-0 {
    border-radius: 0 !important;
}

.no-border, .br-0 {
    border: 0 !important;
}

.br-l-0 {
    border-left: 0;
}

.br-r-0 {
    border-right: 0;
}

.br-t-0 {
    border-top: 0;
}

.br-b-0 {
    border-bottom: 0;
}

/* breadcrumb */
.breadcrumb {
}

.crumb {
}

/* text family */
.text-white {
    color: #FFF !important;
}

.text-dark {
    color: #333 !important;
}

.text-black {
    color: #444 !important;
}

.text-lighter {
    opacity: 0.8;
}

.text-darker {
    opacity: 1;
}

.text-bigger {
    font-size: 110% !important;
}

.text-smaller {
    font-size: 85% !important;
}

.text-bold, .font-bold, .strong {
    font-weight: bold !important;
}

.text-light, .font-light {
    font-weight: 300 !important;
}

.text-normal, .font-normal {
    font-weight: normal !important;
    text-transform: none !important;
    text-decoration: none !important;
    color: inherit !important;
}

.text-active {
    color: rgb(66, 139, 202);
}

.text-disabled {
    color: #F7F7F7;
}

.text-serif {
    font-family: 'Times New Roman', Courier, "Courier New"
}

.uppercase {
    text-transform: uppercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-underline {
    text-decoration: underline;
}

/* image family*/
.img-center {
    display: inline-block;
    position: relative !important;
    left: 100% !important;
    margin-left: -200% !important;
}

.thumb > img {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.thumb > span {
    background-color: #DDD;
    text-align: center;
}

.thumb .entypo {
    opacity: 0.5;
}

.pdisabled {
    background-color: rgb(252, 248, 227) !important;
    border-color: rgb(250, 235, 204) !important;
}

.pdisabled > .handle > a {
    color: rgb(138, 109, 59) !important;
}

.image-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.blur {
    -webkit-filter: blur(5px) grayscale(50%);
}

/* cursors*/
.pointer {
    cursor: pointer;
}

/*borders*/
.no-border {
    border: 0 !important;
}

.bordered {
    border: 1px solid;
}

ul.block, ul.error-list {
    list-style: none outside none;
}

ol.decimal {
    list-style: decimal inside;
}

ul {
    padding: 0;
}

/* resets panelfor accordion */
li.panel {
    box-shadow: none !important;
    margin-bottom: 0 !important;
    background: none;
    border: 0;
}

.list-style-none > li {
    list-style: none;
}

ul > li {
    padding: 0;
    list-style-position: inside;
}

ul:not(.navbar-nav) > li a:not(.btn) {
    width: 100%;
    outline: none;
}

/* all tabs must have class */
ul > li.active > a {
    /* background: #F6F6F6; */
}

/* entypo icon */
a .entypo, a .entypo-social {
    text-decoration: none !important;
}

.icon-xs {
    font-size: 16px !important;
}

.icon-sm {
    font-size: 32px !important;
}

.icon-md {
    font-size: 48px !important;
}

.icon-lg {
    font-size: 128px !important;
}

.icon-xl {
    font-size: 256px !important;
}

/* clearfix */
.clearfix {
    display: block;
}

.clearfix:after, li:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix, * html {
    zoom: 1;
}

.floatfix {
    overflow: hidden;
}

* html .floatfix {
    width: 100%;
}

/* Opacity */
.no-opacity, .opacity-none {
    opacity: 0;
}

.low-opacity {
    opacity: 0.2;
}

.mid-opacity {
    opacity: 0.45;
}

.high-opacity {
    opacity: 0.8;
}

.full-opacity {
    opacity: 1;
}

/*User Profile*/
#profile-li ul {
    padding: 0;
}

#profile-li > li {
    padding: 0;
}

#profile-li > li > a {
    padding: 8px 3px;
    width: 100%;
    display: inline-block;
    outline: none;
}

.select2-input {
    color: #999 !important;
    border: none !important;
}

.select2-search-choice-close {
    width: 12px !important;
}

/** Fusion CSS navigational menu */
.main-nav {
}

.sub-nav {
}

.profile-link {
}

/* BS collapse mobile menu */
#mp {
    margin: 0;
    padding: 0 !important; /* standardize the padding */
    z-index: 300;
    position: absolute;
    width: 100%;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
    overflow: visible;
}

.mobile-panel {
    padding: 0;
    width: 100%;
}

.mobile-pane {
    margin: 0 -15px !important;
    background: rgba(255, 255, 255, 1);
    padding: 0;
}

.mobile-grid {
    padding: 3px;
}

.mobile-grid > .btn-menu {
    padding: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mobile-pane .entypo {
    font-size: 40px;
    line-height: 0;
    display: inline-block;
}

.mobile-header {
    color: #000;
    font-weight: bold;
    padding: 5px 20px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #CCC;
}

.mobile-btn-close {
    font-size: 14px;
    background: transparent;
    position: absolute;
    outline: none !important;
    font-size: 14px;
    color: rgb(51, 153, 255);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.mobile-btn-close:hover, .mobile-btn-close:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none !important;
    color: #DDD;
}

.mobile-header-text {
    padding-top: 7px;
}

.mobile-text {
    white-space: normal;
    font-size: 1rem;
}

.mobile-body {
    padding: 15px;
}

.tbl {
    display: table-cell !important;
}

.required {
    color: red !important;
}

a img {
    border: 0
}

dl, dt, dd {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.forum_cat_name h3,
.forum_name h3 {
    margin: 0;
}

.forum_name h3 {
    display: inline;
    font-weight: normal;
}

.forum-icon,
.forum-stats,
.forum-lastpost {
    white-space: nowrap;
}

.lastpost-avatar img {
    width: 40px;
    margin-right: 4px;
}

/* Admin Panel */
.dms-switch:hover, .list-group-item:hover .status {
    text-decoration: underline;
}

.animated-height {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -ms-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
}

/* Editor */
.editor-wrapper .nav {
    display: inline-block;
    float: right;
    padding: 0;
}

.editor-wrapper .panel-heading, .editor-wrapper .panel-footer {
    background: transparent;
}

.editor-wrapper > ul > li {
    float: right;
}

/* List group item */
.list-group-item.active {
    background-color: rgba(204, 204, 204, 0.35);
}

/* Parse Users */
.user-tooltip {
    width: 250px;
    padding-bottom: 10px;
}

.form-inline > .form-group {
    width: auto !important;
}

table {
    font-size: 100%;
}

/* Modal */
.modal {
    cursor: zoom-out;
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    cursor: default;
}

.zindex-boost {
    z-index: 999;
}

/* New CSS Navigation panel, with menu subitems */

.sidecssmenu a:focus {
    outline: none;
}

.sidecssmenu {
    float: left;
    width: 100%;
    background-color: transparent;
}

.sidecssmenu ul, .sidecssmenu li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidecssmenu ul li {
    position: relative;
    width: 100%;
    min-width: 160px;
    z-index: 1000;
}

.sidecssmenu ul li a {
    display: block;
    padding: 5px 5px 5px 8px;
    background: #FFF;
    color: #601117;
    text-decoration: none;
    border: 1px solid #666;
    margin: 1px;
}

.sidecssmenu ul li a:hover {
    color: #FFF;
    background-color: #601117;
}

.sidecssmenu ul li ul {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 12px;
}

/* Admin Panel Icon */
.icon-wrapper img {
    max-width: 48px;
    margin: 15px auto 5px;
}

.icon-wrapper > .icon-container {
    text-align: center;
}

/* Table Sorter */
table.tablesorter {
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
}

table.tablesorter thead tr .header {
    background-image: url(../../includes/jquery/tablesorter/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

th.min, td.min {
    width: 1%;
}

table.tablesorter tbody td {
}

table.tablesorter tbody tr.odd td {
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(../../includes/jquery/tablesorter/asc.gif);;
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(../../includes/jquery/tablesorter/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
}

.image-wrap {
    width: 100%;
    position: relative;
}

.image-wrap.cropfix {
    max-width: 100% !important;
    margin: 0 !important;
}

.word-break {
    word-break: break-all;
    word-wrap: break-word;
}

.no-break {
    white-space: nowrap;
}

/* CSS Nav Panel */
.sl {
    margin: 20px 0;
}

.sl .uip {
    margin: 5px 0;
}

.sl > li img, .side > li img {
    width: 19px;
    margin-right: 8px !important;
}

.HTML-img:hover ul.dropdown-menu {
    display: block;
}

/** Dynamics Bootstrap */
.stacked {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}

/** Icon stacking **/
.icon-stack {
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
}

.icon-stack > .icon,
.icon-stack > .icon::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    left: 0;
    margin: 0;
}

/** Backgrounds ***/
.clearBg {
    background-color: transparent !important;
}

.whiteBg {
    background-color: #fff !important;
}

/* File-input for Dynamics */
.btn-modal.btn-file {
    border: 1px dashed #ccc;
    width: 100%;
}

.file-preview-frame {
    display: block !important;
}

.panel > .file-preview {
    border: transparent;
}

.file-preview-image {
    display: table;
    width: 100%;
    height: 200px;
}

.file-input .panel {
    width: 200px;
}

.file-input .panel .file-preview-image {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

.file-input .panel .file-default-preview,
.file-input .panel .file-preview-frame,
.file-input .panel .file-preview-other {
    height: 143px !important;
    max-height: 143px !important;
    width: 100% !important;
    display: block !important;
    margin: 0;
    border: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    float: none !important;
    overflow: hidden !important;
}

.file-input img {
    height: 100%;
    width: auto;
    margin: 0 auto;
}

.comments-form-panel, .comments-panel {
    margin-bottom: 20px;
}

.comments-form-header, .comments-header {
    position: relative;
    padding: 10px 15px;
}

.comments-form-header:after, .comments-form-header:before, .comments-header:after, .comments-header:before {
    top: 100%;
    left: 5%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box {
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 3px 15px 15px;
}

.arrow_box:after, .arrow_box:before {
    right: 100%;
    top: 33%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 12px;
    margin-top: -12px;
}

.arrow_box:before {
    border-color: rgba(221, 221, 221, 0);
    border-right-color: #ddd;
    border-width: 14px;
    margin-top: -14px;
}

.comment-actions {
    margin-top: 10px;
}

.comment-actions > .btn-group {
    display: inline-flex;
}

.comments-reply {
    width: 65px;
    display: block;
    margin-top: 10px;
}

.comments_reply_form {
    margin-bottom: 30px;
}

/* Forum mods */
.forum.label {
    padding: 6px 10px;
}

.forum.label > .detail {
    background: rgba(0, 0, 0, .1);
    margin: -5px -10px;
    padding: 6px 12px;
    border-radius: 0 .28571429rem .28571429rem 0;
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    opacity: .8;
}

.forum.label > i {
    margin: 3px 10px 0 0;
    padding-right: 20px;
}

.forum.label-super-admin {
    background-color: #504cc7;
}

.forum.label-mod {
    background-color: #00B5AD;
    border-color: #00B5AD;
}

.forum.label-member {
    background-color: #2185D0 !important;
    border-color: #2185D0 !important;
}

/* Textarea Dynamics */
.panel-txtarea .preview-response {
    background-color: #f5f4f4;
    word-wrap: break-word;
    word-break: break-all;
}

/** Media containers*/
.media-container {
    position: relative;
    overflow: hidden;
    border: 3px solid transparent;
}

.media-container.selected {
    border: 3px solid #3879D9;
}

.media-container img {
    position: relative;
}

/** Shoutbox */
.shoutboxwrapper {
    margin-top: 20px;
}

/** Css navigational **/
ul > li.divider {
    display: block;
    height: 10px;
    border-bottom: 1px solid #ddd;
}

#delete_status-field {
    float: left;
    width: auto;
    margin-bottom: 0;
}

/** Logo Position **/
.logo-xs-left {
    text-align: left;
}

.logo-xs-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.logo-xs-right {
    text-align: right;
}

@media (min-width: 768px) {
    .logo-sm-left {
        text-align: left;
    }

    .logo-sm-center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .logo-sm-right {
        text-align: right;
    }
}

@media (min-width: 992px) {
    .logo-md-left {
        text-align: left;
    }

    .logo-md-center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .logo-md-right {
        text-align: right;
    }
}

@media (min-width: 1200px) {
    .logo-lg-left {
        text-align: left;
    }

    .logo-lg-center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .logo-lg-right {
        text-align: right;
    }
}

/*Navbar*/
ul.navbar-nav li.no-link {
    position: relative;
}

ul.dropdown-menu,
ul.dropdown-menu > li > ul {
    list-style: none;
}

/**
label image
 */
label img, .control-label > img {
    margin-right: 5px;
    max-width: 24px;
}

.text-overflow-hide {
    overflow: hidden;
    text-overflow: ellipsis;
}