/* RESET */
ul {
    list-style: none;
}

.floatfix {
    overflow: hidden;
}

* html .floatfix {
    width: 100%;
}

.clearfix {
    display: block;
}

.clearfix:after, li:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix, * html {
    zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix, *:first-child + html {
    zoom: 1;
}

/* IE7 */

.center, *[align="center"] {
    margin-left: auto;
    margin-right: auto;
}

.center-block {
    display: table;
    margin: 0 auto;
}

