/* RESET */
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
}

ul {
    list-style:none;
}

.floatfix {
	overflow:hidden;
}

* html .floatfix {
	width:100%;
}

.clearfix {
	display:block;
}

.clearfix:after, li:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
* html .clearfix, * html 
{
zoom: 1;
} /* IE6 */
*:first-child+html .clearfix, *:first-child+html  
{
zoom: 1;
} /* IE7 */

.center, *[align="center"] {
  margin-left: auto;
  margin-right: auto;
}

.center-block {
    display: table;
    margin: 0 auto;
}

