body {
    position: relative;
    font: 13px 'Ubuntu', 'Helvetica Nueu', Helvetica, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    padding: 5% 0%;
    background: #DFDFDF;
    background: -moz-radial-gradient(center, ellipse cover, rgba(215, 220, 224, 1) 0%, #DFDFDF 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(215, 220, 224, 1)), color-stop(100%, #DFDFDF));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(215, 220, 224, 1) 0%, #DFDFDF 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(215, 220, 224, 1) 0%, #DFDFDF 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(215, 220, 224, 1) 0%, #DFDFDF 100%);
    background: radial-gradient(ellipse at center, rgba(215, 220, 224, 1) 0%, #DFDFDF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7dce0', endColorstr='##DFDFDF', GradientType=1);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

body.install {
    background-size: cover;
    min-height: 600px;
    height: 100%;
    position: relative;
    height: 100%;
    background: #0E233B;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: -ms-radial-gradient(center, ellipse farthest-corner, #294566 0%, #0c1f38 100%);
    background-image: -moz-radial-gradient(center, ellipse farthest-corner, #294566 0%, #0c1f38 100%);
    background-image: -o-radial-gradient(center, ellipse farthest-corner, #294566 0%, #0c1f38 100%);
    background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #294566), color-stop(1, #0c1f38));
    background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #294566 0%, #0c1f38 100%);
    background-image: radial-gradient(ellipse farthest-corner at center, #294566 0%, #0c1f38 100%);
    background-repeat: no-repeat;
    background-position: center center;
}

.pf-logo {
    z-index: 300;
    margin-top: -136px;
    margin-left: -65px;
    width: 130px;
    position: absolute;
}

.center-y-override {
    margin-top: 120px !important;
}

.block-container {
    width: 70%;
    position: relative;
    z-index: 89;
    min-width: 600px;
    max-width: 1280px;
}

.block {
    padding: 40px 20px 20px 20px;
    border: 1px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.5);
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.2);
    border-radius: 0;
    margin: 0px;
}

.block-content {
    box-shadow: 0px 0px 0.8em rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 2.833em 25px 100px 25px;
    background: none repeat scroll 0% 0% white;
    position: relative;
    border: 1px solid rgb(153, 153, 153);
    color: rgb(51, 51, 51);
}

.block-content h6 {
    position: absolute;
    left: 15px;
    top: -60px;
    margin: 0px;
    z-index: 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
    border-radius: 0.278em;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-width: 0px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    background: rgb(167, 207, 223);
    background: -moz-linear-gradient(top, rgba(167, 207, 223, 1) 0%, rgba(35, 83, 138, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(167, 207, 223, 1)), color-stop(100%, rgba(35, 83, 138, 1)));
    background: -webkit-linear-gradient(top, rgba(167, 207, 223, 1) 0%, rgba(35, 83, 138, 1) 100%);
    background: -o-linear-gradient(top, rgba(167, 207, 223, 1) 0%, rgba(35, 83, 138, 1) 100%);
    background: -ms-linear-gradient(top, rgba(167, 207, 223, 1) 0%, rgba(35, 83, 138, 1) 100%);
    background: linear-gradient(to bottom, rgba(167, 207, 223, 1) 0%, rgba(35, 83, 138, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a7cfdf', endColorstr='#23538a', GradientType=0);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    padding: 10px 25px 10px 80px;
}

.rowreset {
    width: 100%;
    margin: 0;
}

.list-group-item.active {
    font-weight: bold !important;
    color: rgb(51, 51, 51) !important;
    background: rgb(246, 248, 249) !important;
    border-radius: 6px;
}

a {
    color: #04688D;
    text-decoration: none;
}

a:hover {
    color: #04688D;
    text-decoration: underline;
}

hr {
    height: 1px;
    border: 1px solid #EEE;
}

/* Form element properties */

form {
    margin: 0px;
}

.passed {
    font-weight: bold;
    color: green;
}

.failed {
    font-weight: bold;
    color: red;
}

.textbox {
    font-size: 13px;
}

.center {
    margin: 0 auto;
}

.sub-header {
    font-size: 10px;
    color: #FFF;
    background-color: #555;
    border-bottom: 1px solid #FFF;
    padding: 5px;
}

.full-header {
    font-size: 10px;
    color: #000;
    background-color: #FFF;
    padding: 5px 0 10px 0;
}

.tbl-border {
    border: 1px solid #000;
}

.tbl {
    color: #555;
    background-color: #FFF;
    padding: 4px;
}

.tbl1 {
    color: #555;
    background-color: #FFF;
    padding: 4px;
    text-align: left;
}

.tbl2 {
    color: #555;
    background-color: #F1F1F1;
    padding: 4px;
}

.tbl-error {
    color: #AC260F !important;
    background-color: #FCCAC2 !important;
    border: 1px solid #EB5339 !important;
}

.small {
    font-size: 10px;
    font-weight: normal;
}
