
html {
    background: rgb(215,220,224);
    background: -moz-radial-gradient(center, ellipse cover, rgba(215,220,224,1) 0%, rgba(111,129,143,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(215,220,224,1)), color-stop(100%,rgba(111,129,143,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(215,220,224,1) 0%,rgba(111,129,143,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(215,220,224,1) 0%,rgba(111,129,143,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(215,220,224,1) 0%,rgba(111,129,143,1) 100%);
    background: radial-gradient(ellipse at center, rgba(215,220,224,1) 0%,rgba(111,129,143,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7dce0', endColorstr='#6f818f',GradientType=1 );
    background-position:0px -80%;
    min-height: 100%;
    overflow-x: hidden;
    height:100%;
    margin: 0px;
    padding: 0px;
    border: 0px none;
    outline: 0px none;
    font-size: 100%;
    vertical-align: baseline;
    z-index: 1;
    margin-top:-4px;
}

body {
    display: inline;
    font: 13px 'Lucida Grande', 'Helvetica Nueu', Arial,Helvetica,sans-serif !important;
    color : #000;
}

.pf-logo {
    z-index: 300;
    margin-top: -136px;
    margin-left: -65px;
    width: 130px;
    position: absolute;
}

.block-container {
    margin: 100px auto;
    width: 60%;
    position: relative;
    z-index: 89;
    min-width: 600px;
    max-width: 1280px;
}


.block {
    padding: 40px 20px 20px 20px;
    border: 1px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.5);
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.2);
    border-radius: 0.8em 0.8em 0.8em 0.8em;
    margin: 0px;
}

.block-content {
    box-shadow: 0px 0px 0.8em rgba(255, 255, 255, 0.5);
    padding-top: 2.833em;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 1.667em;
    background: none repeat scroll 0% 0% white;
    position: relative;
    border: 1px solid rgb(153, 153, 153);
    color: rgb(51, 51, 51);
}

.block-content h6 {
    position: absolute;
    left: 15px;
    top: -60px;
    margin: 0px;
    z-index: 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
    border-radius: 0.278em;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-width: 0px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    background: rgb(167,207,223);
    background: -moz-linear-gradient(top, rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,207,223,1)), color-stop(100%,rgba(35,83,138,1)));
    background: -webkit-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
    background: -o-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
    background: -ms-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
    background: linear-gradient(to bottom, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 );
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
    padding: 10px 25px 10px 80px;
}

.rowreset {
    width:100%; margin:0;
}

.list-group-item.active {
    font-weight:bold !important;
    /* background: rgb(241,241,241) !important; */
    background: rgb(246,248,249);
    background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1)));
    background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
    background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
    background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 );
}

a {
	color : #04688d;
	text-decoration : none;
}

a:hover {
	color : #04688d;
	text-decoration : underline;
}


hr {
	height : 1px;
	border : 1px solid #eee;
}



/* Form element properties */

form {
	margin : 0px;
}

.passed {
	font-weight: bold;
	color: green;
}

.failed {
	font-weight: bold;
	color: red;
}

.button {
	color : #fff;
	background-color : #04688d;
	height : 20px;
	border : 1px solid #000;
	margin-top : 2px;
}

.textbox {
	color : #555;
	background-color : #f8f8f8;
	border : 1px solid #ccc;
}

.center {
	margin : 0 auto;
}

.sub-header {
	font-size : 10px;
	color : #fff;
	background-color : #555;
	border-bottom : 1px solid #fff;
	padding : 5px;
}

.full-header {
	font-size : 10px;
	color : #000;
	background-color : #fff;
	padding : 5px 0 10px 0;
}

.tbl-border {
	border : 1px solid #000;
}

.tbl {
	color : #555;
	background-color : #fff;
	padding : 4px;
}

.tbl1 {
	color : #555;
	background-color : #fff;
	padding : 4px;
	text-align: left;
}

.tbl2 {
	color : #555;
	background-color : #f1f1f1;
	padding : 4px;
}

.tbl-error {
	color : #AC260F;
	font-weight: bold;
	background-color : #FCCAC2;
	border:2px solid #EB5339;
}

.small {
	font-size : 10px;
	font-weight : normal;
}
