#site-links {
    list-style: none;
    min-height: 20px;
    height: auto !important;
}

#site-links li {
    display: block;
    margin: 30px;
    padding: 10px;
}

#site-links li img.handle {
    cursor: ns-resize;
}

.state-highlight {
    background: #FFC;
    height: 20px;
}

.floatfix {
    overflow: hidden;
}
