#site-links {
	list-style: none;
	 min-height:20px;
	 height: auto !important;
	 height: 20px;
}

#site-links li {
	display: block;
	margin: 30;
	padding: 10;
}

#site-links li img.handle {
	cursor: ns-resize;
}
.state-highlight { background:#FFC; height:20px;}
.floatfix { overflow:hidden; }