<div class="forum">
    <div class="forum-header">
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12">
                <a href="{%baselink%}" class="header-title">{[forum_0000]}</a>
            </div>
            <div class="col-md-9 col-sm-6 col-xs-12">
                {%forum_navs%}
            </div>
        </div>
    </div>
    <div class="forum-subheader">
        <div class="stripes forum-stripes">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container">
            <div class="row" style="margin-top:30px;z-index:1;position:relative;">
                <div class="col-xs-12">
                    {%breadcrumb%}
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h2 class="header-title strong">Latest Threads</h2>
                    <ul class="block m-t-20">
                        {ltb.{
                        <li>
                            <div class="pull-right" style="position:absolute; bottom:15px; right:15px;">{%ua%}</div>
                            <div class="overflow-hide">
                                <h4 class="m-t-0 m-b-5 strong"><a href="{%thread_link%}">{%thread_subject%}</a></h4>
                                <small><i class="fas fa-circle" style="color:{%color%}"></i><span class="m-r-20"><a
                                        href="{%forum_link%}">{%forum_name%}</a></span><i class="fas fa-comment"></i>
                                    {%forum_postcount%}
                                </small>
                            </div>
                        </li>
                        }}
                        {no_ltb.{
                        <li class="text-center"><h4>There are no threads</h4></li>
                        }}
                    </ul>
                    {ltb_more.{
                    <div class="text-right">
                        <a class="btn btn-primary" href="{%link%}">More Threads</a>
                    </div>
                    }}
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h2 class="header-title strong">Sticky Threads</h2>
                    <ul class="block m-t-20">
                        {stb.{
                        <li>
                            <div class="pull-right" style="position:absolute; bottom:15px; right:15px;">{%ua%}</div>
                            <div class="overflow-hide">
                                <h4 class="m-t-0 m-b-5 strong"><a href="{%thread_link%}">{%thread_subject%}</a></h4>
                                <small><i class="fas fa-circle" style="color:{%color%}"></i><span class="m-r-20"><a
                                        href="{%forum_link%}">{%forum_name%}</a></span><i class="fas fa-comment"></i>
                                    {%forum_postcount%}
                                </small>
                            </div>
                        </li>
                        }}
                        {no_stb.{
                        <li class="text-center"><h4>There are no threads</h4></li>
                        }}
                    </ul>
                    {stb_more.{
                    <div class="text-right">
                        <a class="btn btn-primary" href="{%link%}">More Threads</a>
                    </div>
                    }}
                </div>
            </div>
        </div>
    </div>
    <div class="unsolved">
        <h2 class="text-center strong">Can you help these people?</h2>
        <div class="{%slick_container%} row m-0 p-l-20 p-r-20">
            {question.{
            <div class="col-xs-6 col-sm-4 col-md-2" style="padding-bottom:25px; padding-top:25px;">
                <div class="panel panel-home" style="border-radius:6px;">
                    <div class="panel-heading {%slick_class%}" style="min-height:130px;">
                        <div class="pull-right">{%ua%}</div>
                        <small><i class="fas fa-circle" style="color:{%color%}"></i><span class="m-r-20">
                        <a href="{%forum_link%}">{%forum_name%}</a></span></small>
                        <div class="clearfix">
                            <h4 class="strong"><a href="{%thread_link%}">{%thread_subject%}</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            }}
        </div>
    </div>
    <div class="categories">
        <div class="container">
            <div class="selectors clearfix m-b-20">
                {new_thread_link.{
                <a class="btn btn-primary pull-right col-xs-12 col-md-3 m-b-20" href="{%new_thread_link_url%}"><i
                        class="fas fa-plus"></i>{%new_thread_link_title%}</a>
                }}
                <div class="pull-left display-block m-r-10 m-b-20" style="margin-top:-7px; width:300px;">
                    {%forum_selector%}
                </div>
                <a class="dropdown-toggle m-b-20" href="{%baselink%}">Categories</a>
                <a class="text-dark strong m-l-10 m-b-20" href="{%latest_link%}">Latest</a>
                <a class="text-dark strong m-l-10 m-b-20" href="{%tracked_link%}">Tracked</a>
                <a class="text-dark strong m-l-10 m-b-20" href="{%participated_link%}">My Posts</a>
            </div>
            {forum_content.{ {%forum_content%} }}
            {no_item.{ {%message%} }}
        </div>
    </div>
    <div class="others">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h2 class="strong">Our picks</h2>
                    <div class="panel panel-home panel-default tags-panel">
                        <div class="panel-heading">
                            <h5 class="m-0">{[forum_0272]}</h5>
                        </div>
                        <div class="panel-body">
                            <ul class="block">
                                {tags.{
                                <li class="{%active_class%}">
                                    <a href="{%tag_link%}">
                                        <div class="pull-left m-r-5"><i class="fa fa-square fa-lg"
                                                                        style="color:{%tag_color%}"></i></div>
                                        <div class="overflow-hide">{%tag_title%}</div>
                                    </a>
                                </li>
                                }}
                                {tags_no_item.{
                                <span>{%message%}</span>
                                }}
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-home panel-default">
                        <div class="panel-heading">
                            <h5 class="m-0">{[forum_0273]}</h5>
                        </div>
                        <div class="panel-body">
                            {popular_threads_item.{
                            <div class="text-sm">
                                <a href="{%p_link%}"><strong>{%p_title%}</strong></a><br/>
                                {%p_profile_link%}
                                <span class="text-lighter"><i class="fa fa-comment"></i> {%p_count%}</span>
                            </div>
                            <hr/>
                            }}
                            {no_popular_threads.{ {%p_message%} }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h2 class="strong">Leaderboards</h2>
                    {forum_panel.{ {%forum_panel%} }}
                </div>

            </div>
        </div>
    </div>
</div>
