<div class="spacer-lg">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
            <div class="well">
                <h2 class="m-b-0">{%title%}</h2>
                <h4>{%description%}</h4>
                <div class="clearfix spacer-md">
                    <div class="pull-left m-r-15">
                        <img class="icon" src="{%image_src%}"/>
                    </div>
                    <div class="overflow-hide">
                        <strong>{%detail%}</strong>
                    </div>
                </div>
                {%input%}
                {%button%}
            </div>
        </div>
    </div>
</div>
