<div class="forum">
    <div class="forum-header">
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12">
                <a href="{%baselink%}" class="header-title">{[forum_0000]}</a>
            </div>
            <div class="col-md-9 col-sm-6 col-xs-12">
                {%forum_navs%}
            </div>
        </div>
    </div>
    <div class="p-15">
        {%breadcrumb%}
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-9 col-lg-9">
                <div class="row">
                    <div class="col-xs-4">
                        <h3 class="m-t-0 m-b-20">Forums</h3>
                    </div>
                    <div class="col-xs-2 pull-right">
                        {new_thread_link.{
                        <a class="btn btn-primary btn-block" href="{%new_thread_link_url%}"><i
                                class="fa fa-comment m-r-10"></i>{%new_thread_link_title%}</a>
                        }}
                    </div>
                </div>
                {forum_content.{ {%forum_content%} }}
                {no_item.{ {%message%} }}
            </div>
            <div class="col-xs-12 col-sm-3 col-lg-3">
                <div class="panel panel-forum panel-default tags-panel">
                    <div class="panel-heading">
                        <h5 class="m-0">{[forum_0272]}</h5>
                    </div>
                    <div class="panel-body">
                        <ul class="block">
                            {tags.{
                            <li class="{%active_class%}">
                                <a href="{%tag_link%}">
                                    <div class="pull-left m-r-5"><i class="fa fa-square fa-lg"
                                                                    style="color:{%tag_color%}"></i></div>
                                    <div class="overflow-hide">{%tag_title%}</div>
                                </a>
                            </li>
                            }}
                            {tags_no_item.{
                            <span>{%message%}</span>
                            }}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-forum panel-default">
                    <div class="panel-heading">
                        <h5 class="m-0">{[forum_0273]}</h5>
                    </div>
                    <div class="panel-body">
                        {popular_threads_item.{
                        <div class="text-sm">
                            <a href="{%p_link%}"><strong>{%p_title%}</strong></a><br/>
                            {%p_profile_link%}
                            <span class="text-lighter"><i class="fa fa-comment"></i> {%p_count%}</span>
                        </div>
                        <hr/>
                        }}
                        {no_popular_threads.{ {%p_message%} }}
                    </div>
                </div>
                {forum_panel.{ {%forum_panel%} }}
            </div>
        </div>
    </div>
</div>
