{forum_lastpost.{
<div class='clearfix'>
    <div class='pull-left lastpost-avatar m-r-10'>{%avatar%}</div>
    <div class='overflow-hide'>
        <span class='forum_thread_link'><a data-trim-text='35'
                                           style='font-weight: 400; color: #333; text-decoration:underline; font-size:85%;'
                                           href='{%last_thread_link%}'>{%last_thread_subject%}</a></span><br/>
        <span class='forum_profile_link'>{%profile_link%} - {%last_thread_activity%}</span>
    </div>
</div>
}}

{forum_no_lastpost.{
<span class='text-lighter'>{%message%}</span>
}}
