<li id='{%comment_list_id%}'>
	<div class="comments-li">
		<div class="display-flex-row">
			{comment_avatar.{
			<div class="comment-user-avatar">{%avatar%}</div>
			}}
			<div style="width:100%;">
				<div class="pull-right"><a href="#{%comment_list_id%}">{%comment_marker%}</a></div>
				<div class='comment_name display-inline-block m-r-10'>{%user_name%} commented<br/><span class='comment_date'>{%comment_date%}</span>
				</div>
				<?php if ($info['comment_ratings']) : ?>{%comment_ratings%}<?php endif; ?>
				<?php if ($info['comment_subject']) : ?>
				<div class='comment_title'><!--comment_subject-->{%comment_subject%}<!--//comment_subject--></div>
				<?php endif; ?>
			</div>
		</div>
		<div class='comment_message'><!--comment_message-->{%comment_message%}<!--//comment_message--></div>
		<div class="comment-actions m-5">
			{comment_action.{
			{%link%}
			}}
		</div>
	</div>
	{%comment_reply_form%}
	<ul class='sub_comments list-style-none'>
		{%comment_sub_comments%}
	</ul>
</li>
