<tr>
    <td style='padding-top:20px;'>
        <small class='text-uppercase'>
            <strong>{%forum_title_link%}</strong>
            </strong>
        </small>
    </td>
    <td style='padding-top:20px;'>
        <small class='text-uppercase strong text-lighter'>{%threads_title%}</small>
    </td>
    <td style='padding-top:20px;'>
        <small class='text-uppercase strong text-lighter'>{%post_title%}</small>
    </td>
    <td class='col-xs-4' style='padding-top:20px;'>
        <small class='text-uppercase strong text-lighter'>{%last_thread_title%}</small>
    </td>
</tr>