<div class="table-responsive"><table class='table clear'>
    <tr>
        <td style='padding-top:20px;'>
            <small class='text-uppercase strong text-lighter'>{%title1%}</small>
        </td>
        <td style='padding-top:20px;'>
            <small class='text-uppercase strong text-lighter'>{%title2%}</small>
        </td>
        <td style='padding-top:20px;'>
            <small class='text-uppercase strong text-lighter'>{%title3%}</small>
        </td>
        <td class='col-xs-4' style='padding-top:20px;'>
            <small class='text-uppercase strong text-lighter'>{%title4%}</small>
        </td>
    </tr>
    {subforums.{ {%content%} }}
    {no_items.{
    <tr>
        <td colspan='4'>{%message%}</td>
    </tr>
    }}
</table></div>