#subheader {background: url(../images/colours/lilac/lhcorner.gif) right bottom no-repeat;}
#main-bg {background: url(../images/colours/lilac/mcorner.gif) right top no-repeat;}
#side-border-left{background: url(../images/colours/lilac/lscorner.gif) right top no-repeat;}
#side-border-right{background: url(../images/colours/lilac/rscorner.gif) left top no-repeat;}
#side-border-left, #side-border-right, .admin-message{background-color: #5d3853;}
.textbox, .button, .bbcode, #main-bg, .tbl-border, .pagenav a:hover{background-color: #92286d;}
.tbl-border{border-color: #92286d;}
#main-bg .textbox, #main-bg .button, .tbl1, #mainheader, #subheader a:hover, #subheader .active a, #subheader .current-link a, #userbar a:hover, .pagenav span{background-color : #790450;}
.tbl2, .poll {background: #800555;}
.forum-caption, .quote, #subheader, #userbar, #navigation a:hover, #navigation li.current-link a, .pagenav a{background-color: #550338;}
