<div class='well spacer-md {%spacing%}'>
    <div class='pull-left m-r-15'>
        {%avatar%}
    </div>
    <div class='overflow-hide'>
        <div class='m-b-10'>
            {%profile_link%}
            <span class='text-smaller strong'>{%post_date%}, {%post_timer%} {%post_link%}</span>
        </div>
        <div class='list-group-item'>
            <div class='m-b-10 text-smaller text-lighter'><strong>{%thread_link%}</strong></div>
            {%post_message%}
        </div>
        <div class='list-group-item'>
            <span class='text-smaller strong'>{%post_link%}<i class='fa fa-external-link-square m-l-5'></i></span>
        </div>
    </div>
</div>