/*General*/
body {
	color: #111;
	background: url(images/background.png) #fff;
	width: 100%;
	margin: 0;
	font-size: 12px;
	line-height: 15px;
}
body, input, textarea, select {
	font-family: 'Open Sans', Tahoma, Helvetica, Arial, Sans, sans-serif;
}
* {
	padding: 0;
	border: 0;
}
h1 {
	
}
ul, ol, dl {margin: 0 1em}
li {margin-left: 1.5em; line-height: 1.5em;}
option {padding-left: 0.75em}

/*IE Fixes*/
* html #main-bg {
	height: 1%;
	width: auto;
}
input[type=password] {
	font-family: Tahoma, sans-serif; /* IE */
	padding: 6px 2px 6px 6px;
}
.clearfix:after {
	content:" ";
	display:block;
	height:0;
	clear:both;
}
/* Hide from IE Mac */
.clearfix {display:block;}
/* End hide from IE Mac */
.floatfix {overflow:hidden;}
* html .floatfix {width:100%;}
.center, *[align="center"] {margin: 0 auto;}

* html body {background: #338bc9 none;}

/* Helpers */
.alcenter {text-align: center;}
.alleft {text-align: right;}
.alright {text-align: right;}
.flleft {float: left !important;}
.flright {float: right !important;}
.clear {clear: both;}

hr {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #fff;
	height: 0;
	margin: 6px 0;
}
hr.side-hr {
	margin: 2px 0 8px 0;
}
/*Links*/
a {text-decoration: none;outline: none;color: #226d9d;}
a:hover {color: #e79300;}
#logo {
	padding: 10px 0;
	margin: 0 8px 0 20px;
	min-height: 78px;
}
.main-logo {
	position: absolute;
}
#subheader ul,
#subheader li,
#userbar ul,
#userbar li,
#navigation ul,
#navigation li {margin: 0}

#subheader {
	overflow: hidden;
	background-color: #444;
}
* html #subheader a {margin: 0 0.2em;}
 
#subheader li {
	margin: 0 8px;
	display: block;
	float: left;
}
#subheader li a {
	display: block;
	line-height: 26px;
	max-width: 200px;
	min-width: 60px;
	padding: 8px 6px;
	height: 26px;
}
#subheader li a:hover {
	text-decoration: underline;
}
#subheader li.current-link a:hover,
#subheader li a.active,
#subheader li.current-link a {
	background: url(images/pointer.png) center 35px no-repeat;
	font-weight: bold;
}
#subheader ul li.first-link {margin-left: 0}
#subheader ul li.last-link {margin-right: 0}
#subheader li a span {
	font-size: 14px;
}
#subheader a {
	color: #fff;
	text-decoration: none;
	cursor: pointer; /* IE7 */
	font-size: 14px;
	line-height: 0px;
	text-align: center;
	white-space: nowrap;
}
#subheader li.home a {
	text-indent: -5000px;
	min-width: 22px;
	background-image: url(images/home.png);
	background-position: center center;
	background-repeat: no-repeat;
}
#subheader li.home {
	margin-right: 0;
}
#container {
	width: 100%;
	overflow-x: auto;
	overflow-y: visible;
}
#header {
	padding: 0px;
	width: 100%;
	margin: 0 auto;
	background: #f5f5f5 none;
}
#mainheader {
	padding: 0;
	position: relative;
}

#main {
	padding: 32px 5px 0;
}

#main-bg {
	line-height: 1.5em;
}
* html #main-bg, * html #cont {
	height: 1%;
	width: auto;
	background: transparent;
}
#side-border-left, #side-border-right {
	width: 222px;
	max-width: 222px;
	padding: 0 10px 0 2px;
	display: inline;
}
#side-border-right {
	padding: 0 2px 2px 10px;
}
#side-border-left, #side-border-right {
	background-color: #fff;
	padding: 10px 0 10px 0;
    border-radius: 5px;
	border: 1px solid #ccc;
}
#side-border-left .panel, #side-border-right .panel {
	margin-bottom: 10px
}

.side-left #main-bg {margin: 0 0 4px 240px;}
.side-right #main-bg {margin: 0 240px 4px 0;}

.side-both #main-bg {margin: 0 218px 4px;}

.side-both #side-border-left,
.side-both #side-border-right {
	width: 200px;
}
/* Navigation Panel */
.panelbody {
	padding: 6px 4px 0px;
}
#navigation {}
#navigation h2, .side-label {
	position: relative;
	color: #fff;
	border: 1px solid #2e81bf;
	font-size: 12px; /* IE7 */
	text-shadow: -1px -1px 0 #2e81bf;
	padding: 4px 8px;
	background: #4caae3 url(images/btn.png) repeat-x top;
	margin: 2px -10px 0;
	box-shadow: 0 1px 2px rgba(0,0,0, .4), 0 -1px 0 #65b8f6 inset;
}
.side-label {
	border: 1px solid #666;
	background: #888 url(images/btn.png) repeat-x top;
	box-shadow: 0 1px 2px rgba(0,0,0, .4), 0 -1px 0 #999 inset;
	text-shadow: -1px -1px 0 #333;
}
/* Side panels title, categories and label corners */
h2.panelcap:before, h2.panelcap:after,
#navigation h2:before, .side-label:before,
#navigation h2:after, .side-label:after {
	content: " ";
	display: block;
	position: absolute;
	z-index: -1;
	background: none;
	border-top: 0;
	border-bottom: 5px solid #1C5A92;
	top: -6px;
}
h2.panelcap:before,
#navigation h2:before,
.side-label:before {
	border-right: 5px solid transparent;
	right: -1px;
}
h2.panelcap:after,
#navigation h2:after,
.side-label:after {
	border-left: 5px solid transparent;
	left: -1px;
}
h2.panelcap:before,
h2.panelcap:after {
	border-bottom: 5px solid  #222;
}

.side-label:before, 
.side-label:after {
	border-bottom: 5px solid  #444;
}
/************************/
#container .panel, .post, .article {
	overflow: hidden;
}
h2.panelcap {
	position: relative;
	color: #fff;
	border: 1px solid #444;
	font-size: 16px; /* IE7 */
	line-height: 22px;
	text-shadow: -1px -1px 0 #222;
	padding: 6px 8px;
	background: #444 url(images/btn.png) repeat-x top;
	margin: 0 -6px;
	box-shadow: 0 1px 2px rgba(0,0,0, .4), 0 -1px 0 #666 inset;
}
.side .panel {
	overflow: visible;
}

#navigation ul {
	margin: 0;
	display: block;
	list-style-type: none;
	line-height: 1.2em;
}
#navigation li {height: 20px;}
#navigation .bullet {}
.bullet {
	margin-bottom: 2px;
	vertical-align: middle;
	border: 0;
}
* html #navigation ul li, #navigation a {height: 1%;}
#navigation a {
	display: block;
	text-decoration: none;
	height: 20px;
}
#navigation .current-link a span {text-decoration: underline;}

#navigation a span {
	line-height: 1.7em;
	padding: 0;
	cursor: pointer; /* IE7 */
}
#navigation a {padding-left: 2px;}

/* Misc Styles */
.switcherbutton {
	height: 11px;
	width: 11px;
	margin: 6px 0;
}
.panelbutton {
	cursor:pointer;
}

/* Page Navigation */
.pagenav {
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	padding: 4px;
	margin: 6px;
}

.pagenav span {
	font-weight: normal;
	color: #999;
	text-decoration: none;
	background-color: #ddd;
	border: 1px solid #cccccc;
	border-radius: 2px;
    text-shadow: #ccc 0.1em 0.1em 0.2em;
	text-decoration: none;
	cursor: default;
	padding: 3px 8px 3px 8px;
	margin: 2px;
}

.pagenav a {
	color: #999999;
	text-decoration: none;
	border: 1px solid #cccccc;
	background-color: #f6f6f6;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#ffffff),color-stop(100%,#efefef));
    background-image: -webkit-linear-gradient(#ffffff,#efefef);
    background-image: -moz-linear-gradient(#ffffff,#efefef);
    background-image: -o-linear-gradient(#ffffff,#efefef);
    background-image: linear-gradient(#ffffff,#efefef);
	border-radius: 2px;
    text-shadow: #ccc 0.1em 0.1em 0.2em;
	text-decoration: none;
	cursor: pointer;
	padding: 4px 9px 4px 9px;  /* top right bottom left*/
	margin: 2px;
}

.pagenav a:hover , .pagenav a:focus {
	color: #999999;
	text-decoration: none;
	border: 1px solid #999999;
	background-color: #f3f3f3;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#ffffff),color-stop(100%,#efefef));
    background-image: -webkit-linear-gradient(#ffffff,#efefef);
    background-image: -moz-linear-gradient(#ffffff,#efefef);
    background-image: -o-linear-gradient(#ffffff,#efefef);
    background-image: linear-gradient(#ffffff,#efefef);
	box-shadow: 0 0 3px #999;
   -moz-box-shadow: 0 0 3px #999;
   -webkit-box-shadow: 0 0 3px #999;
}

input[type="image"].bbcode:active {
	background: none;
	color: #bbb;
	border: 1px solid #bbb;
	background-color: #eee;
	box-shadow: inset 0 0 4px #bbb;
}
input[type="image"].bbcode:active {
	background: none;
	color: #bbb;
	border: 1px solid #bbb;
	background-color: #eee;
	box-shadow: inset 0 0 4px #bbb;
}
input[disabled="disabled"] {
	color: #aaa;
	border-color: #ddd;
	opacity: 0.8;
}
input::-moz-focus-inner {border:0; padding:0}
:focus {outline: none;}

.textbox,
select,
input[type=text] {
	color: #a0a09e;
	font-size: 13px;
	background: #fff;
	border: 1px solid #CACACA;
	border-top-color: #aaa;
    margin: 0 0 2px;
    padding: 5px 2px 5px 5px;
}

.textbox:hover, .textbox:focus,
select:hover, select:focus,
input[type=text]:hover, input[type=text]:focus
 {
	border-color: #4D90FE;
	box-shadow: inset 0px 1px 2px #aaa;
   -moz-box-shadow: inset 0px 1px 2px #aaa;
   -webkit-box-shadow: inset 0px 1px 2px #aaa;
}
.textbox:focus, select:focus, input[type=text]:focus {color: #3C3C3D;}
#sinput {
	padding: 5px 0;
	border: 0;
	margin: 0;
	box-shadow: none;
	background: none;
}

/* News and article info styles */
ul.news-info,
ul.article-info {
	margin: 0;
	margin-bottom: 2px;
	height: 22px;
	list-style: none;
}
.news-info li,
.article-info li {
	margin: 0 10px 0 0;
	display: inline;
	float: left;
	height: 16px;
	list-style: none outside none;
}
.news-info li, .news-info li a,
.article-info li, .article-info li a {
	text-transform: uppercase;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.author, .dated, .reads, .comments, .cat {
	padding: 0 4px 0 4px;
	float: left;
	color: #999;
	padding: 0 0 0 18px;
	height: 22px;
	background: url(images/news-info.png) no-repeat left top;
}
.dated {background-position: left -20px;}
.cat {background-position: left -40px;}
.reads {background-position: left -61px;}
.comments {background-position: left -79px;}

.options {
	overflow: hidden;
	float: right;
	height: 18px;
	padding: 10px 4px 0px 4px;
}
.print, .edit {
	float: left;
}
.news-category {
	padding: 4px;
	background: #f1f1f1;
	border: 1px solid #d4d6d8;
	float: left;
	margin: 0.2em 0.5em 0 0;
	border-radius: 4px;
}

.panel {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 4px #ccc;
	margin-bottom: 20px;
	background: #fff;
}
#side-border-left .panel,
#side-border-right .panel {
	border: 0;
	border-radius: 0;
	box-shadow: none;
}
.panelcap, .maincap {
	padding: 0 10px;
	color: #000;
	font-weight: normal;
}
.maincap {
	background: #fff;
	border-bottom: 1px dotted #ccc;
	font-size: 18px;
	font-weight: bold;
	margin: 0 4px;
	height: 36px;
	line-height: 36px;
}
.panelbody {
	z-index: 1000;
	border-top: 0px;
}
.contentbody {
	z-index: 1000;
	background: #fff;
	border-top: 0;
	padding: 4px 10px 10px;
}

.mceContentBody {background: #fff;}
.quote, .admin-message {
	border: 1px solid #96c6df;
	margin: 0 2em;
	padding: 5px 4px 4px 6px;
}
.quote {
	background: #f8fbfd;
	padding: 0 0 2px 18px;
	border-left: 4px solid #96c6df;
}
.quote p.citation {
	margin: 0 0 0 -18px;
	padding: 8px 7px;
	font-size: 12px;
	text-shadow: 1px 1px 0 #c5dfed;
	background: url(images/btn.png) repeat-x #96C6DF;
}
.quote a:hover {
	color: #2f4049;
}
.admin-message,
.nocomments-message {
	border: 1px solid #b52626;
	background: #ffcbcb url(images/info-red.png) no-repeat 8px center;
	color: #b52626;
	padding: 10px 5px 10px 30px;
	margin: 0 auto 10px;
	width: 80%;
}
.admin-message a {
	color: #fff;
	text-decoration: underline;
}
.noscript-message.admin-message {background-image: url(images/alert.png);}
#close-message .admin-message,
.nocomments-message {
	background-image: url(images/info-blue.png);
	background-color: #d2eefe;
	border-color: #1776ae;
	color: #1776ae;
}
.panels-list {border: 1px solid #ddd;}
.panels-list li {margin:0}
code, pre {
	font-family: monospace;
	font-size: 1em;
}
.poll {
	height: 16px;
	background: url(images/btn.png) repeat-x top #178EEA;
}
.pollbar {
	border: 1px solid #aaa;
}
/* ShoutBox styles */
.shoutboxname, .comment-name {font-weight: bold;}
.shoutboxname .profile-link {
	background: url(images/news-info.png) no-repeat 0 0;
	padding: 1px 0 1px 18px;
}
.shoutboxname,
.shoutboxdate,
.shoutbox .shoutbox {
	background-color: #F2F2F2;
	padding: 4px 4px 0;
}
.shoutboxname {
	border-top: 1px solid #ECECEC;
}
.shoutbox .shoutbox {
	border-bottom: 1px solid #ECECEC;
	padding-bottom: 3px;
}
.shoutboxdate {
	color: #888;
	font-size: 0.8em;
}
.small,.small2,.side-small, small {font-size: 11px;}
.tbl-border, .code_bbcode {
	background: #fff;
	border: 1px solid #ddd;
	border-spacing: 0;
}
.code_bbcode {width:414px}
.tbl-border.forum_idx_table {
	border: 0px solid #fff;
}
.tbl-border.center {border: 1px solid #ddd;}
.tbl-border.forum_table {
	background: #fff;
	border: 0px solid #1d83b9;
	border-spacing: 0;
}
.tbl-border.forum_thread_table {
	border: 0px solid #ddd;
}
.forum_thread_title strong, .forum_cat_name {
	font-size: 18px;
	font-weight: normal !important;
	text-shadow: 1px 1px 0 #000;
}
.tbl1, .tbl2, .tbl.profile_user_avatar, .forum-caption, .bbcode {
	background: #fbfbfb;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 0;
	border-bottom: 0;
	padding: 6px;
}
.forum-caption {
	padding: 8px;
}
.tbl {padding: 0 3px;}
.bbcode {
	border: 1px solid #ccc;
	padding: 0 !important;
	margin: 0 !important;
}
.tbl2 {
	background: #f7f7f7;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
}
.forum_thread_post_space {
	border: 0;
	padding: 0;
	background: #fff;
}
.forum_thread_user_name,
.forum_thread_post_date,
.forum_thread_user_info,
.forum_thread_user_post,
.forum_thread_ip,
.forum_thread_userbar {
	border: none;
}
.forum_thread_user_name {
	border-style: solid;
	border-width: 1px 0 1px 1px;
	border-color: #ddd #f4f4f4 #eee #ddd;
	background: #f4f4f4;
	padding: 8px 0 6px 6px;
}
.forum_thread_post_date {
	border-style: solid;
	border-width: 1px 1px 1px 0;
	border-color: #ddd #ddd #eee #f4f4f4;
	background: #f4f4f4
}
.forum_thread_post_date a {
	font-size: 14px;
	font-weight: bold;
}

.forum_thread_user_info {border-left: 1px solid #ddd;background: #FBFBFB}
.forum_thread_user_post {border-right: 1px solid #ddd;background: #FBFBFB}

.forum_thread_ip {border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;background: #FBFBFB}
.forum_thread_userbar {border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;background: #FBFBFB}

.post-edited {
	background: url(images/comment_edit.png) no-repeat 6px 10px #FFEBC8;
	border: 1px solid #ECC272;
    color: #AC6328;
    margin-top: 15px;
    padding: 8px 8px 8px 28px;
    text-shadow: 0 1px 0 #FFFAF1;
}

.forum_thread_user_name a.profile-link {
	padding-left: 20px;
	background: url(images/news-info.png) no-repeat 2px 2px;
	font-weight: bold;
	font-size: 14px;
	color: #006aa1;
}
.forum_thread_user_name a:hover {
	text-decoration: underline;
}
.emulated-fieldset {
	margin-top: 10px;
}
.attachments-list {
	border: 1px solid #ddd;
	padding: 8px 6px 6px;
	margin-top: -7px;
	box-shadow: 1px 1px 0 #fff, 1px 1px 0 #fff inset;
}
.emulated-legend {
	margin-left: 8px;
	background: #fbfbfb url(images/attachement.png) no-repeat 2px top;
	padding: 0 4px 0 18px;
	font-size: 11px;
}
.bbcode-popup {border: 1px #ccc solid !important;z-index:1001;padding-bottom: 10px;}
.bbcode-popup img {cursor: pointer; opacity: 0.6}
.bbcode-popup img:hover {opacity: 1}
.comment-info {padding: 3px;}
.comment-msg {padding: 6px;}
.comment_wrap {
	padding: 0;
	border: 1px solid #cecece;
	min-height: 60px;
	margin-left: 80px;
}
.comment_wrap .actions {display: none;}
.comment_wrap:hover .actions {display: block;}
.comment_wrap.noavatar {margin-left:0;}
.user_avatar {
	width: 50px;
	height: 50px;
	padding: 5px;
	background: #fff;
	border: 1px solid #cecece;
	position: absolute;
	left: 0px;
	top: 0px;
}
.comment_wrap, .user_avatar {
	border-radius: 3px;
	box-shadow: 1px 1px 0 #FFFFFF;
}
.comment {
	position: relative;
	padding-bottom: 10px;
}
.pointer, .pointer span {
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
}
.pointer {
	border-style: dashed;
	border-right: 8px solid #cecece;
	left: 72px;
	top: 24px;
}
.pointer span {
	border-right: 8px solid #fbfbfb;
	left: 1px;
	top: -8px;
}
.forum-caption {
	color: #fff;
	background: #444;
	font-weight: bold;
	margin-top:4px;
	border: 0;
}
.forum_breadcrumbs {
	background: #fff2ce url(images/right.png) no-repeat 4px center;
	padding-left: 22px;
	font-style: italic;
	border-color: #fbce00;
	border-width: 1px;
	border-style: solid;
	margin-bottom: 6px;
}
.forum-caption a {
	color: #ddd;
	text-shadow: -1px -1px 0px #000;
}
.forum-caption a:hover {
	color: #fff;
}
#footer {
	border-top: 1px solid #fff;
	background: #444;
	width: 100%;
	margin-top: 30px;
	color: #999
}
#footer a {
	color: #eee;
}
#footer a:hover {
	color: #fff;
}
.footer {
	padding: 50px 0;
}
.footernav {
	width: 800px;
}
.footernav .section {
	width: 200px;
}
.section h4 {
	color: #fff;
	font-size: 14px;
	margin: 0;
}

.section li, .section ul {
	margin: 10px 20px 0 0;
	line-height: 26px;
	list-style-type: none;
}
.section li {
	margin: 4px 0;
	border-bottom: 1px dotted #555;
}
.subfooter {
	margin: 0 auto;
	padding: 12px 0 0;
	font-size: 11px;
	clear: both;
}
#subfooter {
	border-top: 1px solid #555;
	padding: 12px 40px;
	background: #333;
	color: #ccc;
}
#top-link {
	display: block;
	height: 29px;
	width: 29px;
	background: url(images/arrow.png) no-repeat center top;
}
#top-link:hover {
	background-position: center bottom;
}
.scroll-top {
	width: 29px;
	margin-top: -12px;
}
#copyright {
	line-height: 18px;
}
.button,
button,
input[type=submit] {
	color: #555;
	background: #f8f8f8 url(images/btn.png) repeat-x left top;	
	border: 1px solid #ccc;
	padding: 5px 12px;
	margin-top: 2px;
	display: inline-block;
	cursor: pointer;
	font-weight: normal;
	border-radius: 2px;
	box-shadow: 0 0 1px #ddd;
}
.button:hover,
.button.search,
button:hover,
input[type=submit]:hover {
	background-color: #4D90FE;
    border-color: #3079ED;
    color: #fff;
}
/* Search input styles */
.search-wrap {
	position:absolute;
	left: 360px;
	top: 50%;
	margin-top: -18px;
}
.button.search {
	margin: 0 0 0 4px;
	padding: 2px 2px 3px 2px;
	width: 60px;
	height: 30px;
}
.search-input-wrap {
	padding: 0 3px;
}
.button.search.mini {
	margin: 3px 0 0 0;
	width: auto;
	height: 20px;
	padding: 0px 6px;
	overflow: hidden;
	font: bold 11px/22px Arial, sans-serif;
}
#placeholder {
	width: 0 !important;
	padding: 5px 0;
	margin: 2px 0 0 4px;
}
/* end */
.button:active,
.button.active,
button:active,
input[type=submit]:active {
	box-shadow: inset 0 1px 1px #555;
	background-position: 0 -81px;
	background-color: #0F5EA2;
	color: #fff;
	text-shadow: none;
	border-color: #347BBA;
	top: 1px;
}
.button.negative:focus,
.button.negative:hover {
	color: #fff;
	background-color: #D84743;
	border-color: #bc002c;
}
.button.negative:active,
.button.negative.active{
	box-shadow: inset 0 1px 1px #555;
	background-color: #A5211E;
	border-color: #bc002c;
}
.button.big {
	font-size: 14px;
	padding: 5px 10px;
}
.button img.icon {
	display: inline-block;
	width: 14px;
	height: 12px;
	position: relative;
	top: 1px;
	background-image: url(images/buttons_icons.png);
	background-repeat: no-repeat;
	margin: auto 7px auto auto;
}
.button img.icon.pm-button { background-position:0 -500px; }
.button:hover img.icon.pm-button { background-position:0 -512px; }
.button img.icon.edit-button { background-position:0 -556px; }
.button:hover img.icon.edit-button {background-position:0 -571px; }
.button img.icon.web-button { background-position:0 -586px; }
.button:hover img.icon.web-button { background-position:0 -601px; }
.button img.icon.quote-button { background-position:0 -176px; }
.button:hover img.icon.quote-button { background-position:0 -190px; }
.button img.icon.newthread-button { background-position:0 -616px }
.button:hover img.icon.newthread-button { background-position:0 -631px }
.button img.icon.reply-button { background-position:0 -646px }
.button:hover img.icon.reply-button { background-position:0 -660px }
.button img.icon.rightarrow { background-position:0 -674px }
.button:hover img.icon.rightarrow { background-position:0 -689px }
.button img.icon.settings-button { background-position: 0 -146px }
.button:hover img.icon.settings-button { background-position: 0 -161px }

.tcp-warn {position:relative}
#tcp-warn {
	position:absolute;
	top: 3px;
	right: 2px;
	cursor: pointer;
	width:14px;
	height:12px;
	background: url(images/buttons_icons.png) no-repeat 0 -204px;
}
#tcp-warn:hover {background-position:0 -219px}

#site-links, #site-links li {margin: 0;}

.user-avatar,
.user-avatar a,
.user-avatar img,
.user-avatar:after {
	position: relative;
	border-radius: 3px;
	display: inline-block;
}
.user-avatar:after {
	position: absolute;
	border: 1px solid;
	border-color: #bbb; /* IE */
	border-color: rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
	content: "";
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1;
}
.tag {
	background-image: url(images/btn.png);
	background-repeat: repeat-x;
	background-color: #555; 
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    padding: 0 5px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}
.tag.big {
	font-size: 12px;
}
.tag.green {background-color: #7BA60D;}
.tag.orange {background-color: #e08500;}
.tag.red {background-color: #d93232;}
.tag.blue {background-color: #178eea;}
.tag.gray {background-color: #9a9a9a;}

.last-post {
	padding-right: 50px;
}
.last-post .user-avatar {
	margin-right: 6px
}