{item.{
<div class="panel panel-addons">
	<a href="{%link%}">
		<div class="overflow-hide" style="max-height:180px;">
			{%image%}
		</div>
		<div class="panel-body">
			<h5 class="title">{%title%}</h5>
			<p class="description">
				{%description%}
			</p>
		</div>
		<div class="panel-footer">
			<div class="meta">
				<span class="m-r-10">{%avatar%}</span>{%profile_link%}
			</div>
			<div class="info">
				{%ratings_text%}<br/>
				{%collection_text%}<br/>
			</div>
		</div>
	</a>
</div>
}}

