<div class="user-header">
	{%user_cover%}
	<div class="container">
		<div class="welcome-message">
			<div>
				<h4>Welcome to Your PHPFusion Profile</h4>
				Get started by adding your profile cover image. It’s the first thing people will see, so let it be your masterpiece showcase!
			</div>
		</div>
		<div class="header-content">
			<div class="user-meta">
				{%user_avatar%}
				<div class="meta-detail">
					<div class="block">
						<div class="display-block">
							<h3>{%user_name%}</h3>
							{user_admin.{
							<div class="dropdown display-inline">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-ellipsis-v"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="{%user_susp_link%}">{%user_susp_title%}</a></li>
									<li><a href="{%user_edit_link%}">{%user_edit_title%}</a></li>
									<li><a href="{%user_ban_link%}">{%user_ban_title%}</a></li>
									<li><a href="{%user_suspend_link%}">{%user_suspend_title%}</a></li>
									<li><a href="{%user_delete_link%}">{%user_delete_title%}</a></li>
								</ul>
							</div>
							}}
						</div>
						<p>{%user_level%}</p>
					</div>
					<div>
						<span>TBA Friends</span>
						<span>TBA Page Views</span>
					</div>
				</div>
<!--				<div class="user-buttons">-->
<!--					<div class="buttons-wrapper m-r-10">-->
<!--						<a href="#" data-toggle="profile-cover"><i class="fas fa-camera m-r-5"></i>Add Cover</a>-->
<!--						<div class="overlay"></div>-->
<!--					</div>-->
<!--					{buttons.{-->
<!--					<div class="buttons-wrapper">-->
<!--						<a href="{%user_pm_link%}">{[send_message]}</a>-->
<!--						<div class="overlay"></div>-->
<!--					</div>-->
<!--					}}-->
<!--				</div>-->
			</div>
		</div>
	</div>
</div>
