.clear { 
clear: both;
}

.notify-bar {
    position:absolute;
	top:0;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	text-shadow: 
	0 3px 3px rgba( 0, 0, 0, 0.3 ),
	0 -3px 3px rgba( 0, 0, 0, 0.3 ),
	3px 0 3px rgba( 0, 0, 0, 0.3 ),
	-3px 0 3px rgba( 0, 0, 0, 0.3 );
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	color: #fff;
	display:block;
	padding: 2.25em 1.6875em;
	background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
	background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
	background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
	background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
	-webkit-background-size: 3px 3px;
	-moz-background-size: 3px 3px;
	background-size: 3px 3px;
	width: 100%;
	max-width: 700px;
	min-width:350px;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-color: #000;
	background-color: #4ea5cd;
	display:none;
	height : 20px;
    margin-bottom: -67px;
    padding: 33px;
}

navigeringv1.ul, navigeringv1.li {
	margin: 0;
	padding: 0;
	list-style:none;
	font-size: 10px;
}

.navigation-header {
border-top-left-radius: 8px;
border-top-right-radius: 8px;
-moz-border-radius-topleft: 8px;
-moz-border-radius-topright: 8px;
-webkit-border-top-right-radius: 8px;
-webkit-border-top-left-radius: 8px;
text-align:center;
background-color: #F3F7F9;
height: 15px;
list-style-type: none;
color: #666;
font-weight: bold;
margin-bottom: 5px;
margin-top: 5px;
}


.navigeringv1 {
	font-size: 10px;
	height: auto;
	background-color: #F3F7F9;
	font-weight: bold;
}


.navigeringv1 .navigeringv1_liste li a {
	display:block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 4px;
	text-decoration:none;
	color: #3B5998;
	border-bottom: 1px solid #7A7A7C;
}

/* Fieldset & Legend styles */	

fieldset { 
border: 2px solid #d9deeb !important; 
width:99% !important;
margin: 0 auto !important;
padding:0px !important;
margin-top:5px !important;
margin-bottom: 10px !important;

/* -- CSS3 - define rounded corners -- */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
/* -- CSS3 - add a drop shadow -- */
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);

}

legend {
  display: block !important;
  padding: 0 !important;
  line-height: 16px !important;
  color: #333 !important;
  border: 0px solid #d9deeb !important;
  background-color:#F7F7F7 !important;
  margin-left:20px !important;
  font-size:12px !important;
  width:95% !important;
  margin-bottom: 5px !important;
  -webkit-box-shadow:0px 0 4px #ccc; 
  -moz-box-shadow:0px 0 4px #ccc;
  box-shadow:0px 0 4px #ccc; 
  -webkit-border-bottom-right-radius: 5px; 
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.crumbstart {
float: left;
display:inline;
padding-left: 3px;
}

.crumbarrow {
padding-top: 0px;
height: 15px;
background: url(../../../../eshop/img/right.png) no-repeat top right;
float: left;
display:inline;
padding-right: 18px;
font: 11px Arial;
color: #565656;
margin-right: 5px;
}

.activecrumb {
padding-top: 0px;
height: 15px;
float: left;
font: 11px Arial;
color: #565656;
display:inline;
}


a.homeLink {
text-decoration: none;
color: #444;
background: url(../../../../eshop/img/homesmall.png) no-repeat 0 1px;
padding-left: 15px;
font: 11px Arial;
}


/* Featured banners start */
#page-wrap	{
background: white; width:728px; margin: 0 auto; padding:1px;	   
}

#slider	{ 
//background: white url(../../../../eshop/img/slider-bg.jpg); 
height: 155px; 
overflow: hidden;
position: relative; margin: 2px 0; 
}
 
#mover { 
width: 2880px; 
position: relative; 
}


/* Featured banners end */

.imageclass { 
  height:auto !important; 
  width:auto !important; 
  max-width:480px !important; 
  max-height:330px !important; 
}
/* Ribbons start */
.itembox {
	border: solid 1px #eee;
	border-radius: 5px;
}

.rib-wrap {  position: relative !important; }

.ribbon-wrapper-blue {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -4px;
  right: -4px;
}

.ribbon-blue {
  font-size: 12px; 
  font-weight: bold;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 6px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #ADDDE7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #ADDDE7, #89AFB7);
  background-image:    -moz-linear-gradient(top, #ADDDE7, #89AFB7);
  background-image:     -ms-linear-gradient(top, #ADDDE7, #89AFB7);
  background-image:      -o-linear-gradient(top, #ADDDE7, #89AFB7);
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
  -webkit-backface-visibility: hidden;
  transform: translate3d(0,0,45);
}

.ribbon-blue:before, .ribbon-blue:after {
  content: "";
  border-top:   3px solid #84a7af;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-blue:before {
  left: 0;
}
.ribbon-blue:after {
  right: 0;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -4px;
  right: -4px;
}

.ribbon-green {
  font-size: 12px; 
  font-weight: bold;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 6px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
  -webkit-backface-visibility: hidden;
  transform: translate3d(0,0,45);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

.ribbon-wrapper-red {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -4px;
  right: -4px;
}

.ribbon-red {
  font-size: 12px; 
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 6px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#990000), to(#cc0000));
  background-image: -webkit-linear-gradient(top, #990000, #cc0000);
  background-image: -moz-linear-gradient(top, #990000, #cc0000);
  background-image: -ms-linear-gradient(top, #990000, #cc0000);
  background-image: -o-linear-gradient(top, #990000, #cc0000);
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
  -webkit-backface-visibility: hidden;
  transform: translate3d(0,0,45);
}

.ribbon-red:before, .ribbon-red:after {
  content: "";
  border-top: 3px solid #900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-red:before {
  left: 0;
}
.ribbon-red:after {
  right: 0;
}
/* Ribbons end */

.imgclass:hover {
	opacity: 0.8;
}


.countbox_bubble {
    background-color:red; 
    color:white;
    font-weight:bold;
    font-size:0.95em;
	padding: 2px;
	display:inline;
	 }
	 
.eshptextbox {
	font-family : Verdana, Arial, Helvetica, sans-serif !important;
	font-size : 12px !important;
	height: 20px !important;
	margin:3px !important;
	padding:3px 4px !important;
	border: 1px solid #cccccc !important;
	color: #777 !important;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* Details carousel start */





.myTrans { 
	border: 2px dotted gray; 
} 

#carousel-wrapper {
	padding-bottom: 5px;
	padding-top:5px;
	position: relative;
	width:95%;
}

#carousel, #thumbs {
	overflow: hidden;
}

#carousel-wrapper .caroufredsel_wrapper {
	border-radius: 10px;
}

#carousel a, #carousel img,#thumbs a, #thumbs img  {
	display: block;
	float: left;
}

#carousel a, #carousel a,	#thumbs span, #thumbs a {
	position: relative;
}

#carousel img {
	border: none;
	height: 100%;
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}
			
#thumbs img {
	border: none;
	height: 100%;
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}
			
#carousel img.glare,	#thumbs img.glare {
	width: 102%;
	height: auto;
}

#carousel a {
	width: 554px;
	height: 313px;
}

#thumbs-wrapper {
	padding: 20px 40px;
	position: relative;
}

#thumbs a {
	border: 2px solid #899;
	width: 150px;
	height: 100px;
	margin: 0 10px;
	overflow: hidden;
	border-radius: 10px;
	-webkit-transition: border-color .5s;
	-moz-transition: border-color .5s;
	-ms-transition: border-color .5s;
	transition: border-color .5s;
}

#thumbs a:hover, #thumbs a.selected {
	border-color: #566;
}
			
#wrapper img#shadow {
	width: 100%;
	position: absolute;
	bottom: 0;
}

#prev, #next {
	background: transparent url('img/gui/carousel_nav.png') no-repeat 0 0;
	display: block;
	width: 19px;
	height: 20px;
	margin-top: -10px;
	position: absolute;
	top: 50%;
}

#prev {
	background-position: 0 0;
	left: 10px;
}

#next {
	background-position: -19px 0;
	right: 10px;
}			

#prev:hover { 
	background-position: 0 -20px;				
}

#next:hover {
	background-position: -19px -20px;				
}

#prev.disabled, #next.disabled {
	display: none !important;
}

/* Details carousel end */	


.eshptable {
	margin: 0px;
	padding: 0px;
	color: #222;
	font-family:Georgia, "Times New Roman", Times, serif;
	border-bottom: #990000 1px solid;
}

.eshptable tr:hover td {
	background-color:#f2fffd !important;
}

a.info {
	position: relative;
	z-index: 998;
}

a.info:hover {
	z-index: 999;
}

a.info span {
	display: none;
}

a.info:hover span {
	display: block;
	position: absolute;
	top: 2em;
	right: 2em;
	width: 15em;
	padding: 6px;
	border: 1px solid black;
	background-color: #eeeeee;
	color: #000;
}

label.cList {
	display: block !important;
	vertical-align:baseline !important;
}

.cListdiv {
	display: inline !important;
	vertical-align:baseline !important;
}

label.sList {
	display: block !important;
	vertical-align:baseline !important;
}

.sListdiv {
	display: inline !important;
	vertical-align:baseline !important;
}

input[type=checkbox] {
	position: relative !important;
	top: -4px !important;
}

#exttabs,#exltab ,#ordertab {
	display: none;
	height:100%;
	padding:4px;
}

.hide {
	display:none;
}

.prodthreecol .col {
	display:inline-block;
	margin:0 auto;
	padding:1px;
}

ul.arealist li { 
	border:1px solid #ddd;
	padding:4px;
	line-height:1.8em;
	margin:5px 10px 0 0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:#eee;
	text-align: center;
	opacity:0.8;   
}

ul.arealist li:hover {
	background:#f2fffd;
	color:#555;
	cursor:pointer;
	text-shadow:none;
	opacity:1.0;   
}

td.arealist { 
	border:1px solid #ddd;
	padding:4px;
	line-height:1.8em;
	margin:5px 10px 0 0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:#eee;
	text-align: center;
}

td.arealist:hover {
	background:#f2fffd;
	color:#555;
	cursor:pointer;
	text-shadow:none;
}

ul.eshp-tabs {  
	margin:0 !important; 
	padding:0;
	height:30px;
	border-bottom:1px solid #666;	 	
}

ul.eshp-tabs li {  
	float:left;	 
	padding:0; 
	margin:0;  
	list-style-type:none;
}

ul.eshp-tabs a { 
	float:left;
	font-size:13px;
	display:block;
	padding:5px 5px;	
	text-decoration:none;
	border:1px solid #666;	
	border-bottom:0px;
	height:18px;
	background-color:#efefef;
	color:#777;
	margin-right:2px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright:4px;
	position:relative;
	top:1px;	
}

ul.eshp-tabs a:hover {
	background-color:#F7F7F7;
	color:#333;
}
	
ul.eshp-tabs a.current {
	border-bottom:2px solid #fff;	
	color:#000;	
	cursor:default;
	background-color:#fff;
}

a:active, a:focus, input[type="image"] {
	outline: 0;
}

.eshpbutton,.eshpbutton:visited { 
	background:#222 url('../../../../img/overlay.png') repeat-x;
	display:inline-block;
	padding:5px 10px 6px;
	color:#fff;
	text-decoration:none;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	text-shadow:0 -1px 1px rgba(0,0,0,0.25);
	border-bottom:1px solid rgba(0,0,0,0.25);
	position:relative;
	cursor:pointer;
}

.eshpbutton:hover {
	background-color:#111;
	color:#fff;
	text-decoration:none;
}

.eshpbutton:active {
	top:1px;
}

.small.eshpbutton,.small.eshpbutton:visited {
	font-size:11px;
}

.eshpbutton,.eshpbutton:visited,.medium.eshpbutton,.medium.eshpbutton:visited {
	font-size:13px;
	font-weight:bold;
	line-height:1;
	text-shadow:0 -1px 1px rgba(0,0,0,0.25);
}

.large.eshpbutton,.large.eshpbutton:visited {
	font-size:14px;
	padding:8px 14px 9px; 
}

.green.eshpbutton,.green.eshpbutton:visited {
	background-color:#91bd09;
}

.green.eshpbutton:hover {
	background-color:#749a02;
}

.blue.eshpbutton,.blue.eshpbutton:visited { 
	background-color:#2daebf;
}

.blue.eshpbutton:hover {
	background-color:#007d9a;
}

.red.eshpbutton,.red.eshpbutton:visited {
	background-color:#FF0000;
}

.red.eshpbutton:hover {
	background-color:#880000;
}

.magenta.eshpbutton,.magenta.eshpbutton:visited {
	background-color:#a9014b;
}

.magenta.eshpbutton:hover {
	background-color:#630030;
}

.orange.eshpbutton,.orange.eshpbutton:visited {
	background-color:#ff5c00;
}

.orange.eshpbutton:hover {
	background-color:#d45500;
}

.yellow.eshpbutton,.yellow.eshpbutton:visited {
	background-color:#ffb515;
}

.yellow.eshpbutton:hover {
	background-color:#fc9200;
}