/* Standard Stock News */
.news-snippet {
	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
	height: 150px;
	margin-top: -100%;
	padding: 15px;
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6);
	color: #FFF !important;
	text-decoration: none !important;
}
.carousel-indicators > li {
	border:1px solid #eee;
}
.news-footer > a {
	color: rgb(153, 153, 153);
	font-weight: 600;
}
.news-footer > a:hover, .news-footer > a:focus, .news-footer > a:active {
	color: rgb(21, 133, 212) !important;
}
.news-img-header {
	max-height: 150px;
}
.news-img-header > a > img.img-responsive {
	height:260px;
	min-width: 100%;
}
.news-avatar {
	background-color: #FFF; position: relative; margin-bottom: 20px; margin-top: -15px; padding-top: 5px; padding-right: 5px; z-index: 100;
}
.news-profile-link {
	min-height: 70px;
}
#newscat > ul > li > a {
	width: auto !important;
	margin: 5px;
}

#news-slideshow .carousel-inner {
	height: 280px;
}
#news-slideshow img {
	min-width: 100%; margin: 0 auto;
}
#news-slideshow .carousel-inner .active, #news-slideshow .carousel-inner > .next, #news-slideshow .carousel-inner > .prev {
	top: 50%;
	transform: translateY(-50%);
}
#news-slideshow .carousel-caption {
	top: 50%;
	transform: translateY(-100%);
	height: 140px !important;
	left: 0 !important;
	padding-left: 20px;
	text-align: left !important;
	width: 100%;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
#news-slideshow .profile-link {
	color: rgb(21, 133, 212) !important;
	text-shadow: none;
	font-weight: 600;
}
.comments-item {
	text-decoration: none !important;
}
#news-slideshow .comments-item, #news-slideshow .ratings-item, #news-slideshow .news-carousel-action {
	color: rgb(255, 255, 255);
	text-decoration: none !important;
	opacity: 0.5;
}
#news-slideshow .comments-item:hover, #news-slideshow .ratings-item:hover {
	color: rgb(21, 133, 212) !important;
	opacity: 1;
}
.news-img-center {
display: block; 
margin-top : 5px;
margin-left: auto; 
margin-right: auto; 
}