.ui-pnotify {
	background: none !important;
	border: 0 !important;
	width: 300px;
	top: 30% !important;
	position: fixed !important;
}

.ui-pnotify .ui-pnotify-shadow, .ui-pnotify .alert-warning {
	background: rgba(0, 0, 0, 0.9) !important;
	color: rgb(255, 255, 255);
	border: 0 !important;
	text-shadow: none !important;
}

.cart-bar {
	display: block;
	min-height:50px;
	position: fixed;
	z-index: 5;
	padding: 25px;
	top:0;
	background: rgba(0,0,0,0.85);
	height: 100%;
	width:300px;
	right: -300px;
	-webkit-transition: all 0.5s ease-in-out ;
	-moz-transition: all 0.5s ease-in-out ;
	-ms-transition: all 0.5s ease-in-out ;
	-o-transition: all 0.5s ease-in-out ;
	transition: all 0.5s ease-in-out ;
}
.cart-bar.open {
	right:0;
}
.cart-bar h4, .cart-bar .heading, #cart-list > li {
	color: #fff !important;
}
.cart-tab {
	display: inline-block;
	background: rgba(0,0,0,0.85);
	border: 1px solid transparent;
	border-radius: 5px 0 0 5px;
	padding: 15px 20px;
	top: 25%;
	left: -69px;
	color: #fff !important;
	position: absolute;
}
#cart .heading {
	font-size:90%;
	font-weight: 600;
	width: 100%;
	display: block;
}
#cart .heading span {
	opacity: 0.7;
	margin-right:10px;
}
#cart-list {
	padding:0;
}
#cart-list > li {
	padding:10px 0;
	width:100%
}
#cart-list img {
	max-width:55px !important;
}

#cart-list .product-title {
	color: rgb(72,160,190) !important;
	font-weight: bold;
}
#cart-list .remove-cart-item {
	background: none;
	border: 0;
	color: rgb(165, 46, 10);
}