<h4 class='strong'>What is a Credit Verification Value/Card Verification Code (CVV/CVC)?</h4>
<p>The Card Verification Code (CVC) is a 3-digit number found on the signature panel on the back of your credit card. It
    is an additional safeguard that helps us validate your purchase and protect against fraud. It is not contained in
    the magnetic stripe information and is therefore not printed on sales receipts.</p>
<h4 class='strong'>Where is the CVV/CVC located?</h4>
<h4 class='text-lighter strong'>Visa</h4>
<img src='{%image_1%}'/>
<p>Visa's Card Verification Value (CVV) is a three-digit number on the back of your card. The full credit card number is
    reprinted in the signature box and at the end of the number is the CVV.</p>
<h4 class='text-lighter strong'>MasterCard</h4>
<img src='{%image_2%}'/>
<p>Validation Code (CVC) is a three-digit number on the back of your card. The full credit card number is reprinted in
    the signature box and at the end of the number is the CVC.</p>
<h4 class='strong'>What is a Card Identification Digits (CID) for American Express?</h4>
<p>Card Identification Digits (CID) refers to the 4-digit number on the front of the Card above the Card number. You
    have been requested to provide this information for American Express to validate for security reasons.</p>
<img src='{%image_3%}'/>