{attachments.{
<div id="{%attach_container_id%}" class="clearfix spacer-xs">
    <div class="pull-left m-r-10 p-t-5"><img src="{%image_path%}" style="width:50px;"/></div>
    <div class="overflow-hide">
        Insert: <span class="m-r-5">{%thumbnail_insert_link%}</span>
        <span class="m-r-5">{%sm_insert_link%}</span>
        <span class="m-r-5">{%md_insert_link%}</span>
        <span class="m-r-5">{%lg_insert_link%}</span>
        <span class="m-r-5">{%fs_insert_link%}</span>
        <span>{%remove_link%}</span><br/>
        {%image_path%}
    </div>
</div>
}}