<h4>Welcome to your Wallet.</h4>
<h4>Through the wallet service, PHP-Fusion provides everyone an account center that tracks your activity for your billing requirements. This is a service provided free for everyone to use.</h4>
<hr/>
<h4>Topping Up your Wallet</h4>
<p>Simply top up your wallet credits through the payment channels available here and you will be able to start utilizing all your credits in the entire of PHP-Fusion website.</p>
<hr/>
<h4>Transferring Credits to another User</h4>
<p>You can also simply transfer your own credits to another user of your choice. However, we need a reason for the transfer, and please refrain from doing personal business dealings as we are not responsible to resolve any disputed claims between users dealings.</p>