<h4>First Time Activation</h4>
<div class="alert alert-warning">
    <strong class="text-dark">Fusion Wallet Account Registration</strong>: Please complete the following information in order to activate your Fusion Coin Account.
</div>
<div class="clearfix">
    <div class="spacer-md">
        <div class="row">
            <div class="col-xs-12 col-sm-9" style="max-width:800px;">
                {%openform%}
                <div class="no-shadow">
                    <div class="panel-body">
                        {%email%}
                    </div>
                    <div class="panel-body">
                        {%type%}
                        <div id="company-container"  style="display:none;">
                            {%company%}
                            {%company_period%}
                            {%company_employees%}
                            {%company_industry%}
                            {%company_product%}
                        </div>
                        <div id="individual-container" style="display:none;">
                            {%first_name%}
                            {%last_name%}
                        </div>
                        {%job_title%}
                        {%web%}
                        <hr/>
                        {%geo%}
                        {%mobile%}
                        {%phone%}
                        {%fax%}
                        <hr/>
                        {%newsletter%}
                        <hr/>
                        {%tou%}
                        <hr/>
                        {%button%}
                    </div>
                </div>
                {%closeform%}
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Why does PHP-Fusion require my billing information?</h4>
                    </div>
                    <div class="panel-body">
                        As each different country and state has different tax laws, we therefore request your
                        billing information to be used exclusively to be used for tax assessment, to settle accounts and
                        issue electronic invoices. Your billing information will only be used for such purposes and will not be
                        shared
                        with any other third party or used for other purposes.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

