<h4>Transfer Funds</h4>
<p class="text-dark">You can transfer payments from almost anyone with a valid wallet account.</p>
<hr/>
<div class="clearfix">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
            {%openform%}
            <div class="step_a">
                {%field_a%}
                <div class="spacer-md">{%button_a%}</div>
            </div>
            <div class="step_b" style="display:none;">
                {%field_b%}
                <div class="spacer-md">{%button_b%}</div>
            </div>
            {%closeform%}
        </div>
    </div>

</div>
