<h4>Fund Transfer Withdrawal Requests</h4>Currently we only support fund transfers of all available credits to your Paypal account.<br/>
<hr/>
<div class="clearfix">
    {%openform%}
    {%fields%}
    <div class="spacer-md">
        {%button%}
    </div>
    {%closeform%}
</div>
<div class="alert alert-default">
    Note: Your first withdrawal is delayed for 15 days for security reasons.<br/>
    Withdrawals are processed twice a week, and may take up to 3-5 working business days.<br/>
    Additional fees may also be charged by third party gateways such as PayPal.
</div>