[data-bs-theme="light"]
{
    --bs-blue: #007bff;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #e83e8c;
    --bs-red: #d6293e;
    --bs-orange: #fd7e14;
    --bs-yellow: #f7c32e;
    --bs-green: #0cbc87;
    --bs-teal: #20c997;
    --bs-cyan: #4f9ef8;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray-100: #f7f8f9;
    --bs-gray-200: #eff2f6;
    --bs-gray-300: #eef0f2;
    --bs-gray-400: #e1e4e6;
    --bs-gray-500: #a1a1a8;
    --bs-gray-600: #676a79;
    --bs-gray-700: #29292e;
    --bs-gray-800: #14191e;
    --bs-gray-900: #0f0f10;
    --bs-primary: #0f6fec;
    --bs-secondary: #14191e;
    --bs-success: #0cbc87;
    --bs-info: #4f9ef8;
    --bs-warning: #f7c32e;
    --bs-danger: #d6293e;
    --bs-light: #eef0f2;
    --bs-dark: #14191e;
    --bs-primary-rgb: 15, 111, 236;
    --bs-secondary-rgb: 20, 25, 30;
    --bs-success-rgb: 12, 188, 135;
    --bs-info-rgb: 79, 158, 248;
    --bs-warning-rgb: 247, 195, 46;
    --bs-danger-rgb: 214, 41, 62;
    --bs-light-rgb: 238, 240, 242;
    --bs-dark-rgb: 20, 25, 30;
    --bs-primary-text-emphasis: #0b4ea5;
    --bs-secondary-text-emphasis: #0e1215;
    --bs-success-text-emphasis: #08845f;
    --bs-info-text-emphasis: #376fae;
    --bs-warning-text-emphasis: #ad8920;
    --bs-danger-text-emphasis: #961d2b;
    --bs-light-text-emphasis: #29292e;
    --bs-dark-text-emphasis: #0e1215;
    --bs-primary-bg-subtle: #cfe2fb;
    --bs-secondary-bg-subtle: #d0d1d2;
    --bs-success-bg-subtle: #cef2e7;
    --bs-info-bg-subtle: #dcecfe;
    --bs-warning-bg-subtle: #fdf3d5;
    --bs-danger-bg-subtle: #f7d4d8;
    --bs-light-bg-subtle: #fbfcfc;
    --bs-dark-bg-subtle: #d0d1d2;
    --bs-primary-border-subtle: #9fc5f7;
    --bs-secondary-border-subtle: #a1a3a5;
    --bs-success-border-subtle: #9ee4cf;
    --bs-info-border-subtle: #b9d8fc;
    --bs-warning-border-subtle: #fce7ab;
    --bs-danger-border-subtle: #efa9b2;
    --bs-light-border-subtle: #eff2f6;
    --bs-dark-border-subtle: #a1a3a5;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;

    --bs-body-font-size: .9375rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #676a79;
    --bs-body-color-rgb: 103, 106, 121;
    --bs-body-bg: #eff2f6;
    --bs-body-bg-rgb: 239, 242, 246;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0, 0, 0;
    --bs-secondary-color: rgba(103, 106, 121, .5);
    --bs-secondary-color-rgb: 103, 106, 121;
    --bs-secondary-bg: #eff2f6;
    --bs-secondary-bg-rgb: 239, 242, 246;
    --bs-tertiary-color: rgba(103, 106, 121, .5);
    --bs-tertiary-color-rgb: 103, 106, 121;
    --bs-tertiary-bg: #f7f8f9;
    --bs-tertiary-bg-rgb: 247, 248, 249;
    --bs-heading-color: var(--bs-gray-800);
    --bs-link-color: #0f6fec;
    --bs-link-color-rgb: 15, 111, 236;
    --bs-link-decoration: none;
    --bs-link-hover-color: #0c59bd;
    --bs-link-hover-color-rgb: 12, 89, 189;
    --bs-code-color: #d63384;
    --bs-highlight-color: #212529;
    --bs-highlight-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: rgba(0, 0, 0, .1);
    --bs-border-color-translucent: rgba(0, 0, 0, .175);
    --bs-border-radius: .4rem;
    --bs-border-radius-sm: .2rem;
    --bs-border-radius-lg: .7rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0px 0px 20px rgba(93, 83, 84, .15);
    --bs-box-shadow-sm: 0 .125rem .25rem rgba(83, 88, 93, .15);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(83, 88, 93, .15);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, .075);
    --bs-focus-ring-width: .25rem;
    --bs-focus-ring-opacity: .25;
    --bs-focus-ring-color: rgba(13, 110, 253, .25);
    --bs-form-valid-color: #198754;
    --bs-form-valid-border-color: #198754;
    --bs-form-invalid-color: #dc3545;
    --bs-form-invalid-border-color: #dc3545;

}
