/*
Author  : Hunter Perrin
Version : 2.0.1
Link    : http://sciactive.com/pnotify/
*/
/* -- Notice */
.ui-pnotify {
    top: 25px;
    right: 25px;
    position: absolute;
    height: auto;
    /* Ensures notices are above everything */
    z-index: 9999;
}

/* Hides position: fixed from IE6 */
html > body > .ui-pnotify {
    top: 20px;
    left: 30%;
    z-index: 9999;
    border-radius: 6px;
    box-shadow: 0px -1px 0px white inset, 0px 4px 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    /*max-height: 529px;*/
    text-shadow: 0px 1px 0px white;
    background: linear-gradient(rgb(255, 255, 255), rgb(219, 219, 219)) repeat scroll 0% 0% transparent;
    right: 30% !important;
}

.ui-pnotify .ui-pnotify-shadow {
    -webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.1);
}

.ui-pnotify-container {
    background-position: 0 0;
    padding: .8em;
    height: 100%;
    margin: 0 !Important;
}

.ui-pnotify-sharp {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.ui-pnotify-title {
    display: block;
    margin-bottom: .4em;
    margin-top: 10px !important;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
}

.ui-pnotify-text {
    display: block;
    font-size: 11px;
}

.ui-pnotify-icon, .ui-pnotify-icon span {
    display: block;
    float: left;
    margin-right: 10px !important;
}

/* Alternate stack initial positioning. */
.ui-pnotify.stack-topleft, .ui-pnotify.stack-bottomleft {
    left: 25px;
    right: auto;
}

.ui-pnotify.stack-bottomright, .ui-pnotify.stack-bottomleft {
    bottom: 25px;
    top: auto;
}

[class^="icon_notify-"]:before, [class*=" icon_notify-"]:before {
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline;
    margin-right: 10px;
    /*float:left; */
    text-decoration: inherit;
    text-align: center;
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 0;
    /* Animation center compensation - magrins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased pngicons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.n-badge-cancel:before {
    content: url(icons/Badge-cancel.png);
}

.n-chat:before {
    content: url(icons/Bubble-chat.png);
}

.n-calendar:before {
    content: url(icons/Calendar.png);
}

.n-cash:before {
    content: url(icons/Cash.png);
}

.n-cloud:before {
    content: url(icons/Cloud.png);
}

.n-gift:before {
    content: url(icons/Gift.png);
}

.n-gps:before {
    content: url(icons/GPS.png);
}

.n-heart:before {
    content: url(icons/heart.png);
}

.n-magic:before {
    content: url(icons/magic.png);
}

.n-magnet:before {
    content: url(icons/Magnet.png);
}

.n-mail:before {
    content: url(icons/MailFront.png);
}

.n-gold:before {
    content: url(icons/Gold.png);
}

.n-news:before {
    content: url(icons/News.png);
}

.n-note:before {
    content: url(icons/Notes.png);
}

.n-minus:before {
    content: url(icons/Minus.png);
}

.n-prize:before {
    content: url(icons/Prize.png);
}

.n-rss:before {
    content: url(icons/RSS.png);
}

.n-attention:before {
    content: url(icons/Attention.png);
}

.n-star:before {
    content: url(icons/Star.png);
}

.n-wall:before {
    content: url(icons/Wall.png);
}

.n-zoom:before {
    content: url(icons/Zoom.png);
}