{%opentable%}
<div class='spacer-sm'>{%breadcrumb%}</div>
<h4 class='spacer-sm'>{%faq_get_name%}</h4>
<div class="panel-group" id="faq-accordion" role="tablist" aria-multiselectable="true">
{faq.{
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="faq-item-{%faq_id%}">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#collapse-faq-item-{%faq_id%}" aria-expanded="true" aria-controls="collapse-faq-item-{%faq_id%}">{%faq_question%}</a>
                <a class='pull-right top' href='#' title='{%cat_top%}'><i class='fa fa-arrow-up'></i></a>
            </h4>
        </div>
        <div id="collapse-faq-item-{%faq_id%}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-item-{%faq_id%}">
            <div class="panel-body">
                {%faq_answer%}
                <div>
                    {%print_link%}
                    {%edit_link%}
                    {%delete_link%}
                </div>
            </div>
        </div>
    </div>

}}
</div>
{no_item.{
    <div class='well text-center m-t-15'>{%message%}</div>
}}
{%closetable%}
