<div class="{[row]} m-b-20 equal-height">
    <div class="{[col(100,33)]}">
        <div class="list-group-item p-15">
            <div style="column-count: 2">
                <div><strong>Reputation</strong><h3 class="strong text-dark">{%reputation_count%}</h3></div>
                <div><strong>Posts</strong><h3 class="strong text-dark">{%post_count%}</h3></div>
            </div>
        </div>
    </div>
    <div class="{[col(100,33)]}">
        <div class="list-group-item p-15">
            <div style="column-count: 2">
                <strong>Appreciators</strong>
            </div>
        </div>
    </div>
    <div class="{[col(100,33)]}">
        <div class="list-group-item p-15">
            <div style="column-count: 1">
                <div><strong>Impact</strong><br/><h4 class="display-inline">~20</h4> <small>people reached</small></div>
                <i class="fas fa-edit m-r-10"></i>704 posts edited<br/>
                <i class="far fa-thumbs-up m-r-10"></i>2,123 helpful flags<br/>
                <i class="fas fa-caret-up m-r-10"></i>103 votes cast<br/>
            </div>
        </div>
    </div>
</div>
<div class="{[row]}">
    <div class="{[col(100,50)]}">
        <div class="list-group-item p-15">
            <strong>Top Posts</strong>
            <table class="table">
                <tbody>
                <tr>
                    <td><i class="fas fa-code-branch m-r-10"></i><a href="">How to make facebook login button required to click?</a></td>
                    <td>Mar 28' 18</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="{[col(100,50)]}">
        <div class="list-group-item p-15">
            <strong>Tags</strong>
            <div style="column-count: 2">
                <div class="m-b-10">832<span class="label label-info m-l-10">ios</span></div>
                <div  class="m-b-10">250<span class="label label-info m-l-10">ios</span></div>
                <div  class="m-b-10">479<span class="label label-info m-l-10">ios</span></div>
                <div class="m-b-10">580<span class="label label-info m-l-10">ios</span></div>
            </div>
        </div>
    </div>
</div>