<div class="forum">
    <div class="forum-header">
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12">
                <a class="header-title" href="{%baselink%}">{[forum_0000]}</a>
            </div>
            <div class="col-md-9 col-sm-6 col-xs-12">
                {%forum_navs%}
            </div>
        </div>
    </div>
    <div class="p-15">
        {%breadcrumb%}
        <h4 class="m-0">{[forum_tag_0102]}: {%title%}</h4>
        <p>{%description%}</p>
        <hr/>
        {pagenav_top.{
        <div class="m-b-20">
            <div class="text-right">{%navigation%}</div>
        </div>
        }}
        <div class="panel panel-forum panel-default">
            <div class="panel-heading clearfix">
                <div class="clearfix">
                    {tab_filter.{<a href="{%filter_link%}"
                                    class="display-inline-block p-5 strong m-r-10 {%active_text%}">{%title%}
                    ({%count%})</a>}}
                    <div class="pull-right">
                        <div class="clearfix">
                            <div class="pull-left">
                                {%forum_filter%}
                            </div>

                        </div>
                    </div>
                </div>
                <div class="display-block center-y">
                    {section_links.{
                    <a href="{%link%}" class="p-5 display-inline-block m-r-10">{%title%}</a>
                    }}
                </div>
                {filter_dropdown.{
                <div class="display-inline-block">{%content%}</div>
                }}
                {section_search.{
                <div class="pull-right center-y">{%content%}</div>
                }}
            </div>
            <div class="panel-body p-0">
                <div id="thread_results">
                    {%section_content%}
                </div>
            </div>
        </div>
        {pagenav_bottom.{
        <div class="m-b-20">
            <div class="text-right">{%navigation%}</div>
        </div>
        }}
        <!--
        <div class='list-group-item'>
            {%filter%}
            <hr/>
            {pagenav.{
            <div class='text-right'>{%pagenav%}</div>
            }}
            {threads.{
            <div class='forum-container list-group-item'>{%content%}</div>
            }}
            {no_threads.{
            <div class='well spacer-md text-center'>{%message%}</div>
            }}
            {pagenav_a.{
            <div class='text-right hidden-xs spacer-sm'>{%pagenav_a%}</div>
            }}
        </div>
        -->
        <!--{pagenav2.{
        <div class='hidden-sm hidden-md hidden-lg spacer-sm'>{%pagenav2%}</div>
        }}-->
    </div>
</div>