<div class="forum">
    <div class="forum-header">
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12">
                <a class="header-title" href="{%baselink%}">{[forum_0000]}</a>
            </div>
            <div class="col-md-9 col-sm-6 col-xs-12">
                {%forum_navs%}
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default forum-navbar">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                {navbar_item.{
                <li {%active%}><a href="{%link%}">{%title%}</a></li>
                }}
            </ul>
        </div>
    </nav>
    <div class="forum-body p-15">
        {%breadcrumb%}
        <div class="row clearfix">
            <div class="col-xs-12">
                <h3>{%title%}</h3>
                <p>{%description%}</p>
                <hr/>
                {rules.{
                <div>{%forum_rules%}</div>
                }}
                <div class="row">
                    <div class="col-xs-12 text-right spacer-xs">
                        {post_button.{<a class="btn btn-primary" href="{%new_thread_link_url%}"><i
                            class="m-r-10 fa fa-comment"></i>{%new_thread_link_title%}</a>}}
                    </div>
                    <div class="col-xs-12">
                        <div class="panel panel-forum panel-default">
                            <div class="panel-heading">
                                <div class="clearfix">
                                    {tab_filter.{<a href="{%filter_link%}"
                                                    class="display-inline-block p-5 strong m-r-10 {%active_text%}">{%title%}
                                    ({%count%})</a>}}
                                    <div class="pull-right">
                                        <div class="clearfix">
                                            <div class="pull-left">
                                                {%forum_filter%}
                                            </div>
                                            {pagenav_a.{
                                            <div class="pull-right">
                                                <div class="text-right">{%navigation%}</div>
                                            </div>
                                            }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body p-0">
                                {view.{ {%content%} }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix spacer-xs">
                    <small>
                        <span>{%can_access%}</span><br/>
                        <span>{%can_post%}</span><br/>
                        <span>{%can_create_poll%}</span><br/>
                        <span>{%can_upload_attach%}</span><br/>
                        <span>{%can_download_attach%}</span><br/>
                    </small>
                </div>
                {moderator_list.{
                <hr/>
                <div class="clearfix"><strong>{%mod_title%}</strong> {%moderators%}</div>
                }}
            </div>
        </div>
    </div>
</div>



