a, #anchor a {color: #0c6b96;}
#anchors a:active, #anchors a:focus, #anchors a:hover {color: #fff;}
.panelcap, #subheader, #userbar {border-color: #0c6b96;}
.panelcap, .admin-message, #subheader, #userbar, #navigation a:hover, .forum-caption, .poll, .textbox, .button {background: #117cb1 url(../images/blue_bg.gif) center center repeat-x;}
#subheader a:hover, #subheader .active a, #subheader .current-link a, #navigation a, .textbox:focus, .button {background: #0c6b96 url(../images/blue_bgh.gif) center center repeat-x;}
#navigation .current-link a {background: #0c6b96 url(../images/blue_bg.gif) center center repeat-x;}
#navigation .current-link a:hover {background: #117cb1 url(../images/blue_bgh.gif) center center repeat-x;}
#subheader .current-link a:hover {background: #0c6b96 url(../images/blue_bg.gif) center center repeat-x;}