#maincontent {
    /* background: #09111B none repeat center center; */
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e1e1e1),color-stop(60%,#f2f2f2),color-stop(91%,#fefefe),color-stop(100%,#fff));
    background: linear-gradient(to bottom, #e1e1e1 0%, #f2f2f2 60%, #fefefe 91%, #fff 100%);
    overflow: hidden;
    border-top: 1px solid rgba(0,0,0,0.15);
    color: #6D7C8D;
    padding: 30px 40px;
    width: 100%;
}

#feature {
    background-color: rgb(47, 25, 61);
    background-image: url(images/bg.jpg);
    background-position: 50% -71px;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 0px;
    background-repeat: no-repeat repeat;
    color: #FFF !important;
    font-weight: 300;
    padding: 30px 40px;
}

#greycontent {
    background: -moz-linear-gradient(top, rgba(237,237,237,0) 0%, rgba(237,237,237,0) 1%, rgba(228,228,228,1) 69%, rgba(224,224,224,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,0)), color-stop(1%,rgba(237,237,237,0)), color-stop(69%,rgba(228,228,228,1)), color-stop(100%,rgba(224,224,224,1)));
    background: -webkit-linear-gradient(top, rgba(237,237,237,0) 0%,rgba(237,237,237,0) 1%,rgba(228,228,228,1) 69%,rgba(224,224,224,1) 100%);
    background: -o-linear-gradient(top, rgba(237,237,237,0) 0%,rgba(237,237,237,0) 1%,rgba(228,228,228,1) 69%,rgba(224,224,224,1) 100%);
    background: -ms-linear-gradient(top, rgba(237,237,237,0) 0%,rgba(237,237,237,0) 1%,rgba(228,228,228,1) 69%,rgba(224,224,224,1) 100%);
    background: linear-gradient(to bottom, rgba(237,237,237,0) 0%,rgba(237,237,237,0) 1%,rgba(228,228,228,1) 69%,rgba(224,224,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ededed', endColorstr='#e0e0e0',GradientType=0 );
    padding: 30px 40px;
    width: 100%;
}

.resources{
	text-align: center;
}
.resources > div > div{
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: 0.2s;
}
.resources > div:hover > div{
	margin-top: -10px;
	border: 1px solid rgb(200, 200, 200);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	background: rgba(200, 200, 200, 0.1);
	transition: 0.5s;
}