<div class="panel panel-default" style="max-width: 500px; margin: 30px auto;">
    <div class="panel-heading" style="background: #fff;">
        <h3 class="panel-title"><strong>{{ locale.400 }}</strong></h3>
    </div>

    <div class="panel-body">
        {{ notices|raw }}
        {{ content|raw }}
    </div>
</div>
