#home_carousel {
    position: relative;
    margin-top: -320px;
    height: 700px;
}

#home_carousel .carousel-inner {
    height: 700px;
    overflow: hidden;
}

#home_carousel img {
    height: 700px;
    min-width: 100%;
}

#home_carousel .carousel-caption {
    padding-top: 300px !important;
}
#home_carousel .carousel-caption h3 {
    margin-bottom: 30px;
}

#home_carousel .carousel-caption p {
    color: rgb(170, 183, 255);
    font-weight: 300;
}

#home_carousel .carousel-caption .btn {
    margin-top: 55px;
}

.row.home_latest {
    margin: 70px auto !important;
}

.row.feature > div {
    height: 330px;
}

.row.feature > div h3 {
    color: #444;
    font-size: 20px;
    font-weight: 600;
}

#home_parallax {
    background: url(../../assets/images/bg03.jpg) fixed;
    background-size: cover;
    height: 750px;
}

#home_parallax::before {
    position: absolute;
    background: url(../../assets/images/developer.png) center bottom no-repeat;
    height: 750px;
    width: 100%;
    margin: auto;
}
.row.home_feature {
    background: url(../../assets/images/home_block_bg.jpg) center bottom;
    height: 500px;
}

#store > div:first-child h3, #home_parallax h3, .home_feature h3 {
    font-size: 50px;
    font-weight: 600;
}

#home_parallax p, .home_feature p {
    font: 18px/17px 'Ubuntu', Helvetica, Arial, sans-serif;
    font-weight: 400;
    display: block;
    width: 80%;
    margin: 22px auto;
}

#store > div:first-child {
    width: 100%;
}

#store {
    padding-right: 25%;
}

#store div {
    text-align: left !important;
}

#store:before {
    position: absolute;
    background: url(../../assets/images/store.png) center bottom no-repeat;
    height: 750px;
    width: 100%;
    margin: auto;
    margin-left: -20%;
}