/* Comment element properties */
h1 {font-size: 18px !important; font-weight: 600 !important; }
h2 { font-size: 16px !important; font-weight: 600 !important; }
h3 { font-size: 14px !important; font-weight: 600 !important; }

a {
    color: #04688D;
    text-decoration: none;
}

a:hover {
    color: #04688D;
    text-decoration: underline;
}

a.side {
    color: #555;
    text-decoration: none;
}

a:hover.side {
    color: #F6A504;
    text-decoration: underline;
}

a.white, li.white a {
    color: #FFF;
    text-decoration: none;
}

a:hover.white, li.white a:hover {
    color: #FFF;
    text-decoration: underline;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000;
    background: #FFF;
    margin: 5px !important;
}

hr {
    height: 1px;
    border: 1px solid #EEE;
}

hr.side-hr {
    height: 1px;
    border: 1px solid #EEE;
}

td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

pre {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.alt {
    color: #04688D;
}

.spacer {
    margin-bottom: 5px;
}

.admin-message {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
    color: #555;
    background-color: #F6F6F6;
    border: 1px solid #E1E1E1;
    padding: 3px 4px 5px 4px;
    margin-bottom: 5px;
}
.shoutboxwrapper {
	margin:5px 0;
}

/* Form element properties */

form {
    margin: 0px;
}
.button .fa {
	margin: 2px !important;
	padding: 0 !important;
}
.button.active {
	background: rgb(200, 33, 30) !important;
	border: 0 !important;
}
.button, .btn {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px !important;
    border: 0;
	color: #fff !important;
	height: 21px !important;
	padding: 1px 15px !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
.button:hover, .button:focus, .button:active .button.active, .btn:hover {
	background-image: url(images/button.gif);
	border: 0;
}
.btn:active, .btn:focus {
	outline: none !important;
}
.btn-primary {
	background-color: #444 !important;
	border: 0 !important;
}
.btn-default {
	background-color: #777 !important;
	border: 0 !important;
}

.bbcode {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000;
    background-color: #EEE;
    border: 1px solid #CCC;
    margin-top: 2px;
}

.bbcode-popup {
    font-size: 11px;
    color: #555;
    background-color: #FFF;
    padding: 4px;
}
.textbox, .btn {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #555;
    background-color: #F8F8F8;
    border: 1px solid #CCC;
	padding:2px 5px;
	height: 26px;
}

.textbox:focus {
    color: #000;
    background-color: #E1E1E1;
}

div.emulated-fieldset {
    position: relative;
    margin: 20px 0px 10px 0px;
    border: 1px solid #CCC;
    width: 320px;
    background: inherit;
}

div.emulated-fieldset span.emulated-legend {
    display: inline;
    position: absolute;
    top: -12px;
    margin: 0 5px;
    padding: 4px;
    background: inherit;
}

div.emulated-fieldset div.attachments-list {
    padding: 10px 3px 3px 3px;
    width: 320px;
}

/* Header and footer properties */

.sub-header {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFF;
    background-color: #555;
    background-image: url(images/subheader-mid.gif);
	padding: 0 5px;
}

.sub-header-left {
    width: 3px;
    height: 28px;
    background-color: #555;
    background-image: url(images/subheader-left.gif);
}

.sub-header-right {
    width: 3px;
    height: 28px;
    background-color: #555;
    background-image: url(images/subheader-right.gif);
}

/* Subheader links */

.sub-header ul {
    margin: 0;
    padding: 0;
}

.sub-header ul li {
    display: inline;
	float: left;
}

.sub-header ul li.first-link .bullet {
    display: none;
}

.sub-header ul li.first-link {
    font-weight: bold;
}

.sub-header ul li.current-link a span {
    text-decoration: underline;
}

.full-header {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000;
    background-color: #FFF;
    padding: 5px 0 10px 0;
}
.full-header > a > img {
	max-width: 250px;
	margin: 0 auto -67px;
}

.main-footer {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #555;
    background-color: #FFF;
    padding: 5px;
}

.bottom-footer {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFF;
    background-color: #555;
    padding: 4px 4px 5px 4px;
}

.main-body {
    font-size: 11px;
    color: #555;
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 4px 10px 20px;
}

/* Side-Panel properties */
.ui-sortable {
    margin: 0;
    padding: 0;
}

.side-left .side-border-right {
    display: none;
}

.side-right .side-border-left {
    display: none;
}

.side-border-left {
    color: #777;
    background-color: #FFF;
    padding: 10px 10px 10px 0;
    width: 175px;
}

.side-border-right {
    color: #777;
    background-color: #FFF;
    padding: 10px 0 10px 10px;
    width: 175px;
}

.scapmain {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #FFF;
    background-color: #555;
    background-image: url(images/side.gif);
    background-repeat: repeat-x;
    padding: 6px 4px 6px 4px;
}

.scapmain-left {
    width: 3px;
    height: 24px;
    background-color: #555;
    background-image: url(images/side-left.gif);
}

.scapmain-right {
    width: 3px;
    height: 24px;
    background-color: #555;
    background-image: url(images/side-right.gif);
}

.side-body {
    font-size: 10px;
    color: #555;
    background-color: #FFF;
    background-image: url(images/gradient.gif);
    background-repeat: repeat-x;
    border: 1px solid #DDD;
    padding: 4px 10px;
}

/* Center-Panel properties */

.news-category {
    border: 0;
    margin: 3px 5px 0 0;
    float: left;
}

.news-footer {
    font-size: 10px;
    color: #555;
    background-color: #F1F1F1;
    border-width: 0 1px 1px 1px;
    border-color: #DDD;
    border-style: solid;
    padding: 3px 4px 4px 4px;
}

.capmain {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #FFF;
    background-color: #555;
    background-image: url(images/cap.gif);
    background-repeat: repeat-x;
    padding: 6px 4px 6px 4px;
}

.capmain-left {
    width: 3px;
    height: 25px;
    background-color: #555;
    background-image: url(images/cap-left.gif);
}

.capmain-right {
    width: 3px;
    height: 25px;
    background-color: #555;
    background-image: url(images/cap-right.gif);
}

.main-bg {
    color: #555;
    background-color: #FFF;
    padding: 10px 0 5px 0;
}

/* General table properties */
.comment-avatar {
    padding-right: 6px;
    float: left;
}

.center {
    margin: 0 auto;
}

.tbl-border {
    border: 1px solid #EEE;
}

.tbl {
    font-size: 12px;
    color: #555;
    background-color: #FFF;
    padding: 4px;
}

.tbl1 {
    font-size: 11px;
    color: #555;
    background-color: #FFF;
    padding: 4px;
}

.tbl2 {
    font-size: 11px;
    color: #555;
    background-color: #F1F1F1;
    padding: 4px;
}

.tbl-error {
    color: #AC260F;
    font-weight: bold;
    background-color: #FCCAC2;
    border: 2px solid #EB5339;
}

/* Profile spesific classes */
.profile, .profile_category {
    width: 500px;
}

.edit-profile {
    width: 500px;
}

/*.user_password .textbox:focus, .user_admin_password .textbox:focus {
	background-color: #ff6666;
}*/

.profile_user_reason {
    color: #F66;
    font-weight: bold;
}

/*.user_name td, .user_name .textbox {
	font-size: 13px;
	padding: 4px;
}*/

.forum-caption {
    font-size: 11px;
    font-weight: bold;
    color: #888;
    background-color: #F1F1F1;
    padding: 2px 4px 4px 4px;
}

.quote {
    font-size: 11px;
    color: #555;
    background-color: #F8F8F8;
    padding: 4px;
    margin: 0px 20px 0px 20px;
    border: 1px solid #BBB;
}

.poll {
    height: 12px;
    border: 1px solid #BBB;
}

.comment-name {
    font-weight: bold;
    color: #04688D;
}

.small {
    font-size: 10px;
    font-weight: normal;
}

.small2 {
    font-size: 10px;
    font-weight: normal;
    color: #555;
}

.side-small {
    font-size: 10px;
    font-weight: normal;
    color: #555;
}

.side-label {
    color: #555;
    background-color: #F1F1F1;
    margin: 2px 0 2px 0;
    padding: 2px 2px 3px 2px;
}
/* Horizontal Navigation */
.navbar {
	min-height:10px;
}
.navbar-default {
	background: none !important;
	border: 0 !important;
	margin-bottom:0;
}
.navbar-nav > li {
	border: 0 !important;
	margin-right: 10px;
}
.navbar-nav > li:hover, .navbar-nav > li:hover > a {
	background: none !important;
}

.navbar-nav > li > a {
	color: rgb(255,255,255) !important;
	padding: 0;
	font-size:10px !important;

	border: 0 !important;
}
/* Vertical Navigation */

#navigation h2 {
    font-size: 10px;
    font-weight: normal;
    background-color: #F1F1F1;
    margin: 0;
    padding: 4px;
}

#navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

* html #navigation ul li {
    height: 1%;
}

#navigation a {
    display: block;
    color: #555;
    padding: 2px;
    text-decoration: none;
}

#navigation a:hover {
    color: #FFF;
    background-color: #F6A504;
}

#navigation li.first-link a {
    font-weight: bold;
}

#navigation li.current-link a {
    color: #555;
    background-color: #EEE;
    border: 1px solid #FFF;
    padding: 1px !important;
}

/* Page Navigation */
.pagenav {
    padding: 4px;
}

.pagenav span {
    color: #FFF;
    background-color: #F6A504;
    border: 1px solid #DDD;
    padding: 2px 4px 2px 4px;
    margin: 2px;
}

.pagenav a {
    color: #555;
    background-color: #F1F1F1;
    border: 1px solid #DDD;
    padding: 2px 4px 2px 4px;
    margin: 2px;
    text-decoration: none;
}

.pagenav a:hover {
    color: #FFF;
    background-color: #F6A504;
    margin: 2px;
    text-decoration: none;
}

/* PHP-Fusion Helpers */

.clear {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* Helpers  */

.center {
    margin: 0 auto;
}

.content_center {
    text-align: center;
}

.flleft {
    float: left !important;
}

.flright {
    float: right !important;
}

.clear {
    clear: both;
}

/* IE Fixes */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Hide from IE Mac  */

.clearfix {
    display: block;
}

/* End hide from IE Mac */

.floatfix {
    overflow: hidden;
}

* html .floatfix {
    width: 100%;
}

.center, *[align="center"] {
    margin: 0 auto;
}
/* Universal */
h3 {
	font-size: 15px;
	font-weight: 600;
}
/* Download Section */
.download-left > span.text-uppercase {
	font-size:13px;
	font-weight: 600;
	margin-left:10px;
}

/* Touch up work to bootstrap */
body {
	padding: 0 3%;
}
.breadcrumb {
	background: #ddd !important;
}
table td > div.navbar {
	min-height: 0;
	margin-bottom: 0;
}
table td > div.navbar > div > ul > li > a {
	padding : 2px 5px 3px;
}
table td > div.navbar > div > ul > li > a:hover, table td > div.navbar > div > ul > li > a:focus {
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5) inset;
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5) inset;
}
/* Configure Shoutbox Avatar */
.avatar-row > div > a > img { max-width: 50px !important; margin-top:10px; margin-right: 0; }
/* Configure forum */
.forum-title, .forum-title h6, .forum-title h4 {
	margin-bottom: 15px !important;
	font-weight: 600 !important;
}
.forum-container { border: 1px solid #ccc; padding:5px; margin: 4px 0 !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.forum-link {font-size:13px !important; font-weight: 600 !important; }
.fusion_count { font-size: 12px !important;}
.fusion_word { font-size: 11px !important; font-weight: 600 !important;}