.top-action-bar {
	margin-bottom:20px;
	margin-top:15px;
}
.last-updated {
	font-size:11px;
	margin-bottom:10px;
	display: block;
}
.forum_rank, .forum_poster {
	display: inline-block;
	margin-right: 10px;
	font-weight: 600;
}
.forum_avatar {
	float:left;
	margin-right: 5px;
	margin-bottom:10px;
}
.label-super-admin {
	background-color: #504cc7;
}
.label-member {
	background-color: #114CB6;
}
.label-mod {
	background-color: orange;
}
.display-inline-block > .fusion_count {
	color: #444;
	font-size:20px;
	text-align:center;
}
.display-inline-block > .fusion_word {
	text-align:center;
	display:block;
	text-transform: uppercase;
	color: #777;
	font-weight: 300;
	font-size: 12px;
}
.vatop {
	vertical-align: top;
}
.emulated-legend {
	font-size:11px;
	margin-bottom:10px;
}
.emulated-fieldset {
	display:block;
	margin-bottom:30px;
}
.post_items {
	margin:25px 0 10px;
	padding:10px;
	border: 1px solid #DDD;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.post_items:hover {
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 0 15px #ccc;
	-moz-box-shadow: 0 0 15px #ccc;
	box-shadow: 0 0 15px #ccc;
}
.forum_sig {
	display: block;
	font-style: italic;
	opacity: 0.8;
	margin-top:10px;
	margin-bottom:10px;
}
.forum_sig:before {
	content: "- ";
}
.quote {
	border-left: 3px solid #ccc;
	padding: 10px 20px;
	font-size:11px;
}
.quote-link, .reply-link, .edit-link {
	text-transform: lowercase;
}
.fa-ellipsis-v {
	color: #777 !important;
}