<!---start_inbox_idx-->
<div class="pm spacer-sm">
    <h4 class="strong m-t-15">{[400]}</h4>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <ul class="block nav p-5">
                        {folders.{
                        <li class="display-block{%class%}">
                            <a href="{%link%}"><i class="{%icon%} m-r-10"></i>{%title%} {%total%}</a>
                        </li>
                        }}
                    </ul>
                    <hr/>
                </div>
                <div class="col-xs-12 col-sm-9">
                    <div class="clearfix">
                        {compose_button.{
                            <a class="pull-right btn btn-primary btn-sm" href="{%link%}">{%title%}</a>
                        }}
                        {actions.{
                        {%form%}
                        <hr/>
                        }}
                        <div class="text-right">{%pagenav%}</div>
                    </div>

                    <div class="clearfix">
                        {settings.{
                        <hr/>
                        <div class="m-b-20">
                            {%content%}
                        </div>
                        }}

                        {mail_read.{
                        <div class="clearfix">
                            <div class="pull-right">{%timer%}</div>
                            <h4 class="overflow-hide">
                                {%title%}
                            </h4>
                        </div>
                        <div class="clearfix">
                            <div class="pull-left m-r-10">
                                {%avatar%}
                            </div>
                            <div class="overflow-hide">
                                {%profile_link%}
                                <br/>{%user_level%}
                            </div>
                        </div>
                        <div class="spacer-md">{%message%}</div>
                        <hr/>
                        {%reply_form%}
                        }}

                        {send_form.{
                        {%content%}
                        }}

                        {mailbox.{
                        <h4 class="m-b-0">
                            <a data-target="#unread-inbox" class="pointer text-dark text-normal" data-toggle="collapse">
                                <span class="caret m-r-10"></span>{[446]}
                            </a>
                        </h4>
                        <div id="unread-inbox" class="collapse in show">
                            <table id="unread_tbl" class="table table-hover">
                                {%unread_content%}
                            </table>
                        </div>
                        <h4 class="m-b-0">
                            <a data-target="#read-inbox" class="pointer text-dark text-normal" data-toggle="collapse"><span class="caret m-r-10"></span>{[447]}</a>
                        </h4>
                        <div id="read-inbox" class="collapse in show">
                            <table id="read_tbl" class="table table-hover">
                                {%read_content%}
                            </table>
                        </div>
                        }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end_inbox_idx--->
