<div class="register">
    <div class="content">
        <div class="container">
            <div class="register-form" style="height:40vw;">
                <div class="center-y">
                    <span class="text-uppercase">Join the {%sitename%} community</span>
                    <h1 class="strong m-0">Sign Up</h1><br/>
                    <div class="list-group-item">
                        {verify_form.{
                        {%openform%}
                        <div class="spacer-md">
                            <h3>{%question%}</h3>
                            {%answer%}
                            {%button%}
                        </div>
                        {%closeform%}
                        }}
                        {register_form.{
                        <!--register_pre_idx-->
                        <div id='register_form'>
                            {%openform%}
                            {%user_name_field%}
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">{%user_name_first_field%}</div>
                                <div class="col-xs-12 col-sm-6">{%user_name_last_field%}</div>
                            </div>
                            {%user_email_field%}
                            {%user_password_field%}
                            {%custom_fields%}
                            {%captcha_fields%}
                            {%eula%}
                            {%post_button%}
                            {%closeform%}
                        </div>
                        <!--register_sub_idx-->
                        }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>