<div id="register_form" class="panel panel-default">
    <div class="panel-heading">
        <h3>{%title%}</h3>
    </div>
    <div class="panel-body">
        {form_error.{
        <div class="well text-center">{[uf_108]}</div>
        }}
        {%open_tab%}
        {%open_form%}
        <h4>Basic Information</h4>
        {%user_name%}
        {%user_email%}
        {%user_avatar%}
        {%user_hide_email%}
        {%user_password%}
        {user_admin_password.{
        {%field%}
        }}
        {user_fields.{
        <h4>{%field_title%}</h4>{%fields%}
        }}
        {validate.{
        {%content%}
        }}
        {terms.{
        {%content%}
        }}
        {%button%}
        {%close_form%}
        {%close_tab%}
    </div>
</div>
