<div class="user_section">
    {user_fields_cat.{
    <h5 class="text-uppercase">{%category_title%}</h5>
    }}
    {user_fields.{
    <div id="{%id%}" class="row">
        <label class="col-xs-12 col-sm-12"><strong>{%icon%} {%title%}</strong></label>
        <div class="col-xs-12 col-sm-12"><span class="profile_text">{%value%}</span></div>
    </div>
    }}
    {user_fields_inline.{
    <div id="{%id%}" class="row">
        <label class="col-xs-12 col-sm-3"><strong>{%icon%} {%title%}</strong></label>
        <div class="col-xs-12 col-sm-9"><span class="profile_text">{%value%}</span></div>
    </div>
    }}
</div>

