<div class="background-cover"></div>
<div id="wrap">
    <header class="header" itemscope itemtype="https://schema.org/WPHeader">
{#        <div class="user-panel">#}
{#            {% if admin_login_link %}#}
{#                <a href="{{ admin_login_link }}">Login to Admin Panel</a>#}
{#            {% endif %}#}
{#        </div>#}

        {{ top_navigation|raw }}
    </header>
    <div class="banner">
        <div class="horizon-container">
            {{ BANNER|raw }}
        </div>
    </div>
    <div class="horizon-content">
        {{ CONTENT|raw }}
    </div>
    <footer class="horizon-footer">
        <div class="clearfix">
            <div class="top-footer">
                <div class="horizon-container">
                </div>
            </div>
            <div class="bottom-footer">
                <div class="horizon-container">
                </div>
            </div>
        </div>
    </footer>
</div>
