<div class="wallet">
    <div class="checkout">
        <div class="container">
            <div class="spacer-lg">
                <h3 class="text-center">Session Expired</h3>
                <p class="text-center">We are sorry, your session for the order has expired.</p>
                <p class="text-center">Please try to reorder again.</p>
                {return_block.{
                <div class="text-center spacer-md">
                    <a class="btn btn-primary btn-bordered" href="{%link%}">Try again</a>
                </div>
                }}
            </div>
        </div>
    </div>
</div>