.panel.panel-home {
    border: 0;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

.panel.panel-home > .panel-heading {
    background: #f4f4f4;
    padding: 15px 30px 15px 30px;
    color: #444;
    font-size: 16px;
    font-weight: 600;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
img, figure img {
    width: 100%;
    height: auto;
}
.panel.panel-home > figure {
    display: block;
    overflow: hidden;
    position: relative;
    height: 300px;
    background: #f5f4f4;
}

.panel.panel-home > figure > img {
    display: inline-block;
    position: absolute;
    min-width: 100%;
    min-height: 300px;
}

.panel.panel-home > .panel-body {
    color: #444;
    text-indent: 0px;
    display: block;
    background-color: rgba(0, 0, 0, 0.02);
    overflow: hidden;
    padding: 14px 11% 20px 7%;
    margin: 0;
    transition: all 0.3s ease 0s;
}

.panel.panel-home > .panel-body a {
    color: #01ACDE;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out; -moz-transition: color 0.2s ease-in-out; -ms-transition: color 0.2s ease-in-out; -o-transition: color 0.2s ease-in-out; transition: color 0.2s ease-in-out;
}

.panel.panel-home > .panel-body a:hover,
.panel.panel-home > .panel-body a:focus {
    color: #fff;
}

.panel.panel-home > ul.panel-body {
    background-color: #fff;
    color: #000;
    padding: 0;
    margin: 0;
}

.panel.panel-home > ul.panel-body > li {
    background: #dbddde;
    float: none !important;
    width: 100% !important;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 15px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    color: #444;
}

.panel.panel-home > ul.panel-body > li:nth-child(even) {
    background: #dbddde;
}

.panel.panel-home > ul.panel-body > li:nth-child(odd) {
    background: #e8e8e9;
}

.panel.panel-home > ul.panel-body > li:first-child,
.panel.panel-home > ul.panel-body > li:last-child {
    background: #c3c6c8;
}

.panel.panel-home > ul.panel-body > li:hover,
.panel.panel-home > ul.panel-body > li:focus {
    background: #323334;
}

.panel.panel-home > ul.panel-body > li > figure {
    position: relative;
    float: left;
    overflow: hidden;
    width: 50%;
    height: 110px;
    margin-right: 5px;
}

.panel.panel-home > ul.panel-body > li > .list-body {
    overflow: hidden;
}

.panel.panel-home > ul.panel-body > li > .list-body a {
    color: #444;
    display: block;
    padding: 15px;
    min-height: 110px;
}

.panel.panel-home > ul.panel-body > li:hover > .list-body a,
.panel.panel-home > ul.panel-body > li:hover > .list-body a {
    color: #fff;
}

.panel.panel-home > .panel-footer {
    background: #545454;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    text-align: left;
    -webkit-transition: background 0.3s ease-in-out; -moz-transition: background 0.3s ease-in-out; -ms-transition: background 0.3s ease-in-out; -o-transition: background 0.3s ease-in-out; transition: background 0.3s ease-in-out;
}

.panel.panel-home > .panel-footer:hover,
.panel.panel-home > .panel-footer:focus {
    box-shadow: none;
    color: rgb(248, 243, 240);
    background: rgb(37, 38, 39);
}

.panel.panel-home > .panel-footer a {
    color: #f8f3f0;
    padding: 14px 11% 20px 7%;
    display: block;
    width: 100%;
    text-decoration: none;
}