{%opentable%}
    {faq_submit.{
        <div class='well spacer-xs'>{%guidelines%}</div>
        {%openform%}
        {%faq_question%}
        {%faq_answer%}
        {%faq_cat_id%}
        {%faq_language%}
        {%faq_submit%}
        {%closeform%}
    }}
    {faq_confirm_submit.{
        <div class='well text-center'>
        <p class='strong'>{%title%}</p>
        <p class='strong'>{%submit_link%}</p>
        <p class='strong'>{%index_link%}</p>
        </div>
    }}
    {faq_no_submit.{
        <div class='well text-center'>{%text%}</div>
    }}
{%closetable%}