
.icon-note:before {
    content: '\e800';
}

/* '' */
.icon-note-beamed:before {
    content: '\e801';
}

/* '' */
.icon-music:before {
    content: '\e802';
}

/* '' */
.icon-search:before {
    content: '\e803';
}

/* '' */
.icon-flashlight:before {
    content: '\e804';
}

/* '' */
.icon-mail:before {
    content: '\e805';
}

/* '' */
.icon-heart:before {
    content: '\e806';
}

/* '' */
.icon-heart-empty:before {
    content: '\e807';
}

/* '' */
.icon-star:before {
    content: '\e808';
}

/* '' */
.icon-star-empty:before {
    content: '\e809';
}

/* '' */
.icon-user:before {
    content: '\e80a';
}

/* '' */
.icon-users:before {
    content: '\e80b';
}

/* '' */
.icon-user-add:before {
    content: '\e80c';
}

/* '' */
.icon-video:before {
    content: '\e80d';
}

/* '' */
.icon-picture:before {
    content: '\e80e';
}

/* '' */
.icon-camera:before {
    content: '\e80f';
}

/* '' */
.icon-layout:before {
    content: '\e810';
}

/* '' */
.icon-menu:before {
    content: '\e811';
}

/* '' */
.icon-check:before {
    content: '\e812';
}

/* '' */
.icon-cancel:before {
    content: '\e813';
}

/* '' */
.icon-logo-db:before {
    content: '\e814';
}

/* '' */
.icon-db-shape:before {
    content: '\e815';
}

/* '' */
.icon-sweden:before {
    content: '\e816';
}

/* '' */
.icon-smashing:before {
    content: '\e817';
}

/* '' */
.icon-rdio:before {
    content: '\e818';
}

/* '' */
.icon-rdio-circled:before {
    content: '\e819';
}

/* '' */
.icon-spotify:before {
    content: '\e81a';
}

/* '' */
.icon-spotify-circled:before {
    content: '\e81b';
}

/* '' */
.icon-qq:before {
    content: '\e81c';
}

/* '' */
.icon-instagram:before {
    content: '\e81d';
}

/* '' */
.icon-dropbox:before {
    content: '\e81e';
}

/* '' */
.icon-evernote:before {
    content: '\e81f';
}

/* '' */
.icon-flattr:before {
    content: '\e820';
}

/* '' */
.icon-skype:before {
    content: '\e821';
}

/* '' */
.icon-skype-circled:before {
    content: '\e822';
}

/* '' */
.icon-renren:before {
    content: '\e823';
}

/* '' */
.icon-vimeo-circled:before {
    content: '\e824';
}

/* '' */
.icon-flow-parallel:before {
    content: '\e825';
}

/* '' */
.icon-tape:before {
    content: '\e826';
}

/* '' */
.icon-flash:before {
    content: '\e827';
}

/* '' */
.icon-progress-1:before {
    content: '\e828';
}

/* '' */
.icon-left-thin:before {
    content: '\e829';
}

/* '' */
.icon-left-open-mini:before {
    content: '\e82a';
}

/* '' */
.icon-lamp:before {
    content: '\e82b';
}

/* '' */
.icon-folder:before {
    content: '\e82c';
}

/* '' */
.icon-chat:before {
    content: '\e82d';
}

/* '' */
.icon-bell:before {
    content: '\e82e';
}

/* '' */
.icon-archive:before {
    content: '\e82f';
}

/* '' */
.icon-light-down:before {
    content: '\e830';
}

/* '' */
.icon-right-open-mini:before {
    content: '\e831';
}

/* '' */
.icon-right-thin:before {
    content: '\e832';
}

/* '' */
.icon-progress-2:before {
    content: '\e833';
}

/* '' */
.icon-moon:before {
    content: '\e834';
}

/* '' */
.icon-graduation-cap:before {
    content: '\e835';
}

/* '' */
.icon-rocket:before {
    content: '\e836';
}

/* '' */
.icon-twitter:before {
    content: '\e837';
}

/* '' */
.icon-twitter-circled:before {
    content: '\e838';
}

/* '' */
.icon-gauge:before {
    content: '\e839';
}

/* '' */
.icon-language:before {
    content: '\e83a';
}

/* '' */
.icon-flight:before {
    content: '\e83b';
}

/* '' */
.icon-progress-3:before {
    content: '\e83c';
}

/* '' */
.icon-up-thin:before {
    content: '\e83d';
}

/* '' */
.icon-up-open-mini:before {
    content: '\e83e';
}

/* '' */
.icon-light-up:before {
    content: '\e83f';
}

/* '' */
.icon-box:before {
    content: '\e840';
}

/* '' */
.icon-attention:before {
    content: '\e841';
}

/* '' */
.icon-alert:before {
    content: '\e842';
}

/* '' */
.icon-rss:before {
    content: '\e843';
}

/* '' */
.icon-adjust:before {
    content: '\e844';
}

/* '' */
.icon-down-open-big:before {
    content: '\e845';
}

/* '' */
.icon-ccw:before {
    content: '\e846';
}

/* '' */
.icon-target:before {
    content: '\e847';
}

/* '' */
.icon-paper-plane:before {
    content: '\e848';
}

/* '' */
.icon-ticket:before {
    content: '\e849';
}

/* '' */
.icon-traffic-cone:before {
    content: '\e84a';
}

/* '' */
.icon-facebook:before {
    content: '\e84b';
}

/* '' */
.icon-facebook-circled:before {
    content: '\e84c';
}

/* '' */
.icon-cc:before {
    content: '\e84d';
}

/* '' */
.icon-water:before {
    content: '\e84e';
}

/* '' */
.icon-leaf:before {
    content: '\e84f';
}

/* '' */
.icon-palette:before {
    content: '\e850';
}

/* '' */
.icon-cw:before {
    content: '\e851';
}

/* '' */
.icon-left-open-big:before {
    content: '\e852';
}

/* '' */
.icon-block:before {
    content: '\e853';
}

/* '' */
.icon-phone:before {
    content: '\e854';
}

/* '' */
.icon-vcard:before {
    content: '\e855';
}

/* '' */
.icon-address:before {
    content: '\e856';
}

/* '' */
.icon-cog:before {
    content: '\e857';
}

/* '' */
.icon-location:before {
    content: '\e858';
}

/* '' */
.icon-tools:before {
    content: '\e859';
}

/* '' */
.icon-resize-small:before {
    content: '\e85a';
}

/* '' */
.icon-resize-full:before {
    content: '\e85b';
}

/* '' */
.icon-right-open-big:before {
    content: '\e85c';
}

/* '' */
.icon-up-open-big:before {
    content: '\e85d';
}

/* '' */
.icon-level-down:before {
    content: '\e85e';
}

/* '' */
.icon-arrows-ccw:before {
    content: '\e85f';
}

/* '' */
.icon-list:before {
    content: '\e860';
}

/* '' */
.icon-list-add:before {
    content: '\e861';
}

/* '' */
.icon-lifebuoy:before {
    content: '\e862';
}

/* '' */
.icon-droplet:before {
    content: '\e863';
}

/* '' */
.icon-mouse:before {
    content: '\e864';
}

/* '' */
.icon-air:before {
    content: '\e865';
}

/* '' */
.icon-cc-nc:before {
    content: '\e866';
}

/* '' */
.icon-cc-by:before {
    content: '\e867';
}

/* '' */
.icon-facebook-squared:before {
    content: '\e868';
}

/* '' */
.icon-gplus:before {
    content: '\e869';
}

/* '' */
.icon-gplus-circled:before {
    content: '\e86a';
}

/* '' */
.icon-cc-nc-eu:before {
    content: '\e86b';
}

/* '' */
.icon-credit-card:before {
    content: '\e86c';
}

/* '' */
.icon-briefcase:before {
    content: '\e86d';
}

/* '' */
.icon-signal:before {
    content: '\e86e';
}

/* '' */
.icon-level-up:before {
    content: '\e86f';
}

/* '' */
.icon-down:before {
    content: '\e870';
}

/* '' */
.icon-popup:before {
    content: '\e871';
}

/* '' */
.icon-share:before {
    content: '\e872';
}

/* '' */
.icon-map:before {
    content: '\e873';
}

/* '' */
.icon-direction:before {
    content: '\e874';
}

/* '' */
.icon-shareable:before {
    content: '\e875';
}

/* '' */
.icon-publish:before {
    content: '\e876';
}

/* '' */
.icon-left:before {
    content: '\e877';
}

/* '' */
.icon-shuffle:before {
    content: '\e878';
}

/* '' */
.icon-trophy:before {
    content: '\e879';
}

/* '' */
.icon-suitcase:before {
    content: '\e87a';
}

/* '' */
.icon-floppy:before {
    content: '\e87b';
}

/* '' */
.icon-cc-nc-jp:before {
    content: '\e87c';
}

/* '' */
.icon-pinterest-circled:before {
    content: '\e87d';
}

/* '' */
.icon-tumblr:before {
    content: '\e87e';
}

/* '' */
.icon-pinterest:before {
    content: '\e87f';
}

/* '' */
.icon-cc-sa:before {
    content: '\e880';
}

/* '' */
.icon-cc-nd:before {
    content: '\e881';
}

/* '' */
.icon-megaphone:before {
    content: '\e882';
}

/* '' */
.icon-clipboard:before {
    content: '\e883';
}

/* '' */
.icon-dot:before {
    content: '\e884';
}

/* '' */
.icon-dot-2:before {
    content: '\e885';
}

/* '' */
.icon-back-in-time:before {
    content: '\e886';
}

/* '' */
.icon-battery:before {
    content: '\e887';
}

/* '' */
.icon-loop:before {
    content: '\e888';
}

/* '' */
.icon-switch:before {
    content: '\e889';
}

/* '' */
.icon-up:before {
    content: '\e88a';
}

/* '' */
.icon-right:before {
    content: '\e88b';
}

/* '' */
.icon-window:before {
    content: '\e88c';
}

/* '' */
.icon-arrow-combo:before {
    content: '\e88d';
}

/* '' */
.icon-bag:before {
    content: '\e88e';
}

/* '' */
.icon-basket:before {
    content: '\e88f';
}

/* '' */
.icon-compass:before {
    content: '\e890';
}

/* '' */
.icon-cup:before {
    content: '\e891';
}

/* '' */
.icon-forward:before {
    content: '\e892';
}

/* '' */
.icon-info:before {
    content: '\e893';
}

/* '' */
.icon-help-circled:before {
    content: '\e894';
}

/* '' */
.icon-reply-all:before {
    content: '\e895';
}

/* '' */
.icon-reply:before {
    content: '\e896';
}

/* '' */
.icon-help:before {
    content: '\e897';
}

/* '' */
.icon-minus-squared:before {
    content: '\e898';
}

/* '' */
.icon-upload-cloud:before {
    content: '\e899';
}

/* '' */
.icon-upload:before {
    content: '\e89a';
}

/* '' */
.icon-minus-circled:before {
    content: '\e89b';
}

/* '' */
.icon-minus:before {
    content: '\e89c';
}

/* '' */
.icon-download:before {
    content: '\e89d';
}

/* '' */
.icon-thumbs-down:before {
    content: '\e89e';
}

/* '' */
.icon-plus-squared:before {
    content: '\e89f';
}

/* '' */
.icon-plus-circled:before {
    content: '\e8a0';
}

/* '' */
.icon-thumbs-up:before {
    content: '\e8a1';
}

/* '' */
.icon-flag:before {
    content: '\e8a2';
}

/* '' */
.icon-plus:before {
    content: '\e8a3';
}

/* '' */
.icon-cancel-squared:before {
    content: '\e8a4';
}

/* '' */
.icon-cancel-circled:before {
    content: '\e8a5';
}

/* '' */
.icon-bookmark:before {
    content: '\e8a6';
}

/* '' */
.icon-bookmarks:before {
    content: '\e8a7';
}

/* '' */
.icon-info-circled:before {
    content: '\e8a8';
}

/* '' */
.icon-back:before {
    content: '\e8a9';
}

/* '' */
.icon-home:before {
    content: '\e8aa';
}

/* '' */
.icon-link:before {
    content: '\e8ab';
}

/* '' */
.icon-attach:before {
    content: '\e8ac';
}

/* '' */
.icon-lock:before {
    content: '\e8ad';
}

/* '' */
.icon-lock-open:before {
    content: '\e8ae';
}

/* '' */
.icon-eye:before {
    content: '\e8af';
}

/* '' */
.icon-tag:before {
    content: '\e8b0';
}

/* '' */
.icon-comment:before {
    content: '\e8b1';
}

/* '' */
.icon-keyboard:before {
    content: '\e8b2';
}

/* '' */
.icon-retweet:before {
    content: '\e8b3';
}

/* '' */
.icon-print:before {
    content: '\e8b4';
}

/* '' */
.icon-feather:before {
    content: '\e8b5';
}

/* '' */
.icon-pencil:before {
    content: '\e8b6';
}

/* '' */
.icon-code:before {
    content: '\e8b7';
}

/* '' */
.icon-export:before {
    content: '\e8b8';
}

/* '' */
.icon-quote:before {
    content: '\e8b9';
}

/* '' */
.icon-trash:before {
    content: '\e8ba';
}

/* '' */
.icon-doc:before {
    content: '\e8bb';
}

/* '' */
.icon-docs:before {
    content: '\e8bc';
}

/* '' */
.icon-doc-landscape:before {
    content: '\e8bd';
}

/* '' */
.icon-doc-text:before {
    content: '\e8be';
}

/* '' */
.icon-doc-text-inv:before {
    content: '\e8bf';
}

/* '' */
.icon-newspaper:before {
    content: '\e8c0';
}

/* '' */
.icon-book-open:before {
    content: '\e8c1';
}

/* '' */
.icon-book:before {
    content: '\e8c2';
}

/* '' */
.icon-hourglass:before {
    content: '\e8c3';
}

/* '' */
.icon-clock:before {
    content: '\e8c4';
}

/* '' */
.icon-volume:before {
    content: '\e8c5';
}

/* '' */
.icon-sound:before {
    content: '\e8c6';
}

/* '' */
.icon-mute:before {
    content: '\e8c7';
}

/* '' */
.icon-mic:before {
    content: '\e8c8';
}

/* '' */
.icon-logout:before {
    content: '\e8c9';
}

/* '' */
.icon-login:before {
    content: '\e8ca';
}

/* '' */
.icon-calendar:before {
    content: '\e8cb';
}

/* '' */
.icon-down-circled:before {
    content: '\e8cc';
}

/* '' */
.icon-left-circled:before {
    content: '\e8cd';
}

/* '' */
.icon-right-circled:before {
    content: '\e8ce';
}

/* '' */
.icon-up-circled:before {
    content: '\e8cf';
}

/* '' */
.icon-down-open:before {
    content: '\e8d0';
}

/* '' */
.icon-left-open:before {
    content: '\e8d1';
}

/* '' */
.icon-right-open:before {
    content: '\e8d2';
}

/* '' */
.icon-up-open:before {
    content: '\e8d3';
}

/* '' */
.icon-down-open-mini:before {
    content: '\e8d4';
}

/* '' */
.icon-down-thin:before {
    content: '\e8d5';
}

/* '' */
.icon-up-bold:before {
    content: '\e8d6';
}

/* '' */
.icon-right-bold:before {
    content: '\e8d7';
}

/* '' */
.icon-fast-forward:before {
    content: '\e8d8';
}

/* '' */
.icon-fast-backward:before {
    content: '\e8d9';
}

/* '' */
.icon-progress-0:before {
    content: '\e8da';
}

/* '' */
.icon-left-bold:before {
    content: '\e8db';
}

/* '' */
.icon-to-start:before {
    content: '\e8dc';
}

/* '' */
.icon-down-bold:before {
    content: '\e8dd';
}

/* '' */
.icon-to-end:before {
    content: '\e8de';
}

/* '' */
.icon-record:before {
    content: '\e8df';
}

/* '' */
.icon-up-dir:before {
    content: '\e8e0';
}

/* '' */
.icon-right-dir:before {
    content: '\e8e1';
}

/* '' */
.icon-pause:before {
    content: '\e8e2';
}

/* '' */
.icon-stop:before {
    content: '\e8e3';
}

/* '' */
.icon-left-dir:before {
    content: '\e8e4';
}

/* '' */
.icon-down-dir:before {
    content: '\e8e5';
}

/* '' */
.icon-play:before {
    content: '\e8e6';
}

/* '' */
.icon-monitor:before {
    content: '\e8e7';
}

/* '' */
.icon-mobile:before {
    content: '\e8e8';
}

/* '' */
.icon-network:before {
    content: '\e8e9';
}

/* '' */
.icon-cd:before {
    content: '\e8ea';
}

/* '' */
.icon-inbox:before {
    content: '\e8eb';
}

/* '' */
.icon-install:before {
    content: '\e8ec';
}

/* '' */
.icon-globe:before {
    content: '\e8ed';
}

/* '' */
.icon-cloud:before {
    content: '\e8ee';
}

/* '' */
.icon-cloud-thunder:before {
    content: '\e8ef';
}

/* '' */
.icon-chart-area:before {
    content: '\e8f0';
}

/* '' */
.icon-chart-bar:before {
    content: '\e8f1';
}

/* '' */
.icon-chart-line:before {
    content: '\e8f2';
}

/* '' */
.icon-chart-pie:before {
    content: '\e8f3';
}

/* '' */
.icon-erase:before {
    content: '\e8f4';
}

/* '' */
.icon-infinity:before {
    content: '\e8f5';
}

/* '' */
.icon-magnet:before {
    content: '\e8f6';
}

/* '' */
.icon-brush:before {
    content: '\e8f7';
}

/* '' */
.icon-dot-3:before {
    content: '\e8f8';
}

/* '' */
.icon-database:before {
    content: '\e8f9';
}

/* '' */
.icon-cc-pd:before {
    content: '\e8fa';
}

/* '' */
.icon-tumblr-circled:before {
    content: '\e8fb';
}

/* '' */
.icon-linkedin:before {
    content: '\e8fc';
}

/* '' */
.icon-cc-zero:before {
    content: '\e8fd';
}

/* '' */
.icon-drive:before {
    content: '\e8fe';
}

/* '' */
.icon-sina-weibo:before {
    content: '\e8ff';
}

/* '' */
.icon-paypal:before {
    content: '\e900';
}

/* '' */
.icon-linkedin-circled:before {
    content: '\e901';
}

/* '' */
.icon-cc-share:before {
    content: '\e902';
}

/* '' */
.icon-bucket:before {
    content: '\e903';
}

/* '' */
.icon-thermometer:before {
    content: '\e904';
}

/* '' */
.icon-cc-remix:before {
    content: '\e905';
}

/* '' */
.icon-dribbble:before {
    content: '\e906';
}

/* '' */
.icon-picasa:before {
    content: '\e907';
}

/* '' */
.icon-soundcloud:before {
    content: '\e908';
}

/* '' */
.icon-dribbble-circled:before {
    content: '\e909';
}

/* '' */
.icon-github:before {
    content: '\e90a';
}

/* '' */
.icon-key:before {
    content: '\e90b';
}

/* '' */
.icon-flow-cascade:before {
    content: '\e90c';
}

/* '' */
.icon-github-circled:before {
    content: '\e90d';
}

/* '' */
.icon-stumbleupon:before {
    content: '\e90e';
}

/* '' */
.icon-mixi:before {
    content: '\e90f';
}

/* '' */
.icon-behance:before {
    content: '\e910';
}

/* '' */
.icon-stumbleupon-circled:before {
    content: '\e911';
}

/* '' */
.icon-flickr:before {
    content: '\e912';
}

/* '' */
.icon-flow-branch:before {
    content: '\e913';
}

/* '' */
.icon-flow-tree:before {
    content: '\e914';
}

/* '' */
.icon-flickr-circled:before {
    content: '\e915';
}

/* '' */
.icon-lastfm:before {
    content: '\e916';
}

/* '' */
.icon-google-circles:before {
    content: '\e917';
}

/* '' */
.icon-vkontakte:before {
    content: '\e918';
}

/* '' */
.icon-lastfm-circled:before {
    content: '\e919';
}

/* '' */
.icon-vimeo:before {
    content: '\e91a';
}

/* '' */
.icon-flow-line:before {
    content: '\e91b';
}

/* '' */