[class^="icon-"], [class*=" icon-"] {
    font-family: 'entypo';
    font-style: normal;
    font-weight: normal;

    /* fix buttons height */
    line-height: 1em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
}

.entypo.icon-note {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe800;&nbsp;');
}

.entypo.icon-note-beamed {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe801;&nbsp;');
}

.entypo.icon-music {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe802;&nbsp;');
}

.entypo.icon-search {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe803;&nbsp;');
}

.entypo.icon-flashlight {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe804;&nbsp;');
}

.entypo.icon-mail {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe805;&nbsp;');
}

.entypo.icon-heart {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe806;&nbsp;');
}

.entypo.icon-heart-empty {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe807;&nbsp;');
}

.entypo.icon-star {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe808;&nbsp;');
}

.entypo.icon-star-empty {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe809;&nbsp;');
}

.entypo.icon-user {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe80a;&nbsp;');
}

.entypo.icon-users {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe80b;&nbsp;');
}

.entypo.icon-user-add {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe80c;&nbsp;');
}

.entypo.icon-video {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe80d;&nbsp;');
}

.entypo.icon-picture {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe80e;&nbsp;');
}

.entypo.icon-camera {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe80f;&nbsp;');
}

.entypo.icon-layout {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe810;&nbsp;');
}

.entypo.icon-menu {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe811;&nbsp;');
}

.entypo.icon-check {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe812;&nbsp;');
}

.entypo.icon-cancel {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe813;&nbsp;');
}

.entypo.icon-logo-db {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe814;&nbsp;');
}

.entypo.icon-db-shape {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe815;&nbsp;');
}

.entypo.icon-sweden {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe816;&nbsp;');
}

.entypo.icon-smashing {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe817;&nbsp;');
}

.entypo.icon-rdio {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe818;&nbsp;');
}

.entypo.icon-rdio-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe819;&nbsp;');
}

.entypo.icon-spotify {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe81a;&nbsp;');
}

.entypo.icon-spotify-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe81b;&nbsp;');
}

.entypo.icon-qq {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe81c;&nbsp;');
}

.entypo.icon-instagram {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe81d;&nbsp;');
}

.entypo.icon-dropbox {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe81e;&nbsp;');
}

.entypo.icon-evernote {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe81f;&nbsp;');
}

.entypo.icon-flattr {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe820;&nbsp;');
}

.entypo.icon-skype {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe821;&nbsp;');
}

.entypo.icon-skype-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe822;&nbsp;');
}

.entypo.icon-renren {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe823;&nbsp;');
}

.entypo.icon-vimeo-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe824;&nbsp;');
}

.entypo.icon-flow-parallel {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe825;&nbsp;');
}

.entypo.icon-tape {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe826;&nbsp;');
}

.entypo.icon-flash {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe827;&nbsp;');
}

.entypo.icon-progress-1 {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe828;&nbsp;');
}

.entypo.icon-left-thin {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe829;&nbsp;');
}

.entypo.icon-left-open-mini {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe82a;&nbsp;');
}

.entypo.icon-lamp {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe82b;&nbsp;');
}

.entypo.icon-folder {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe82c;&nbsp;');
}

.entypo.icon-chat {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe82d;&nbsp;');
}

.entypo.icon-bell {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe82e;&nbsp;');
}

.entypo.icon-archive {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe82f;&nbsp;');
}

.entypo.icon-light-down {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe830;&nbsp;');
}

.entypo.icon-right-open-mini {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe831;&nbsp;');
}

.entypo.icon-right-thin {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe832;&nbsp;');
}

.entypo.icon-progress-2 {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe833;&nbsp;');
}

.entypo.icon-moon {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe834;&nbsp;');
}

.entypo.icon-graduation-cap {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe835;&nbsp;');
}

.entypo.icon-rocket {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe836;&nbsp;');
}

.entypo.icon-twitter {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe837;&nbsp;');
}

.entypo.icon-twitter-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe838;&nbsp;');
}

.entypo.icon-gauge {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe839;&nbsp;');
}

.entypo.icon-language {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe83a;&nbsp;');
}

.entypo.icon-flight {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe83b;&nbsp;');
}

.entypo.icon-progress-3 {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe83c;&nbsp;');
}

.entypo.icon-up-thin {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe83d;&nbsp;');
}

.entypo.icon-up-open-mini {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe83e;&nbsp;');
}

.entypo.icon-light-up {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe83f;&nbsp;');
}

.entypo.icon-box {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe840;&nbsp;');
}

.entypo.icon-attention {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe841;&nbsp;');
}

.entypo.icon-alert {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe842;&nbsp;');
}

.entypo.icon-rss {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe843;&nbsp;');
}

.entypo.icon-adjust {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe844;&nbsp;');
}

.entypo.icon-down-open-big {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe845;&nbsp;');
}

.entypo.icon-ccw {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe846;&nbsp;');
}

.entypo.icon-target {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe847;&nbsp;');
}

.entypo.icon-paper-plane {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe848;&nbsp;');
}

.entypo.icon-ticket {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe849;&nbsp;');
}

.entypo.icon-traffic-cone {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe84a;&nbsp;');
}

.entypo.icon-facebook {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe84b;&nbsp;');
}

.entypo.icon-facebook-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe84c;&nbsp;');
}

.entypo.icon-cc {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe84d;&nbsp;');
}

.entypo.icon-water {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe84e;&nbsp;');
}

.entypo.icon-leaf {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe84f;&nbsp;');
}

.entypo.icon-palette {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe850;&nbsp;');
}

.entypo.icon-cw {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe851;&nbsp;');
}

.entypo.icon-left-open-big {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe852;&nbsp;');
}

.entypo.icon-block {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe853;&nbsp;');
}

.entypo.icon-phone {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe854;&nbsp;');
}

.entypo.icon-vcard {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe855;&nbsp;');
}

.entypo.icon-address {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe856;&nbsp;');
}

.entypo.icon-cog {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe857;&nbsp;');
}

.entypo.icon-location {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe858;&nbsp;');
}

.entypo.icon-tools {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe859;&nbsp;');
}

.entypo.icon-resize-small {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe85a;&nbsp;');
}

.entypo.icon-resize-full {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe85b;&nbsp;');
}

.entypo.icon-right-open-big {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe85c;&nbsp;');
}

.entypo.icon-up-open-big {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe85d;&nbsp;');
}

.entypo.icon-level-down {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe85e;&nbsp;');
}

.entypo.icon-arrows-ccw {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe85f;&nbsp;');
}

.entypo.icon-list {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe860;&nbsp;');
}

.entypo.icon-list-add {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe861;&nbsp;');
}

.entypo.icon-lifebuoy {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe862;&nbsp;');
}

.entypo.icon-droplet {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe863;&nbsp;');
}

.entypo.icon-mouse {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe864;&nbsp;');
}

.entypo.icon-air {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe865;&nbsp;');
}

.entypo.icon-cc-nc {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe866;&nbsp;');
}

.entypo.icon-cc-by {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe867;&nbsp;');
}

.entypo.icon-facebook-squared {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe868;&nbsp;');
}

.entypo.icon-gplus {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe869;&nbsp;');
}

.entypo.icon-gplus-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe86a;&nbsp;');
}

.entypo.icon-cc-nc-eu {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe86b;&nbsp;');
}

.entypo.icon-credit-card {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe86c;&nbsp;');
}

.entypo.icon-briefcase {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe86d;&nbsp;');
}

.entypo.icon-signal {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe86e;&nbsp;');
}

.entypo.icon-level-up {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe86f;&nbsp;');
}

.entypo.icon-down {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe870;&nbsp;');
}

.entypo.icon-popup {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe871;&nbsp;');
}

.entypo.icon-share {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe872;&nbsp;');
}

.entypo.icon-map {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe873;&nbsp;');
}

.entypo.icon-direction {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe874;&nbsp;');
}

.entypo.icon-shareable {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe875;&nbsp;');
}

.entypo.icon-publish {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe876;&nbsp;');
}

.entypo.icon-left {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe877;&nbsp;');
}

.entypo.icon-shuffle {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe878;&nbsp;');
}

.entypo.icon-trophy {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe879;&nbsp;');
}

.entypo.icon-suitcase {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe87a;&nbsp;');
}

.entypo.icon-floppy {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe87b;&nbsp;');
}

.entypo.icon-cc-nc-jp {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe87c;&nbsp;');
}

.entypo.icon-pinterest-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe87d;&nbsp;');
}

.entypo.icon-tumblr {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe87e;&nbsp;');
}

.entypo.icon-pinterest {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe87f;&nbsp;');
}

.entypo.icon-cc-sa {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe880;&nbsp;');
}

.entypo.icon-cc-nd {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe881;&nbsp;');
}

.entypo.icon-megaphone {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe882;&nbsp;');
}

.entypo.icon-clipboard {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe883;&nbsp;');
}

.entypo.icon-dot {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe884;&nbsp;');
}

.entypo.icon-dot-2 {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe885;&nbsp;');
}

.entypo.icon-back-in-time {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe886;&nbsp;');
}

.entypo.icon-battery {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe887;&nbsp;');
}

.entypo.icon-loop {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe888;&nbsp;');
}

.entypo.icon-switch {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe889;&nbsp;');
}

.entypo.icon-up {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe88a;&nbsp;');
}

.entypo.icon-right {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe88b;&nbsp;');
}

.entypo.icon-window {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe88c;&nbsp;');
}

.entypo.icon-arrow-combo {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe88d;&nbsp;');
}

.entypo.icon-bag {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe88e;&nbsp;');
}

.entypo.icon-basket {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe88f;&nbsp;');
}

.entypo.icon-compass {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe890;&nbsp;');
}

.entypo.icon-cup {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe891;&nbsp;');
}

.entypo.icon-forward {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe892;&nbsp;');
}

.entypo.icon-info {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe893;&nbsp;');
}

.entypo.icon-help-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe894;&nbsp;');
}

.entypo.icon-reply-all {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe895;&nbsp;');
}

.entypo.icon-reply {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe896;&nbsp;');
}

.entypo.icon-help {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe897;&nbsp;');
}

.entypo.icon-minus-squared {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe898;&nbsp;');
}

.entypo.icon-upload-cloud {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe899;&nbsp;');
}

.entypo.icon-upload {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe89a;&nbsp;');
}

.entypo.icon-minus-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe89b;&nbsp;');
}

.entypo.icon-minus {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe89c;&nbsp;');
}

.entypo.icon-download {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe89d;&nbsp;');
}

.entypo.icon-thumbs-down {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe89e;&nbsp;');
}

.entypo.icon-plus-squared {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe89f;&nbsp;');
}

.entypo.icon-plus-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8a0;&nbsp;');
}

.entypo.icon-thumbs-up {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8a1;&nbsp;');
}

.entypo.icon-flag {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8a2;&nbsp;');
}

.entypo.icon-plus {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8a3;&nbsp;');
}

.entypo.icon-cancel-squared {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8a4;&nbsp;');
}

.entypo.icon-cancel-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8a5;&nbsp;');
}

.entypo.icon-bookmark {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8a6;&nbsp;');
}

.entypo.icon-bookmarks {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8a7;&nbsp;');
}

.entypo.icon-info-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8a8;&nbsp;');
}

.entypo.icon-back {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8a9;&nbsp;');
}

.entypo.icon-home {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8aa;&nbsp;');
}

.entypo.icon-link {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8ab;&nbsp;');
}

.entypo.icon-attach {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8ac;&nbsp;');
}

.entypo.icon-lock {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8ad;&nbsp;');
}

.entypo.icon-lock-open {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8ae;&nbsp;');
}

.entypo.icon-eye {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8af;&nbsp;');
}

.entypo.icon-tag {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8b0;&nbsp;');
}

.entypo.icon-comment {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8b1;&nbsp;');
}

.entypo.icon-keyboard {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8b2;&nbsp;');
}

.entypo.icon-retweet {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8b3;&nbsp;');
}

.entypo.icon-print {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8b4;&nbsp;');
}

.entypo.icon-feather {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8b5;&nbsp;');
}

.entypo.icon-pencil {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8b6;&nbsp;');
}

.entypo.icon-code {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8b7;&nbsp;');
}

.entypo.icon-export {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8b8;&nbsp;');
}

.entypo.icon-quote {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8b9;&nbsp;');
}

.entypo.icon-trash {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8ba;&nbsp;');
}

.entypo.icon-doc {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8bb;&nbsp;');
}

.entypo.icon-docs {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8bc;&nbsp;');
}

.entypo.icon-doc-landscape {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8bd;&nbsp;');
}

.entypo.icon-doc-text {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8be;&nbsp;');
}

.entypo.icon-doc-text-inv {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8bf;&nbsp;');
}

.entypo.icon-newspaper {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8c0;&nbsp;');
}

.entypo.icon-book-open {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8c1;&nbsp;');
}

.entypo.icon-book {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8c2;&nbsp;');
}

.entypo.icon-hourglass {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8c3;&nbsp;');
}

.entypo.icon-clock {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8c4;&nbsp;');
}

.entypo.icon-volume {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8c5;&nbsp;');
}

.entypo.icon-sound {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8c6;&nbsp;');
}

.entypo.icon-mute {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8c7;&nbsp;');
}

.entypo.icon-mic {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8c8;&nbsp;');
}

.entypo.icon-logout {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8c9;&nbsp;');
}

.entypo.icon-login {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8ca;&nbsp;');
}

.entypo.icon-calendar {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8cb;&nbsp;');
}

.entypo.icon-down-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8cc;&nbsp;');
}

.entypo.icon-left-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8cd;&nbsp;');
}

.entypo.icon-right-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8ce;&nbsp;');
}

.entypo.icon-up-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8cf;&nbsp;');
}

.entypo.icon-down-open {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8d0;&nbsp;');
}

.entypo.icon-left-open {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8d1;&nbsp;');
}

.entypo.icon-right-open {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8d2;&nbsp;');
}

.entypo.icon-up-open {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8d3;&nbsp;');
}

.entypo.icon-down-open-mini {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8d4;&nbsp;');
}

.entypo.icon-down-thin {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8d5;&nbsp;');
}

.entypo.icon-up-bold {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8d6;&nbsp;');
}

.entypo.icon-right-bold {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8d7;&nbsp;');
}

.entypo.icon-fast-forward {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8d8;&nbsp;');
}

.entypo.icon-fast-backward {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8d9;&nbsp;');
}

.entypo.icon-progress-0 {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8da;&nbsp;');
}

.entypo.icon-left-bold {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8db;&nbsp;');
}

.entypo.icon-to-start {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8dc;&nbsp;');
}

.entypo.icon-down-bold {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8dd;&nbsp;');
}

.entypo.icon-to-end {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8de;&nbsp;');
}

.entypo.icon-record {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8df;&nbsp;');
}

.entypo.icon-up-dir {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8e0;&nbsp;');
}

.entypo.icon-right-dir {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8e1;&nbsp;');
}

.entypo.icon-pause {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8e2;&nbsp;');
}

.entypo.icon-stop {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8e3;&nbsp;');
}

.entypo.icon-left-dir {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8e4;&nbsp;');
}

.entypo.icon-down-dir {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8e5;&nbsp;');
}

.entypo.icon-play {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8e6;&nbsp;');
}

.entypo.icon-monitor {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8e7;&nbsp;');
}

.entypo.icon-mobile {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8e8;&nbsp;');
}

.entypo.icon-network {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8e9;&nbsp;');
}

.entypo.icon-cd {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8ea;&nbsp;');
}

.entypo.icon-inbox {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8eb;&nbsp;');
}

.entypo.icon-install {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8ec;&nbsp;');
}

.entypo.icon-globe {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8ed;&nbsp;');
}

.entypo.icon-cloud {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8ee;&nbsp;');
}

.entypo.icon-cloud-thunder {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8ef;&nbsp;');
}

.entypo.icon-chart-area {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8f0;&nbsp;');
}

.entypo.icon-chart-bar {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8f1;&nbsp;');
}

.entypo.icon-chart-line {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8f2;&nbsp;');
}

.entypo.icon-chart-pie {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8f3;&nbsp;');
}

.entypo.icon-erase {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8f4;&nbsp;');
}

.entypo.icon-infinity {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8f5;&nbsp;');
}

.entypo.icon-magnet {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8f6;&nbsp;');
}

.entypo.icon-brush {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8f7;&nbsp;');
}

.entypo.icon-dot-3 {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8f8;&nbsp;');
}

.entypo.icon-database {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8f9;&nbsp;');
}

.entypo.icon-cc-pd {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8fa;&nbsp;');
}

.entypo.icon-tumblr-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8fb;&nbsp;');
}

.entypo.icon-linkedin {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8fc;&nbsp;');
}

.entypo.icon-cc-zero {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8fd;&nbsp;');
}

.entypo.icon-drive {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8fe;&nbsp;');
}

.entypo.icon-sina-weibo {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe8ff;&nbsp;');
}

.entypo.icon-paypal {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe900;&nbsp;');
}

.entypo.icon-linkedin-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe901;&nbsp;');
}

.entypo.icon-cc-share {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe902;&nbsp;');
}

.entypo.icon-bucket {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe903;&nbsp;');
}

.entypo.icon-thermometer {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe904;&nbsp;');
}

.entypo.icon-cc-remix {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe905;&nbsp;');
}

.entypo.icon-dribbble {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe906;&nbsp;');
}

.entypo.icon-picasa {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe907;&nbsp;');
}

.entypo.icon-soundcloud {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe908;&nbsp;');
}

.entypo.icon-dribbble-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe909;&nbsp;');
}

.entypo.icon-github {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe90a;&nbsp;');
}

.entypo.icon-key {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe90b;&nbsp;');
}

.entypo.icon-flow-cascade {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe90c;&nbsp;');
}

.entypo.icon-github-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe90d;&nbsp;');
}

.entypo.icon-stumbleupon {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe90e;&nbsp;');
}

.entypo.icon-mixi {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe90f;&nbsp;');
}

.entypo.icon-behance {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe910;&nbsp;');
}

.entypo.icon-stumbleupon-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe911;&nbsp;');
}

.entypo.icon-flickr {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe912;&nbsp;');
}

.entypo.icon-flow-branch {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe913;&nbsp;');
}

.entypo.icon-flow-tree {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe914;&nbsp;');
}

.entypo.icon-flickr-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe915;&nbsp;');
}

.entypo.icon-lastfm {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe916;&nbsp;');
}

.entypo.icon-google-circles {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe917;&nbsp;');
}

.entypo.icon-vkontakte {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe918;&nbsp;');
}

.entypo.icon-lastfm-circled {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe919;&nbsp;');
}

.entypo.icon-vimeo {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe91a;&nbsp;');
}

.entypo.icon-flow-line {
    *zoom: expression( this.entypo.runtimeStyle['zoom'] = '1', this.entypo.innerHTML = '&#xe91b;&nbsp;');
}