<h4>What is a Credit Verification Value/Card Verification Code (CVV/CVC)?</h4>
<small>The Card Verification Code (CVC) is a 3-digit number found on the signature panel on the back of your credit card. It
    is an additional safeguard that helps us validate your purchase and protect against fraud. It is not contained in
    the magnetic stripe information and is therefore not printed on sales receipts.
</small>
<hr/>
<h4>Where is the CVV/CVC located?</h4>

<div class="clearfix spacer-sm">
    <div class="pull-left m-r-15">
        <img src='{%image_1%}' style="width:50px;"/>
    </div>
    <div class="overflow-hide">
        <p>Visa's Card Verification Value (CVV) is a three-digit number on the back of your card. The full credit card number is
            reprinted in the signature box and at the end of the number is the CVV.</p>
    </div>
</div>

<div class="clearfix spacer-sm">
    <div class="pull-left m-r-15">
        <img src='{%image_2%}' style="width:50px;"/>
    </div>
    <div class="overflow-hide">
        <p>
            Validation Code (CVC) is a three-digit number on the back of your card. The full credit card number is reprinted in
            the signature box and at the end of the number is the CVC.
        </p>
    </div>
</div>

<div class="clearfix spacer-sm">
    <div class="pull-left m-r-15">
        <img src='{%image_3%}' style="width:50px;"/>
    </div>
    <div class="overflow-hide">
        <p>
        <p>Card Identification Digits (CID) refers to the 4-digit number on the front of the Card above the Card number. You
            have been requested to provide this information for American Express to validate for security reasons.</p>
        </p>
    </div>
</div>
