<div class="display-block">
    <img class="m-r-10" src="{%image_1%}"/>
    <img class="m-r-10" src="{%image_2%}"/>
    <img class="m-r-10" src="{%image_3%}"/>
</div>
<div class="well spacer-sm">
    <p>MasterCard® SecureCode™ is a new service from MasterCard and your card issuer that provides added protection when you buy online. There is no need to get a new MasterCard or Maestro® card. You choose your own personal MasterCard SecureCode and it is never shared with any merchant. A private code means added protection against unauthorized use of your credit or debit card when you shop online.</p>
    <p>Every time you pay online with your MasterCard or Maestro card, a box pops up from your card issuer asking you for your personal SecureCode, just like the bank does at the ATM. In seconds, your card issuer confirms it"s you and allows your purchase to be completed..</p>
</div>
<ul class="list">
    <li><h4><a target="_blank" href="https://www.mastercard.us/en-us/frequently-asked-questions.html">Read the FAQ</a></h4></li>
    <li><h4><a target="_blank" href="https://www.mastercard.us/en-us/consumers/features-benefits/securecode.html">Learn more about the Mastercard SecureCode</a></h4></li>
</ul>