<div class="display-block">
    <img src="{%image_1%}"/>
</div>
<div class="well spacer-sm">
    <p>Verified by Visa is a new service that allows you to shop online with your Visa card with added confidence.</p>
    <p>Verified by Visa is free to Visa cardholders and was developed to help prevent unauthorized use of Visa cards online.</p>
    <p>Verified by Visa protects Visa cards with personal passwords. You register your card just once and create your own password. Once your card is activated, your card number with be recognized whenever it’s used at participating online retailers.</p>
    <p>A Verified by Visa window will automatically appear and your Visa card Issuer will ask you for your password. Enter your password to verify your identity and securely complete your purchase.</p>
    <p>At online stores not yet participating in Verified by Visa, your Visa card will continue to function as usual.</p>
</div>
<ul class="list">
    <li><h4><a target="_blank" href="http://www.visa.com.my/aboutvisa/index.shtml">Read the FAQ</a></h4></li>
</ul>